	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.project-tab').addClass("active");
	 });
	 </script> 
 
<<<<<<< HEAD
	<div class="sub-header  navbar-fixed-top" style="z-index:100">
	<table id="headMenu"> 

				<tr align="center">
					<!-- <td id="download" onclick="exportBug()" class=" hide">
					<img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
					</td> -->
=======
	<div class="sub-header fusion-subheader">
		<nav class="navbar navbar-inverse fusion-sub-nav">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbara">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		    </div>
		    <div class="collapse navbar-collapse sub-navbar" id="myNavbara">
		      <ul class="nav navbar-nav">
		        <li>
		            <div class="proj-img">
					    <a class="subheaderMaster" href="/projStatus">
					        <img class="imageInc" src="../img/bug/addproject.png" class="shadow" height="30px" title="Project Summary" width="30px"><br>Project Summary
					    </a>
					</div>
		        </li>
		        <li>
		            <div class="task-img">
					    <a class="subheaderMaster" href="/task">
					        <img class="imageInc" src="../img/dashboard.png" class="shadow" height="30px" title="Task Managent" width="30px"><br>Task Management
					    </a>
					</div>
		        </li>
		        <li>
		            <div class="resource-img">
					    <a class="subheaderMaster" href="/resourceView">
					        <img class="imageInc" src="../img/resource.png" class="shadow" height="30px" title="Resource Managent" width="30px"><br>Resource Managent
					    </a>
					</div>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>


 <!--    <div class="proj-img">
	    <a class="subheaderMaster" href="/projStatus">
	        <img class="imageInc" src="../img/bug/addproject.png" class="shadow" height="30px" title="Project Summary" width="30px"><br>Project Summary
	    </a>
	</div>
	<div class="task-img">
	    <a class="subheaderMaster" href="/task">
	        <img class="imageInc" src="../img/dashboard.png" class="shadow" height="30px" title="Task Managent" width="30px"><br>Task Management
	    </a>
	</div>
	<div class="resource-img">
	    <a class="subheaderMaster" href="/resourceView">
	        <img class="imageInc" src="../img/resource.png" class="shadow" height="30px" title="Resource Managent" width="30px"><br>Resource Managent
	    </a>
	</div> -->






<!-- 
	<table id="headMenu"> 

				<tr align="center">
					<td id="download" onclick="exportBug()" class=" hide">
					<img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
					</td>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd


              <td class="proj-img" style="width:100px">
				 <a href="/projStatus">
					  <img src="../img/bug/addproject.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
            <td class="task-img" style="width:100px">
				    <a href="/task">
					  <img class="imageInc" src="../img/dashboard.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
				  
				  <td class="resource-img" style="width:100px">
				    <a href="/resourceView">
						<img class="imageInc" src="../img/resource.png" class="shadow donthide" style="" 
				<img src="../img/resource.png" class="shadow donthide" style="" height="30px" width="30px" title="View Bug">

<<<<<<< HEAD
							 <!-- <b>View Bug</b> -->
					</a> 
=======
											</a> 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
				  </td> 
				</tr>

				<tr>
<<<<<<< HEAD
				<!-- <td id="downloadL" class="hide"></td> -->
=======
			
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd


				<td class="proj-img" style="width:100px;text-align:center">
						<a href="/projStatus" style="color:black">Project Summary</a>
					</td>
					<td class="task-img" style="width:100px;text-align:center">
						<a href="/task" style="color:black">Task Management</a>
					</td>
					<td class="resource-img" style="width:100px;text-align:center">
						<a href="/resourceView" style="color:black">Resource Managent</a>
					</td>
					 
				</tr>
<<<<<<< HEAD
	</table>

	</div>
	 <hr style="margin-top:40px;max-width:100%">
=======
	</table> -->

	</div>
	
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
