	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.project-tab').addClass("active");
	 });
	 </script> 
 
	<div class="sub-header" style="z-index:100">



    <div class="proj-img">
	    <a class="subheaderMaster" href="/projStatus">
	        <img class="imageInc" src="../img/bug/addproject.png" class="shadow" height="30px" title="Project Summary" width="30px"><br>Project Summary
	    </a>
	</div>
	<div class="task-img">
	    <a class="subheaderMaster" href="/task">
	        <img class="imageInc" src="../img/dashboard.png" class="shadow" height="30px" title="Task Managent" width="30px"><br>Task Management
	    </a>
	</div>
	<div class="resource-img">
	    <a class="subheaderMaster" href="/resourceView">
	        <img class="imageInc" src="../img/resource.png" class="shadow" height="30px" title="Resource Managent" width="30px"><br>Resource Managent
	    </a>
	</div>






<!-- 
	<table id="headMenu"> 

				<tr align="center">
					<td id="download" onclick="exportBug()" class=" hide">
					<img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
					</td>


              <td class="proj-img" style="width:100px">
				 <a href="/projStatus">
					  <img src="../img/bug/addproject.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
            <td class="task-img" style="width:100px">
				    <a href="/task">
					  <img class="imageInc" src="../img/dashboard.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
				  
				  <td class="resource-img" style="width:100px">
				    <a href="/resourceView">
						<img class="imageInc" src="../img/resource.png" class="shadow donthide" style="" 
				<img src="../img/resource.png" class="shadow donthide" style="" height="30px" width="30px" title="View Bug">

											</a> 
				  </td> 
				</tr>

				<tr>
			


				<td class="proj-img" style="width:100px;text-align:center">
						<a href="/projStatus" style="color:black">Project Summary</a>
					</td>
					<td class="task-img" style="width:100px;text-align:center">
						<a href="/task" style="color:black">Task Management</a>
					</td>
					<td class="resource-img" style="width:100px;text-align:center">
						<a href="/resourceView" style="color:black">Resource Managent</a>
					</td>
					 
				</tr>
	</table> -->

	</div>
	
