	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.project-tab').addClass("active");
	 });
	 </script> 
 
	<div class="sub-header  navbar-fixed-top" >
	<table id="headMenu"> 

				<tr align="center">
					<!-- <td id="download" onclick="exportBug()" class=" hide">
					<img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
					</td> -->


              <td class="proj-img" style="width:100px">
				 <a href="/projStatus">
					  <img src="../img/bug/addproject.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
            <td class="task-img" style="width:100px">
				    <a href="/task">
					  <img class="imageInc" src="../img/dashboard.png" class="shadow donthide" style="" height="30px" width="30px" title="Manage Task">
					</a>
				  </td>
				  
				  <td class="resource-img" style="width:100px">
				    <a href="/resourceView">
						<img class="imageInc" src="../img/resource.png" class="shadow donthide" style="" 
				<img src="../img/resource.png" class="shadow donthide" style="" height="30px" width="30px" title="View Bug">

							 <!-- <b>View Bug</b> -->
					</a> 
				  </td> 
				</tr>

				<tr>
				<!-- <td id="downloadL" class="hide"></td> -->


				<td class="proj-img" style="width:100px;text-align:center">
						<a href="/projStatus" style="color:black">Project Summary</a>
					</td>
					<td class="task-img" style="width:100px;text-align:center">
						<a href="/task" style="color:black">Task Management</a>
					</td>
					<td class="resource-img" style="width:100px;text-align:center">
						<a href="/resourceView" style="color:black">Resource Managent</a>
					</td>
					 
				</tr>
	</table>

	</div>
	 <hr style="margin-top:40px;max-width:100%">