<head> 
    <% include ../partials/head %>
  
    <% include ../partials/adminheader %>

    <% include header %>

</head>

<style>
	.row{margin:0%;
		margin:0%;}
</style>

<html>	
<script>
$(document).ready(function() {
  $('.resource-img').addClass('active');
 $('#resourceTable').dataTable();
  });
function projectByResource(uid){
	 $.ajax({   
                    url:'/projectByResource',
                    type:'post',
                    data:{
                      "resId":uid                     
                    },

                  success:function(data){
                   console.log(" hi iam in success",data);
                	 }
                  });
}
//$('#resourceTable').dataTable();
</script>
	<title>Resource Management</title>	
	<body>
	<div class="row secondry-color" style="  max-height: 500px;height: 500px">
		<div class="row">
		 <span class="modal-title" style="padding-left:40%"> List of All Resources</span>
			 
		</div>
		<div style="padding: 2%">
		 <table id="resourceTable" class="table stripe cell-border hover" >
		 	<thead>
		 		<tr>
			 		<th>Resource Name</th>
			 		<th>Project Name</th>
			 		<th>Total Allocated</th>
			 		<th>Action</th>
		 		</tr>
		 </thead>
		<tbody>
		 	<%console.log("List of All Resources",allResources);for(var i=0;i<allResources[0].length;i++){%>		 			
		 		<tr>
		 			<td><%=allResources[0][i].firstName%></td>
			 		<td><%=allResources[0][i].projectTitle%></td>
			 		<td><%=allResources[0][i].percentAllocated%></td>
			 		<td> <a  data-toggle='modal' data-target='#vRes' onclick='projectByResource(<%=allResources[0][i].id%>)' style="cursor: pointer">View</a></td>		
		 		</tr>
		 	<%}%>
		</tbody>
	</table>
	</div>
</div>


	</body>
</html>
		
 <% include ../partials/footer %>	


   <!------------------------------editTask/addSubTask---------------------------->
        <div class="modal fade" id="vRes" style="height:auto">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="express2">
                    <div class="modal-header" style="background-color:#f05f40;height:40px">
                       <center>
                             <h4 id="taskModalHeading" class="modal-title" style="color:white;font-size:14pt;margin-top: -8px">Project Allocation</h4>
                              <button type="button" class="close" data-dismiss="modal" style="float:right;margin-top: -28px">&times;</button>
                             </center>
                    </div>
                    <div class="modal-body" id="iremarkdiv" style="margin:10px;min-height: 140px">
                    <div class="row">
                    <div class="col-md-4">
                    	<label>Project1:</label><input type="number" placeholder="%" class="form-control"></input>	
                    </div>
                    <div class="col-md-4">
                    	<label>Project2:</label><input type="number" placeholder="%" class="form-control"></input>	
                    </div>
                    <div class="col-md-4"> 
                    	<label>Project3:</label><input type="number" placeholder="%" class="form-control"></input>	
                    </div>
                    </div>
                    <div class="row" style="text-align: center;padding-top: 2%">
                    	<hr style="border-color:#DADADA;max-width: 90%">
                    	<label style="color:#DADADA">Total out of 100</label>
                    </div>
                     <span class="glyphicon glyphicon-floppy-disk" id="esave" title="save" data-dismiss="modal"   style="color: black;float: right;font-size: 18px;margin: 18px"></span>
                    </div>
                </div>
            </div>
        </div>