<!--   <div class="se-pre-con"></div>
   -->
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color:white;font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;padding-right:10px;padding-left:10px">

     <div class="navbar-header">
        <% if(logo){%>
          <a href="/portal">  <img src="/attach/<%=logo%>"  height="70px" width="70px" /></a>
            <%}else {%>
              <a href="/portal"> <img src="/images/brand_logo.gif" href="/portal"  height="70px" width="70px" /></a>
                <%}%>
    </div>
<div align="center">
        <ul class="nav navbar-nav navbar-right"  >
                      <%if(roleid==1){%>
                    <li  class="modulemenu active setting-tab" >
                        <a  class="page-scroll " href="/portal"  >  <label class="header-title" >Setting </label>  </a>
                    </li>
                    <%}%>
                        <%if(myModules.indexOf(1)>=0){%>
                    <li class="modulemenu bug-tab" >
                        <a  class="page-scroll " href="/bugHome">  <label class="header-title" >BUG </label>  </a>
                    </li>
                           <%}%>
                        <%if(myModules.indexOf(6)>=0){%>
                     <li class="modulemenu document-tab">
                        <a class="page-scroll " href="/document"><label class="header-title" onclick="return verifyCustomRole()" style="color:">DOCUMENT  </label></a>
                    </li>
                           <%}%>
                         <%if(myModules.indexOf(3)>=0){%>

                     <li class="modulemenu expense-tab">
                        <a class="page-scroll " href="/expense"><label class="header-title">EXPENSE  </label></a>
                    </li>
       <%}%>
                        <%if(myModules.indexOf(4)>=0){%>
                     <li class="modulemenu asset-tab" >
                        <a class="page-scroll " href="/asset"><b class="header-title">ASSET  </b></a>
                    </li >
       <%}%>
                        <%if(myModules.indexOf(2)>=0){%>
                     <li class="modulemenu timesheet-tab">
                        <a class="page-scroll " href="/timesheet"><label class="header-title">TIMESHEET  </label></a>
                    </li>
                   <%}%>

                   
                     <%if(myModules.indexOf(7)>=0){%>
                     <li class="modulemenu rms-tab">
                        <a class="page-scroll " href="/rms"><label class="header-title">RMS  </label></a>
                    </li>
                   <%}%>

                     <%if(myModules.indexOf(5)>=0){%>
                     <li class="modulemenu project-tab">
                        <a class="page-scroll " href="/task"><label class="header-title">Project</label></a>
                    </li>
                   <%}%>
                  
                    <li style=" float:right ;" title="Logout">
                        <a class="imageInc" href="/logout"><img src="/img/logout.png" id="logout" width="25px" height="25px" style=" margin-top:-2px "/></a>
                    </li> 
                    <li style=" float:right"title="Change Password">
                        <a data-toggle='modal'data-target='#changepass'>
                    <img class="imageInc" src="/img/change.png"  id="changepassimg" width="25px" height="25px" style="margin-top:-5px;float:right;"/>
                    </a>
                    </li>
                    <li class="modulemenu">
                    <a><label class="header-title"style="color:#f04050; ">Hi, <%= user%> </label></a>
                    </li>   
        </ul>

</div>

    <!-- <div align="center">
        <label class="portal-header">Welcome to Lemonade portal.</label>
        <a href="/logout"><button type="button" class="btn btn-primary" style="float:right;margin:0 1% 0 1%">Log Out</button></a>
        <label style="color:#f05f40;float:right; margin-top:.5%">Hi, <1%=user%1> </label>
    </div> -->
  
</nav>
  
<div   class="sub-header">
   <!--      <hr style="max-width:100%"> -->
       <%if((roleid==1)&&(hideFlag==1)){%>
        <table class="portal-menu" style="width:70%">
            <tr align="center">
             <td class="master-img" style="width:12%">
                    <%if(roleid==1){%>
                        <a href="/masters">
                            <img class="imageInc" src="../img/bug/setting.png" class="shadow"  height="30px" width="30px">
                        </a>
                        <%}%>
                </td>
                <td class="user-img"style="width:10%">
                    <%if(roleid==1){%>
                        <a href="/users">
                            <img class="imageInc" src="../img/bug/adduser.png" class="shadow"   height="30px" title="View/Add User" width="30px">
                        </a>
                        <%}%>
                </td>



                
                <td class="client-img"style="width:10%">
                    <%if(roleid==1){%>
                       <a href="/clients?inactive=false">
                            <img class="imageInc" src="../img/bug/addclient.png" class="shadow" style="" height="30px" title="View/Add Client" width="30px">
                        </a>
                        <%}%>
                </td>
                <td class="project-img"style="width:10%">
                    <%if(roleid==1){%>
                        <a href="/projectDetails">
                            <img class="imageInc" src="../img/bug/addproject.png" class="shadow" style="" title="View/Add Project" height="30px" width="30px">
                        </a>
                        <%}%>
                </td>
                <td class="wbs-img"style="width:10%">
                    <%if(roleid==1){%>
                        <a href="/wbsDetails">
                            <img class="imageInc" src="../img/bug/wbs.png" class="shadow" style=" " title="View/Add WBS" height="30px" width="30px">
                        </a>
                        <%}%>
                </td>
               
               

                <td class="assignment-img"style="width:10%">
                   <%if(roleid==1){%>
                    <a href="/assignment">
                        <img class="imageInc" src="../img/bug/addbug.png" class="shadow" style=" " height="30px" title="Add/Edit Assingment" width="30px">
                    </a>
                    <%}%>
                </td>
                <td class="profile-img"style="width:10%">
                    <%if(roleid==1){%>
                        <a href="/profile">
                            <img class="imageInc" src="../img/bug/profile.png" class="shadow" style=" " title="Edit Profile" height="30px" width="30px">
                        </a>
                        <%}%>
                </td>

                <td class="mail-img"style="width:10%">
                   <%if(roleid==1){%>
                    <a href='/mailServerInfo'>
                        <img class="imageInc" src="../img/mailserver.png" class="shadow" style=" " height="30px" title="Configure SMTP Details" width="30px">

                    </a>
                    <%}%>
                </td>
                 
                 
            </tr>

             <tr style="font-size:12px;color:black" align="center">
                             <%if(roleid==1){%>
                                <td class="master-img">Masters</td>
                                <%}%>
                            <%if(roleid==1){%>
                           <td class="user-img"> User</td>
                            <%}%>
                            <%if(roleid==1){%>
                            <td class="client-img"> Client</td>
                            <%}%>
                            <%if(roleid==1){%>
                            <td class="project-img"> Project</td>
                            <%}%>
                            <%if(roleid==1){%>
                            <td class="wbs-img"> WBS</td>
                            <%}%>
                           
                           
                              <%if(roleid==1){%>
                            <td class="assignment-img">Assignment</td>
                            <%}%>
                             <%if(roleid==1){%>
                            <td class="profile-img">Profile</td>
                            <%}%>
                          
                            <%if(roleid==1){%>
                            <td class="mail-img">Mails</td>
                            <%}%>
                            <%if(roleid==1){%>
                           <!--  <td class="calen-img">Calender Setting</td> -->
                            <%}%>
                            
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
            </table>
<%}%>

    
</div>
    <hr id="hr" style="max-width:100%">
<center>
<div class="modal fade" id="changepass" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="express2">
                <div class="modal-header" style="background-color:#f05f40;">
                    <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Change Password</b></label></center>
                </div>
                <div id="err" class="col-lg-6 col-sm-offset-3"></div>
                <div class="modal-body">
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Old Password:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="password" maxlength="45" class="form-control" id="oldpass" style="margin-top:10px;" name="oldpass" />
                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">New Password:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="password" maxlength="45" style="margin-top:10px;" class="form-control" id="newpass" name="newpass" />
                        </div>
                    </div>
                    <div class="col-md-12 a">
                        <div class="col-md-4">
                            <label style="line-height:42px !important;">Confirm Password:</label>
                        </div>
                        <div class="col-md-8">
                            <input type="password" maxlength="150" style="margin-top:10px;" class="form-control" id="confpass" name="confpass" />
                        </div>
                    </div>
                   <br/>
                    <div class="modal-footer" style="border-top:0px;">
                        <center>
                            <button id="cancel" type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white">Cancel</button>
                            <a  onclick="return changePassword()" class="btn btn-default" style="margin-top:10px;background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;color:white">Submit</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<script type="text/javascript">
     $(document).ready(function() {
        $('#cancel').click(function(){       
        $('#newpass').val('');
        $('#confpass').val('');
        $('#oldpass').val('');
     });
        if($('.portal-menu').hasClass('hide')){
            $('setting-tab').removeClass('active');
        }
        $('#changepassimg').css('cursor', 'pointer');
     });

    function verifyCustomRole(){
        var check=1;
        $.ajax({
            url:'/verifyCustomRole',
            async: false,
            type: 'get',
            success: function(data) {
                
               if(data!=0){
                
                      return true ;
                }
                else{
                       check=0;
                }
            },
            error: function(){
                alert("error");
            },
            dataType: 'JSON',
        });
        if(check==0){
            alert("Error : you are not assigned any CustomRole , please contact admin ");
            window.location.href="\portal";
            return false ;
            
        }
        else{
           
           return true ;
        }
    }
     
    function changePassword(){
        var oldbox=$('#oldpass').val();
        var newpass=$('#newpass').val();
        if (oldbox.trim()==''){
        alert("Please enter valid Old Password!");
        return false;
        }
        if (newpass.trim()==''){
        alert("Please enter valid New Password!");
        return false;
        }
        if (newpass!=$('#confpass').val()){
        alert("Confirm Password does not match!");
        return false;
        }
    
        else {    
        $.ajax({
        url:'/changePassword',
        method: 'POST',
        data:{"pass":newpass,'oldpass':oldbox},
        success: function(data) {
            //alert(data[0].i);
            if(data=='1'){
            alert("Password Changed Successfully");
          window.location.reload();}
            else{alert("Old Password incorrect!");}
         
        },
        dataType: 'JSON',
    });}
}
</script>
