<html>
<head>
  <% include ../partials/head %>
</head>
<div>
  <% include  ../partials/adminheader %>
</div>
<title>Error</title>
<body>
  <script>
    $(document).ready(function() {
      $('.setting-tab').removeClass('active');
    });
  </script>
  <div class="container">
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="margin-top:10%;border:2px solid #e7e7e7;height:200px;padding-bottom:10px;padding-top:15px;box-shadow: 0px 0px 0px 2px #e7e7e7;">
        <div class="col-lg-12" style="border:2px solid #e7e7e7;height:170px;text-align:center;font:size:25pt;font-family:cursive;color:#9C9595;box-shadow: 0px 0px 0px 2px #e7e7e7;"> <label style="     -webkit-transform: rotate(-24deg);
    font-size: 35pt;
    margin-top: 53px;
">Sorry</label> </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-3"> </div>
    <div class="col-lg-6" style="margin-top:30px;color:#7e7e7e;padding-left:30px;" class="center">
      <center><label style="color:#7e7e7e;font-size:20pt;">Whooops! Something went wrong !!!
</label></center>
      </label>
    </div>
    <div class="col-lg-3"> </div>
  </div>
  <div class="col-lg-12">
    <center><label style="color:#7e7e7e;font-size:10pt;"> Please Contact Admin</label> </div>
</body>
<footer>
  <% include ../partials/footer %>
</footer>

</html>