 
 <section id="contact" style="padding:0px;width:100% ;" >
        <div class="container" style="width:100%;padding-left: 0px;padding-right: 0px">
            <div class="row" style="width:100%">
             
             <hr style="max-width:100%">

                <div class="col-lg-8 col-lg-offset-2 text-center" style=" ">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+91 (120) 435 0400</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:contactus@polestarllp">contactus@polestarllp.com</a></p>
                </div>
            </div>
        </div>
	</section>
 
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/js/creative.js"></script>
        <script type="text/javascript" src="/js/chosen.jquery.js"></script>   


    
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">


    <script type="text/javascript" src="/js/jquery.dataTables.columnFilter.js"></script> 
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/multiple-select.js" ></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="/js/sol.js"></script>
     <script src="/js/jquery.editable-select.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.min.js"></script>
<script type="text/javascript">
/* $(document).ready(function() {
       $('.se-pre-con').fadeIn('slow');
     $('.se-pre-con').fadeOut('slow');

 }*/
</script>
  
<script src="/js/jquery.tagger.js"></script>
 
