<section id="contact" style="padding:0px;width:100% ;">
  <div class="container index-container" style="width:100%;padding-left: 0px;padding-right: 0px">
    <div class="row" style="width:100%">
      <hr style="max-width:100%">
      <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top: 1%">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center"> <i class="fa fa-phone fa-3x wow bounceIn"></i>
        <p>+91 (120) 435 0900</p>
      </div>
      <div class="col-lg-4 text-center"> <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:contactus@polestarllp">contactus@polestarllp.com</a></p>
      </div>
    </div>
  </div>
</section>
<<<<<<< HEAD
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
=======
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
