
<section id="contact" style="padding:0px;width:100% ;">
    <div class="container index-container" style="width:100%;padding-left: 0px;padding-right: 0px">
        <div class="row" style="width:100%">
          <hr style="max-width:100%">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top: 1%">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+91 (120) 435 0900</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:contactus@polestarllp">contactus@polestarllp.com</a></p>
            </div>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- <script src="/js/tinymce.min.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/creative.min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
<script type="text/javascript" src="/js/jquery.dataTables.columnFilter.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/multiple-select.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.multiselect.js"></script>
<script type="text/javascript" src="/js/sol.min.js"></script>
<script src="/js/jquery.editable-select.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.datetimepicker.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.flash.min.js"></script>
<script src="/js/jszip.min.js"></script>
<script src="/js/vfs_fonts.min.js"></script>
<script src="/js/buttons.html5.min.js"></script>
<script src="/js/buttons.print.min.js"></script>
<script src="/js/alasql.min.js"></script>
<script src="/js/jquery.tagger.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/commonFunc.min.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
 
<script type="text/javascript">
    $(document).ready(function() {
        footer();
    });

    function footer() {
        $.ajax({
            url: '/dayRemaining',
            method: 'POST',
            data: {},
            success: function(data) {
                if (data != -1) {
                    $('#daysNotify').removeClass("hide");
                    if (data > 0)
                        $('.daysNotification').html("<i class='icofont icofont-sand-clock'></i> " + data + " Days Left");
                    else if (data <= 0) {
                        $('.daysNotification').html("<i class='icofont icofont-sand-clock'></i> 0 Days Left");
                    }
                }
            },
            dataType: 'JSON',
        });
    }
</script>