    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Polestar </title>

 
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

<link href="/css/jquery.editable-select.min.css" rel="stylesheet">
<link href="/css/jquery.editable-select.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/creative.css" type="text/css">
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

    
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<!--  <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script> -->
    <link rel="stylesheet" href="/css/multiple-select.css" />
    


<link href="css/searchableOptionList.css" rel="stylesheet">
<link href="css/jquery.multiselect.css" rel="stylesheet">


<!-- datatable files ends here -->
<!-- Custom CSS -->
<link href="css/simple-sidebar.css" rel="stylesheet">
<link href="css/styleTable.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.4.5/jquery.datetimepicker.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="css/jquery.tagger.css" />
<script src="javascripts1/chosen.jquery.js"></script>
<link rel="stylesheet" href="stylesheets1/stylesheets/chosen.css">