
<div class="sub-header fusion-subheader clearfix" id="main-header-fusion">
<%if(((roleid==1)&&(hideFlag==1))||(assetrole== 1)){%>
<nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbar1">
      <ul class="nav navbar-nav">
        <%if((roleid==1)||(assetrole== 1)){%>
        <li>
            <div class="master-img">
                <a class="subheaderMaster" href="/masters">
                    <img class="imageInc" src="../img/bug/setting.png" class="shadow" height="30px" width="30px"><br>Masters
                </a>
            </div>
        </li>
        <%}%>
        <%if(roleid==1){%>
        <li>
            <div class="user-img">
                <a class="subheaderMaster" href="/users">
                    <img class="imageInc" src="../img/bug/adduser.png" class="shadow" style=" " height="30px" title="View/Add User" width="30px"><br>User
                </a>
            </div>
        </li>
        <li>
            <div class="client-img" >
                <a class="subheaderMaster" href="/clients?inactive=false">
                 <img class="imageInc" src="../img/bug/addclient.png" class="shadow" style="" height="30px" title="View/Add Client" width="30px"><br>Client
              </a>
            </div>
        </li>
        <li>
            <div class="project-img">
                <a class="subheaderMaster" href="/projectDetails"> 
                    <img class="imageInc" src="../img/bug/addproject.png" class="shadow" style="" title="View/Add Project" height="30px" width="30px"><br>Project
                </a>
            </div>
        </li>
        <li>
            <div class="wbs-img">
                <a class="subheaderMaster" href="/wbsDetails">
                    <img class="imageInc" src="../img/bug/wbs.png" class="shadow" style=" " title="View/Add WBS" height="30px" width="30px"><br>WBS
                </a>
            </div>
        </li>
        <li>
            <div class="assignment-img">
                <a class="subheaderMaster" href="/assignment"> 
                    <img class="imageInc" src="../img/bug/addbug.png" class="shadow" style=" " height="30px" title="Add/Edit Assignment" width="30px"><br>Assignment
                </a>
            </div>
        </li>
        <li>
            <div class="profile-img">
                <a class="subheaderMaster" href="/profile">
                    <img class="imageInc" src="../img/bug/profile.png" class="shadow" style=" " title="Edit Profile" height="30px" width="30px"><br>Profile
                </a>
            </div>
        </li>
        <li>
            <div class="mail-img">
                <a class="subheaderMaster" href='/mailServerInfo'> 
                    <img class="imageInc" src="../img/mailserver.png" class="shadow" style=" " height="30px" title="Configure SMTP Details" width="30px"><br>Mails
                </a>
            </div>
        </li>
        <li>
            <div class="report-img">
                <a class="subheaderMaster" href='/reports'> 
                  <img class="imageInc" src="../img/report.png" class="shadow" style=" " height="30px" title="view Hierarchy Reports" width="30px"><br>Reports
                </a>
            </div>
        </li>
        <li>
            <div class="report-img">
                <a class="headerMaster" href='/TimesheetReport'>
                    <img class="imageInc" src="../img/report.png" class="shadow" style=" " height="30px" title="view Hierarchy Reports" width="30px"><br>TimesheetReport
                </a>
            </div>
        </li>
        <li>
            <div class="report-img1">
                <a class="headerMaster" href='/projecttreeview'>
                    <img class="imageInc" src="../img/tree.png" class="shadow" style=" " height="30px" title="view Hierarchy Project" width="30px"><br>ProjectTree
                </a>
            </div>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
<%}%>

 <!--  <%if(((roleid==1)&&(hideFlag==1))||(assetrole== 1)){%>
<%if((roleid==1)||(assetrole== 1)){%>
<div class="master-img">
    <a class="subheaderMaster" href="/masters">
        <img class="imageInc" src="../img/bug/setting.png" class="shadow" height="30px" width="30px"><br>Masters
    </a>
</div>
<%}%>
<%if(roleid==1){%>
<div class="user-img">
    <a class="subheaderMaster" href="/users">
        <img class="imageInc" src="../img/bug/adduser.png" class="shadow" style=" " height="30px" title="View/Add User" width="30px"><br>User
    </a>
</div>
<div class="client-img" >
    <a class="subheaderMaster" href="/clients?inactive=false">
     <img class="imageInc" src="../img/bug/addclient.png" class="shadow" style="" height="30px" title="View/Add Client" width="30px"><br>Client
  </a>
</div>
<div class="project-img">
    <a class="subheaderMaster" href="/projectDetails"> 
        <img class="imageInc" src="../img/bug/addproject.png" class="shadow" style="" title="View/Add Project" height="30px" width="30px"><br>Project
    </a>
</div>
<div class="wbs-img">
    <a class="subheaderMaster" href="/wbsDetails">
        <img class="imageInc" src="../img/bug/wbs.png" class="shadow" style=" " title="View/Add WBS" height="30px" width="30px"><br>WBS
    </a>
</div>
<div class="assignment-img">
    <a class="subheaderMaster" href="/assignment"> 
        <img class="imageInc" src="../img/bug/addbug.png" class="shadow" style=" " height="30px" title="Add/Edit Assignment" width="30px"><br>Assignment
    </a>
</div>
<div class="profile-img">
    <a class="subheaderMaster" href="/profile">
        <img class="imageInc" src="../img/bug/profile.png" class="shadow" style=" " title="Edit Profile" height="30px" width="30px"><br>Profile
    </a>
</div>
<div class="mail-img">
    <a class="subheaderMaster" href='/mailServerInfo'> 
        <img class="imageInc" src="../img/mailserver.png" class="shadow" style=" " height="30px" title="Configure SMTP Details" width="30px"><br>Mails
    </a>
</div>
<div class="report-img">
  <a class="subheaderMaster" href='/reports'> 
      <img class="imageInc" src="../img/report.png" class="shadow" style=" " height="30px" title="view Hierarchy Reports" width="30px"><br>Reports
  </a>
</div>
<div class="report-img">
    <a class="headerMaster" href='/TimesheetReport'>
        <img class="imageInc" src="../img/report.png" class="shadow" style=" " height="30px" title="view Hierarchy Reports" width="30px"><br>TimesheetReport
    </a>
</div>

<%}%>


    <%}%> -->
</div>