<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <script>
            $(document).ready(function() {                

                $("#odate").datepicker();
                $("#odate").addClass('hide');
         $.ajax({
            url: '/checkShedule',
            type: 'post',
            data: {
                   },
            dataType: 'json',
            success: function(data) { 
                console.log(data,'-------------',data[0][0].schedule,'---------flag-----',data[1][0].flag,data[0][0].startDate);
                 if(data[1][0].flag == 1)
                 { $('#sub').prop('disabled',true);
                    if(data[0][0].schedule == 1){$('#sat').prop('checked', true);}
                    if(data[0][0].schedule == 2){$('#sun').prop('checked', true);}
                    if(data[0][0].schedule == 3)
                    {
                    $('#asat').prop('checked', true);
                    $('#odate').val(data[0][0].startDate).prop('disabled',true);
                    $("#odate").removeClass('hide');
                    }
                    if(data[0][0].schedule == 4){$('#satnsaun').prop('checked', true);}
                    $('#sat').prop('disabled',true);
                    $('#sun').prop('disabled',true);
                    $('#satnsaun').prop('disabled',true);
                    $('#asat').prop('disabled',true);
                 }
                                                            
                }
        });
})
function doSomething(id)
 { 
     if(id== 'sat' || id=='sun'|| id== 'satnsaun')
        $("#odate").addClass('hide');
     if(id=='asat')
  $("#odate").removeClass('hide');
    //$("#odate").addClass('show');
}

function submit(){
   
var date=$('#odate').val();
    if(document.getElementById('sat').checked || document.getElementById('sun').checked || document.getElementById('asat').checked ||document.getElementById('satnsaun').checked ){
        if(document.getElementById('asat').checked){
            if(date==""){
                  alert("Date cannot be empty!!! Please Enter valid Date");
                return false;
              }
          }
    
     if(confirm('Are you sure to submit Permanentely?'))
     addSchedule();


    }
    else {
alert("Please select any criteria!!!");
        return false;}
}

function addSchedule(){
    var id="";
    if(document.getElementById('sat').checked)
               id=$('#sat').val();
    if(document.getElementById('sun').checked)
               id=$('#sun').val();
    if(document.getElementById('satnsaun').checked) 
               id=$('#satnsaun').val();
    if(document.getElementById('asat').checked)
               id=$('#asat').val();   
    
    alert(id);
        var date=$('#odate').val()
        $.ajax({
            url: '/addSchedule',
            type: 'post',
            data: {'schedule': id,
                    'date':$('#odate').val()
                },
            dataType: 'json',
            success: function(data) { 
                 alert("Updaetd Successfully");
                          window.location.reload();                                          
                }

        });

}
        </script>
</head>

<body>
    <div>
        <% include ./partials/adminheader %>
    </div>
    <div class="container-fluid user-list" style="background-color:antiquewhite">
        <div class="modal-header">
            <p class="pageTitle" style="margin-top:0%;text-align:center;float:none;margin-right:0%" >Timesheet Weekend Schedule</p> 
            </div>


       <div class="col-md-12">
                    <div class="col-md-5"> <label style="line-height:25px !important;">Saturday :</label> </div>
                    <div class="col-md-7" style="margin-top:3%"> <input id="sat" type="radio" name="default-module" class="default-module" value="1" onclick="doSomething(this.id)"> </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5"> <label style="line-height:25px !important;">Sunday :</label> </div>
        <div class="col-md-7" style="margin-top:3%"> <input id="sun" type="radio" name="default-module" class="default-module" value="2" onclick="doSomething(this.id)"> </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5"> <label style="line-height:25px !important;">Alternate Saturday:</label> </div>
     <div class="col-md-7" style="margin-top:3%"> <input id="asat" type="radio" name="default-module" class="default-module" value="3" onclick="doSomething(this.id)" > 
   <input placeholder="Enter Date Here"type="text" maxlength="45" style="width:35%" class="form-control" id="odate" name="odate" value=""></div>

                </div>
                <div class="col-md-12">
                    <div class="col-md-5"> <label style="line-height:25px !important;">Saturday and Sunday :</label> </div>
        <div class="col-md-7" style="margin-top:3%"> <input id="satnsaun" type="radio" name="default-module" class="default-module" value="4" onclick="doSomething(this.id)"> </div>
                </div>
           
                    <div class="modal-footer" style="border-top:0px;">
              <center> <button id="sub" class="btn btn-default" style="background-color:#f05f40;color:black;padding-top: 4px; width:100px;height:30px;margin-top:10px;color:white" onclick="return submit(this.id)">Submit</button> </center>
                </div>
            
           
                </div> <br/>
            
  
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>