<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
<% include ./partials/adminheader %>
    <style type="text/css">
.form-Label {
    padding-top: 1%;
    color: #524A4A;
    font-size: 11px;
}
    </style>
 </head>
<script>
$(".page-scroll").removeAttr('href');
$(".page-scroll").removeAttr('onclick');
$("#dropdownToggleId").removeAttr('data-toggle');
$(".dropdown-toggle").removeAttr('data-toggle');
$(".subheaderMaster").removeAttr('href');
 </script>
 
<body >


<div class="secondry-color" style="height:400px" >
<div>
	<center>
<label class="form-Label ">Change Password to get Access of Modules</label>
<div class="row"  style="margin-top:2%">
	<label class="form-Label "style="    margin-left: 0%;">New Password &nbsp &nbsp &nbsp &nbsp:</label>
	<input  class="form-textbox" id="newPass" type="password" maxlength="20">

</div>
<div class="row" style="margin-top:2%">
	<label class="form-Label ">Confirm Password &nbsp:</label>
	<input  class="form-textbox" id="confirmPass" type="password" maxlength="20"  >

</div>
<div style="margin-top:2%">
<input type="submit" value="Submit" id="" class="btn "  onclick="submitUserPassword()">
</div>	
</center>
</div>
	

</div>
</body>
 <script>
$(document).ready(function() {

 });

 $(document).on("keypress", '#newPass', function(e) {
            if (e.which == 13) {
                submitUserPassword();
                return false;
            }
        });

 $(document).on("keypress", '#confirmPass', function(e) {
            if (e.which == 13) {
                submitUserPassword();
                return false;
            }
        });
 function submitUserPassword(){
    if($("#newPass").val().trim()==""){
        alert("Invaid Password");
        return false ;
    }
    else if($("#confirmPass").val().trim()==""){
        alert("Invaid Confirm Password");
        return false ;
    }
    else if($("#newPass").val()!=$("#confirmPass").val()){
        alert("Error:Password does not match");
        return false ;
    }
    else{
             $.ajax({
            url:'/submitUserPassword',
           method: 'POST',
           data:{
            "pass":$("#newPass").val(),

        },
            success: function(data) {
              window.location.href="/portal";
            },
            error: function(){
                alert("error");
            },
            dataType: 'JSON',
        });
    }         
       
    }
     </script>

 

   
   

    <footer style="height:100px" >
        <% include ./partials/footer %>
    </footer>


</html>