<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en" ng-app="visualApp">

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js"></script>
	<% include ./partials/head %>
	<style>

		.node {
			cursor: pointer;
		}

		.node circle {
			fill: #fff;
			stroke: steelblue;
			stroke-width: 3px;
		}

		.node text {
			font: 10px sans-serif;
		}

		.link {
			fill: none;
			stroke: #ccc;
			stroke-width: 3.5px;
		}

	</style>

</head>

<body ng-controller="visualCtrl">
	
	<div>
		<% include ./partials/adminheader %>
	</div>
	
	<div class="secondry-color"  id="accordions"  style="padding-bottom:2%;font-family: Merriweather,'Helvetica Neue',Arial,sans-serif"> 
		<script src="//d3js.org/d3.v3.min.js"></script>
		<script src="/script/angular/script.js"></script>
		
</div>
</body>

<footer>
	<% include ./partials/footer %>
</footer>

</html>		  