<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
 
<body id="page-top" style="overflow-x:hidden" class="index-page">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="../img/logo.gif" width="50px" height="50px" style="margin-top:-15px"> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Product</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <input id="username" class="form-control input-sm login" name="username" type="text" placeholder="User Name" style="margin-top:10px;width:150px;margin-right:5px" required="required">
                        <div class="fLeft"><span class="error" id="errorUsername"></span></div>
                    </li>
                    <li>
                        <input id="password" class="form-control input-sm login" name="password" type="password" placeholder="Password" style="margin-top:10px;width:150px;margin-right:5px" required="required">
                        <div class="fLeft"><span class="error" id="errorPassword"></span></div>
                    </li>
                    <li>
                        <button type="button" id="signin" class="front-btn btn btn-warning page-scroll" style="height:30px;background-color:#f05f40" onclick="signIn()">Sign In</button>
                      <img src="/img/forgot.png" data-toggle='modal' data-target='#forgetpass' title="Forgot Password" class="front-btn" height="30px" width="30px" style="cursor:pointer" alt="" >
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--------------Forget password---------------->
    <div class="modal fade" id="forgetpass" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="forget">
                <div class="modal-header text-center" style="background-color:#f05f40;">
                        <h4 id="head4" class="modal-title" style="color:white;font-size:14pt;">Resend Password</h4>
                </div>
                <div class="modal-body">
                    <center><label> Enter Registered Email-Id  </label></center>
                    <input type="text" style="margin-top:5px" class="form-control" id="forgetmail" name="forgetmail" placeholder="Enter Your Email-Id" required>
                    <div class="modal-footer text-center" style="border-top:0px;">
                        <button onclick="forgetpassword()" class="btn btn-default" style=" margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;">Send</button>
                        <button id='cancel' type="reset" data-dismiss="modal" class="btn btn-default" style="background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;margin-top:10px;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header  >
        <div class="header-content">
          <div class="header-content-inner" style="z-index:1;position:relative" >
                <h1 style="color:#f05f40">"Multiple Platform One Solution"</h1>
                <hr>
                <p style="color:black" >Get a single platform to manage your multiple Sites, Applications, Codes and Task</p>
                <a class="btn btn-primary btn-xl page-scrol wow tada" data-backdrop="static" data-keyboard="false" data-toggle='modal' data-target='#1st'>Start Now</a>
            </div>
    <canvas id="c" style=""></canvas>  
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Polestar has everything you need to manage your BIG organization with multiple clients, working on multiple platforms. All at one place!</p>

                    <a href="#" class="btn btn-primary btn-xl page-scrol wow tada">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Super-Eminent GUI</h3>
                        <p class="text-muted">Easy to use for novice user</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Edge Technology</h3>
                        <p class="text-muted">This plateform is built using latest cuting edge technology</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Regular Support</h3>
                        <p class="text-muted">We are available 24/7 to help you</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#bugModal" class="portfolio-box">
                        <img src="/img/portfolio/bug.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                                <div class="project-name">
                                    Bug Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#timeModal" class="portfolio-box">
                        <img src="/img/portfolio/timesheet.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                                <div class="project-name">
                                    Timesheet Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#expenseModal" class="portfolio-box">
                        <img src="/img/portfolio/expense.jpg" style="width:auto;height:auto" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                </div>
                                <div class="project-name">
                                    Expense Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#projectModal" class="portfolio-box">
                        <img src="/img/portfolio/catalog.png" style="width:auto;height:auto" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                                <div class="project-name">
                                    Project Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#assetModal" class="portfolio-box">
                        <img src="/img/portfolio/asset.jpg" width="auto" height="auto" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                                <div class="project-name">
                                    Asset Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a style="cursor:pointer" data-toggle='modal' data-target="#documentModal" class="portfolio-box">
                        <img src="/img/portfolio/document.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">

                                </div>
                                <div class="project-name">
                                    Document Management
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">

</div>
        </div>
    </aside>


    <footer>
        <% include ./partials/footerindex %>
    </footer>

    <footer>
        <% include ./registration %>
    </footer>



    <!---------------------------------Description of Modules Models -------------------------------->
      <div class="modal fade" id="bugModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Bug Management</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Log Bugs against project and track it to closure</li>
                      <li>Allow Clients to log bugs for UAT and Support</li>
                      <li>Access rights as per roles and rights</li>
                      <li>Easy to Manage bug creation, changes and reporting</li>
                      <li>Track efforts to close the Bugs</li>
                      <li>Allows linking of Bugs to Tasks and users</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="bugModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Bug Management</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Log Bugs against project and track it to closure</li>
                      <li>Allow Clients to log bugs for UAT and Support</li>
                      <li>Access rights as per roles and rights</li>
                      <li>Easy to Manage bug creation, changes and reporting</li>
                      <li>Track efforts to close the Bugs</li>
                      <li>Allows linking of Bugs to Tasks and users</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="timeModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Timesheet Management
</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Allow users to enter time on fortnightly, weekly or monthly basis</li>
                      <li>Track time spent on the project</li>
                      <li>Track Leaves and non-productive time</li>
                      <li>Allows you to track budget for the project</li>
                      <li>Fine tune estimates for your projects</li>
                      <li>Approval mechanism where in supervisor approves timesheet of his/her subordinated</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="expenseModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style="">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Expense Management</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Track expenses raised by employee</li>
                      <li>Workflow for the approval of expenses before reimbursement</li>
                      <li>Flexible option manage the Bill submission compliance</li>
                      <li>Flexible workflow in terms of approval amount</li>
                      <li>Allows users to raised Expense every fortnight</li>
                      <li>Allows users to raise expense in multiple currency</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="projectModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Project & Tasks management Tool</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Allows project plan creation by project manager</li>
                      <li>Approval mechanism of project plan by account manager</li>
                      <li> Auto calculation of project completion based on subtasks completion % and effort</li>
                      <li>Allows user to update tasks completion %</li>
                      <li> Dependency to auto move the date of dependent tasks in case of delay of any task</li>
                      <li>Project Summary dashboard shows complete health of the projec</li>
                      <li>Shows Schedule Variance and Cost Variance</li>
                      <li>Allows to save multiple version of the plan and keep a base line version</li>
                      <li>Allows to tag resource name against the tasks name</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="documentModal" role="dialog">
            <div class="modal-dialog modal-md" style="">
                <div class="modal-content" style=" ">
                    <div class="modal-header" style="background-color:beige"  >
                        <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px">&times;</button>
                        <center>
                            <h4 id="dModalHeading" class="modal-title"  style="color:#f05f40">Document Management</h4></center>
                    </div>
                    <div class="modal-body" style=""> 
                    <ul style="list-style-type:square">
                      <li>Custom Role creation for roles and rights for document access and uploads</li>
                      <li>Document search with file name, author and other meta data</li>
                      <li>Document search based on content of the document</li>
                      <li>Admin approval mechanism before a document is uploaded in the portal</li>
                      <li>Allows Admin to Edit the meta data of the document</li>
                      <li>Allows downloads of the documents</li>
                      <li>Keeps a track of count of downloads of documents</li>
                    </ul>
                    
                    </div>

                </div>
            </div>
        </div>
       
 


    <script>
        // block address
    var blockDomain = ["gmail", "yahoo"];
    //end block address
    function signIn() {
        resetError();
        var errorUsername = $('#errorUsername');
        var errorPassword = $('#errorPassword');
      if ($('#username').val().trim().length <= 0) {
        errorUsername.text('Required Field');
        return false;
      }
      if($('#password').val().trim().length <= 0) {
        errorPassword.text('Required Field');
        return false;
      }
      $.ajax({
        url: '/checkPassword',
        type: 'post',
        data: {
          "userid": $('#username').val(),
          "password": $('#password').val(),
          "flag": 1,
        },
        dataType: 'json',
        success: function(data) {
          if (data == 0) {
            errorPassword.text("Password don't match");
          }
          else if(data==2){
            errorPassword.text("You are deactivated.Contact admin");
          }
           else {
            $.ajax({
              url: '/login',
              type: 'post',
              data: {
                "userid": $('#username').val(),
                "password": $('#password').val(),
                "flag": 1,
              },
              dataType: 'json',
              success: function(data) {
                $.ajax({
                  url: '/getNotification',
                  type: 'post',
                  data: {
                    "flagNotification": 0,
                    'moduleTypeIndex': 'index',
                    "editNotification": 0
                  },
                  dataType: 'json',
                  success: function(data) {}
                });
                setTimeout(function() {
                  if (data[0] == 2) {
                    window.location.href = "/changePassWordPage";
                  } else if (data[0] == 0) {

                    errorPassword.text("Password don't match");
                  }
                   else if (data[0] == 3) {
                   window.location.href = "/superAdmin"; 
                  }
                  else {

                    if (data[1] == 5) {
                      window.location.href = "/document";
                    } else if (data[1] == 3) {
                      window.location.href = "/expense";
                    } else if (data[1] == 4) {
                      window.location.href = "/asset";
                    } else if (data[1] == 2) {
                      window.location.href = "/timesheet";
                    } else if (data[1] == 1) {
                      window.location.href = "/bugHome";
                    } else if (data[1] == 7) {
                      window.location.href = "/rms";
                    } else if (data[1] == 5) {
                      window.location.href = "/task";
                    } else window.location.href = "portal";
                  }
                }, 40);
              }
            });
          }
        }
      });
    }
    $(document).ready(function() {
      $("#next1").click(function(event) {});
      $('.login').keyup(function(event) {
        if (event.keyCode == 13) {
          $('#signin').click();
        }
      });
    });
    var emailBlockIds = function(email) {
      var flag = 0;
      var domain = email.substring(email.lastIndexOf("@") + 1);
      var email_string_array = domain.split(".");
      for (var i = 0; i < blockDomain.length; i++) {
        if (email_string_array[0].toLowerCase() == blockDomain[i]) flag = 1;
      }
      if (flag === 1) return false;
      else return true;
    }
    var resetError = function() {
      $('#errorMcname').text('');
      $('#errorMemail').text('');
      $('#errorMpass').text('');
      var errorMfname = $('#errorMfname').text('');
      var errorMlname = $('#errorMlname').text('');
      var errorMcno = $('#errorMcno').text('');
      var errorModuleCheck = $('#errorModuleCheck').text('');
    }
    var resetField = function() {
      var comp = $('#mcname').val('');
      var eid = $('#memail').val('');
      var pas = $('#mpass').val('');
      var fsname = $('#mfname').val('');
      var lasname = $('#mlname').val('');
      var cont = $('#mcno').val('');
      var chk = $('.chk');
      chk.prop('checked', '');
    }

    function model1() {
      resetError();
      var re = /\S+@\S+\.\S+/;
      var comp = $('#mcname').val().trim();
      var eid = $('#memail').val().trim();
      var pas = $('#mpass').val().trim();
      var blcokEmailMsg = "Email Id @" + blockDomain.toString() + " is not allowed";
      var re1 = /@polestarllp.com$/;
      if (comp.length == '') {
        /*alert("Enter Company Name ! ");*/
        $('#errorMcname').text('Enter Company Name');
        $('#mcname').focus();
        $('#1st').modal("show");
      } else if (eid.length == 0) {
        /*alert("Please enter Email Id");*/
        $('#errorMemail').text('Enter Email Id');
        $('#memail').focus();
        $('#1st').modal("show");
      } else if (eid.length != 0 && !emailBlockIds(eid)) {
        /* alert(blcokEmailMsg);*/
        $('#errorMemail').text(blcokEmailMsg);
        $('#memail').focus();
        $('#1st').modal("show");
      } else if (eid.length != 0 && !re1.test(eid)) {
        /*alert("Email Id @polestarllp.com is allowed");*/
        $('#errorMemail').text('Email Id @polestarllp.com is allowed');
        $('#memail').focus();
        $('#1st').modal("show");
      } else if (pas.length == '') {
        /*alert("Choose a password ! ");*/
        $('#errorMpass').text('Enter password');
        $('#mpass').focus();
        $('#1st').modal("show");
      } else {
        $.ajax({
          url: '/EmailVerification',
          type: 'post',
          data: {
            "userid": eid,
          },
          dataType: 'json',
          success: function(data) {
            console.log(data);
            if (data[0][0].ifExist > 0) {
              /*alert("This email Id is already registered .");*/
              $('#errorMemail').text('This email Id is already registered');
            } else {
              $('#hcname').val($('#mcname').val());
              $('#hemail').val($('#memail').val());
              $('#hpass').val($('#mpass').val());
              $("#1st").modal("hide");
              $("#2nd").modal("show");
            }
          }
        });
      }
    }
    function model2() {
      resetError();
      var fsname = $('#mfname').val().trim();
      var lasname = $('#mlname').val().trim();
      var cont = $('#mcno').val().trim();
      var errorMfname = $('#errorMfname');
      var errorMlname = $('#errorMlname');
      var errorMcno = $('#errorMcno');
      if (fsname.length == '') {
        /*alert("Enter First Name ! ");*/
        $('#mfname').focus();
        errorMfname.text('Enter First Name')
        $('#2nd').modal("show");
      } else if (lasname.length == '') {
        /*alert("Enter Last Name! ");*/
        $('#mlname').focus();
        errorMlname.text('Enter Last Name');
        $('#2nd').modal("show");
      } else if (cont.length < 10 || cont.length > 11) {
        /*alert("Enter Valid Contact No.! ");*/
        $('#mcno').focus();
        errorMcno.text('Enter Valid Contact No.');
        $('#2nd').modal("show");
      } else {
        $('#hfname').val($('#mfname').val());
        $('#hlname').val($('#mlname').val());
        $('#hcno').val($('#mcno').val());
        $("#2nd").modal("hide");
        $("#3rd").modal("show");
      }
    }

    function model3() {
      $('#hmodules').val('');
      if ($('.chk:checked').length) {
        var chkId = " ";
        $('.chk:checked').each(function() {
          chkId += $(this).val() + ",";
        });
        chkId = chkId.slice(0, -1);
        $('#hmodules').val(chkId);
        $('#cMessage1').text("You have choosen : " + $('#hmodules').val() + " Modules");
        $('#confirmExpress1').modal('toggle');
        /*alert("You have choosen : " + $('#hmodules').val() + " Modules");*/
      } else {
        /*alert('No Modules Selected');*/
        $('#errorModuleCheck').text('No Modules Selected');
        $("#3rd").modal("show");
      }
    }
    var closeModuleMessage = function() {
      $("#3rd").modal("hide");
      $("#4th").modal("show");
    }

    function model4() {
      $.ajax({
        url: '/registration',
        method: 'POST',
        data: {
          'compname': $('#hcname').val(),
          'email': $('#hemail').val(),
          'pass': $('#hpass').val(),
          'fname': $('#hfname').val(),
          'lname': $('#hlname').val(),
          'cno': $('#hcno').val(),
          'modules': $('#hmodules').val()
        },
        success: function(data) {
          console.log(data);
          if (data[0][0].flag == -1) {
            alert('Something went wrong :(.');
          } else if (data[0][0].flag == 3) {
            $("#cMessage").text('Account created, Mail sending failed. Please contact admin.');
            $('#confirmExpress2').modal('toggle');
            /*alert('Account created, Mail sending failed. Please contact admin.');*/
          } else if (data[0][0].flag > 0) {
            $("#cMessage").text('EmailId is already exist.Please register again with different email id.');
            $('#confirmExpress2').modal('toggle');
            /*alert('EmailId is already exist.Please register again with different email id.');*/
          } else {
            $("#cMessage").text("Verify Your Account by clicking the confirmation link sent on your registered E-Mail id.");
            $('#confirmExpress2').modal('toggle');
            /*alert("Verify Your Account by clicking the confirmation link sent on your registered E-Mail id.");*/
          }
        },
        dataType: 'JSON',
      });
    }
    var closeRegisterMessage = function() {
      $("#4th").modal("hide");
      resetError();
      resetField();
    }

    function forgetpassword() {
      var re = /\S+@\S+\.\S+/;
      if (!re.test($('#forgetmail').val())) {
        alert("Enter valid Email Id");
        $("#forgetpass").modal("show");
      } else {
        $.ajax({
          url: '/recoverPassword',
          method: 'POST',
          data: {
            'femail': $('#forgetmail').val()
          },
          success: function(data) {
            if (data[0][0].flag == -1) {
              alert('Something went wrong :(.');
            } else if (data[0][0].flag == 3) {
              alert('Password has been reset, Mail sending failed. Please contact admin.');
            } else if (data[0][0].flag == 4) {
              alert('Email id is not registered. Please contact admin.');
            } else {
              alert("Password has been sent on your Email-Id");
              window.location.reload();
            }
          },
          dataType: 'JSON',
        });
      }
    }

    function validate1st() {
      var Eid = document.forms["reg"]["email"].value;
      var cname = document.forms["reg"]["compname"].value;
      var Pass = document.forms["reg"]["password"].value;
      if (cname == null || cname == "") {
        alert("Company Name must be filled out");
        return false;
      }
      if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(reg.eid.value))) {
        alert("You have entered an invalid email address!");
        return (false)
      }
      if (Pass == null || Pass == "") {
        alert("Password must be filled out");
        return false;
        $("#1st").modal("hide");
        $("#2nd").modal("show");
      }
    }

    function validate2nd() {
      var Fname = document.forms["reg"]["firstname"].value;
      var Lname = document.forms["reg"]["lastname"].value;
      var myImage = document.forms["reg"]["logo"].value;
      var imgE = myImage.substr((myImage.lastIndexOf('.') + 1));
      if (imgE != 'jpg' || imgE != 'png' || imgE != 'gif' || imgE != 'jpeg' || imgE != 'bmp') {
        alert("Upload valid Image");
        return false;
      }
      if (Fname == null || Fname == "") {
        alert("Name must be filled out");
        return false;
      }
      if (Lname == null || Lname == "") {
        alert("Last Name must be filled out");
        return false;
      }
    }

    function addmodules() {
      alert("Adding Values");
      $('#3rd :checkbox:checked').each(function() {
        $('#checkedmodules').append(', ' + $(this).val());
      });
    }

    function Next() {
      document.getElementsByClassName('circle1')[0].style.color = "grey";
      document.getElementsByClassName('circle2')[0].style.color = "white";
      $("#divReg").addClass('hide');
      $("#divDetail").removeClass('hide');
    }

    function goingBack(flag) {
      if (flag == 2) {
        $("#1st").modal();
      } else if (flag == 3) {
        $("#2nd").modal();
      } else if (flag == 4) {
        $("#3rd").modal();
      }
    }
    var timeOut = function(id) {
        setTimeout(function(id) {
            $(id).text('');
        },3000);
    }
    var resetError = function() {
        $('.error').text('');
        $('.success').text('');
    }
    </script>
</body>
</html>
