<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
<style>

.glyphicon-ok-circle{
  color:green!important;
 }

</style>
<script type="text/javascript">
var otable='';
$(document).ready(function() {

$('.se-pre-con').fadeOut('slow');
    var abc=$('#pstatus11').val();
    projectStatus(abc);
 $('.project-img').addClass('active');

 
  wbstable=$('#wbsTable').dataTable({
    'iDisplayLength': 10,
    "order":[],
    "bDestroy": true, 
    "info":false,
  });

  assignmentTable=$('#assignmentTable').dataTable({
    'iDisplayLength': 10,
    "order":[],
    "bDestroy": true, 
    "info":false,
  });



  $('#pstatus11').change(function() {
          otable.ajax.reload();
        });

$('#bugtable tbody').on('click', 'tr', function () {
   ch=$(this).children();
   
  this.id="row_"+$(ch[0]).children()[0].id.split('_')[1];
  allWBS($(ch[0]).children()[0].id.split('_')[1]);
 
  
     } );



});

function checkedit(){

    return true;
}


function formatDate(date) {
                  date1=date.getFullYear();
                 if (date1 < 1970) {
                              date.setFullYear(date1 + 100);
                          } 

                    var d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();
                       
                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                }



 function projectStatus(st){

  
    otable = $("#bugtable").DataTable({
                "ajax": {
                    url: '/projectStatus',
                    type: 'POST',
                    data: function(d){
                      d.status=$("#pstatus11").val();
                    }
                },

                "info":false,
                "autoWidth": true,
                "lengthMenu":[[5,10,20,-1],[5,10,20,10000]],
                  "processing": true,
                  "serverSide": true,
                   "columns": [
                { "data": "projectTitle" },
                { "data": "pcode" },
                { "data": "ptype" },
                { "data": "plannedStartDate"},
                { "data": "plannedEndDate" },
                { "data": "lastupdatedby" },
                { "data": "openbug" },
                { "data": "closedbug"},
                { "data": "closedbug"}
                ],

                "columnDefs": [ 
                {
                       "targets": 0,
                        "render": function(data,type,row){
                           
                             var a= "<a href='/projectWbs?pid="+row.id+"' id=pp_"+row.id+">"+row.projectTitle+"</a>";
                         return a;
                              

                       }
                     },
                     {
                       "targets": 2,
                        "render": function(data,type,row){
                           
                           if(data=='timeinmaterial')
                           {
                           return 'Time in Material';
                            }
                            else
                              return 'Fixed Cost';

                       }
                     },
                     {
                       "targets": 3,
                        "render": function(data,type,row){
                     
                        var a="<input type='text' readonly='true'  style='cursor: pointer;border:0px' id='psdate_"+row.id+"' value="+row.plannedStartDate+" onchange='updateWbsAssignment("+row.id+",0,0,1)'><div class='col-sm-12 fLeft'><span class='error' id='errorPsdate_"+row.id+"'></span></div>";

                       $('body').on('focus',"#psdate_"+row.id, function(){
                           $(this).datetimepicker({
                                 timepicker:false,
                                 format:"m/d/y",
                                     scrollMouse: false,
                                     scrollInput: false
                                });
                       });
                      return a;

                          
                       }
                     },
                      {
                       "targets": 4,
                        "render": function(data,type,row){
                     
                        var a="<input type='text' readonly='true'  style='cursor: pointer;border:0px' id='pedate_"+row.id+"' value="+row.plannedEndDate+" onchange='updateWbsAssignment("+row.id+",0,0,1)'><div class='col-sm-12 fLeft'><span class='error' id='errorPedate_"+row.id+"'></span></div>";

                       $('body').on('focus',"#pedate_"+row.id, function(){
                           $(this).datetimepicker({
                                 timepicker:false,
                                 format:"m/d/y",
                                     scrollMouse: false,
                                     scrollInput: false
                                });
                       });
                      return a;

                          
                       }
                     },
                     {
                      "targets": 8,
                      "render":function(data,type,row){
                        var my_html;

                        if(row.isActive==1){

                          if(row.projectTitle != 'DummyProject'){
                            
                                my_html='<a  onclick="projectAddEdit('+row.id+',1)"> <span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit Project"></span></a>  <a  onclick=" actinact('+row.id+',1,0)"><span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span></a>';
                            }
                            else{
                              my_html='';
                            }
                        }
                        else{
                            my_html='<a onclick=" actinact('+row.id+',0,0)"> <span class="glyphicon glyphicon-remove-sign" style="color:red;width: 24px;height:10px;" title="Click to active"></span></a>';
                        }

                         return my_html;
                      }
                     }
 ]
 
});
 }
   

  
 

 function allWBS(pid){




$("#bugtable").dataTable().$("tr").addClass('hide');

$("#bugtable").dataTable().$("tr").removeClass('active-row');



            $("#row_"+pid).addClass('active-row');
          
$(".active-row").removeClass('hide');


    
    $('#wbstable1').removeClass('hide');
    
    $.ajax({
                url: '/AssignmentWBSForProject',
                type: 'post',
                data: { "pid": pid ,"wbsid":0,"flag":1},
                success: function(data) {



                    var log = '',log1='',log2='';

                    for (var i = data[0].length - 1; i >= 0; i--) {
                            if (data[0][i].WBSName == null) {
                                data[0][i].WBSName = '';
                            }
                            if (data[0][i].WBSCode == null) {
                                data[0][i].WBSCode = '';
                            }
                            if (data[0][i].wplannedStartDate == null) {
                                data[0][i].wplannedStartDate = '';
                            }
                            if (data[0][i].wplannedEndDate == null) {
                                data[0][i].wplannedEndDate = '';
                            }
                            if (data[0][i].wactualStartDate == null) {
                                data[0][i].wactualStartDate = '';
                            }
                            if (data[0][i].wactualEndDate == null) {
                                data[0][i].wactualEndDate = '';
                            }
                          
                            var sdate=data[0][i].plannedStartDate;
                      var edate=data[0][i].plannedEndDate;
                      var date = new Date(sdate);
                            var date1 = new Date(edate);

                            var date = formatDate(date);
                            var date1 = formatDate(date1);
                            var date=new Date(date);
                            var date1=new Date(date1);

                            if(data[0][i].wactualStartDate=='00/00/00'){data[0][i].wactualStartDate='';}
                      if(data[0][i].wactualEndDate=='00/00/00'){data[0][i].wactualEndDate='';}


                            log = log + '<tr  id="wbsrow_'+data[0][i].WBSId+'" class="rows1"  style=height:20px;color:grey;font-size:12px onclick="allAssignmentForWBS('+data[0][i].WBSId+');"><td><input type="text"  style="cursor: pointer;border:0px"   readonly="true"  id="wbsname_'+data[0][i].WBSId+'" value="' + data[0][i].WBSName + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text"  style="cursor: pointer;border:0px" class="wpsdate" readonly="true"  id="wpsdate_'+data[0][i].WBSId+'"  value="' + data[0][i].wplannedStartDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text" readonly="true"   class="wpedate" id="wpedate_'+data[0][i].WBSId+'" style="cursor: pointer;border:0px" value="' + data[0][i].wplannedEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text"  readonly="true" id="wasdate_'+data[0][i].WBSId+'" class="wasdate"  style="cursor: pointer;border:0px"  value="' + data[0][i].wactualStartDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td><td><input type="text" readonly="true"  id="waedate_'+data[0][i].WBSId+'" class="waedate"   style="cursor: pointer;border:0px"  value="' + data[0][i].wactualEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+',0,2)"></td></tr>';


                                $('body').on('focus',"#wpsdate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                                $('body').on('focus',"#wpedate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: date,
                                    maxDate: date1
                                         });
                                });
                                $('body').on('focus',"#wasdate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                                         });
                                });
                                $('body').on('focus',"#waedate_"+data[0][i].WBSId, function(){
                                    $(this).datetimepicker({
                                          timepicker:false,
                                          format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false
                                         });
                                });
                        }

       



                    wbstable.fnDestroy();
                    $('#wbsTableBody').html(log);           
                   

$('#wbsTable').dataTable();
 wbstable.$('tr:first').click();
                }
            });
 
 }

 function allAssignmentForWBS(wbsid){

    $(".rows1").removeClass('active-row');
            $("#wbsrow_"+wbsid).addClass('active-row');

    $('#assignmenttable1').removeClass('hide');


    $.ajax({
                url: '/AssignmentWBSForProject',
                type: 'post',
                data: {"pid": 0 ,"wbsid":wbsid,"flag":2},
                success: function(data) {
                    var log = '',log1='',log2='';
                    for (var i = data[0].length - 1; i >= 0; i--) {

                     
                        var sdate=data[0][i].wplannedStartDate;
                      var edate=data[0][i].wplannedEndDate;
                            var date = new Date(sdate);
                            var date1 = new Date(edate);

                          date = formatDate(date);
                           date1 = formatDate(date1);
                             date=new Date(date);
                             date1=new Date(date1);

                            var adate=data[0][i].AssignmentDate;
                            var adate1=data[0][i].AssignmentEndDate;
                             adate=new Date(adate);
                             adate1=new Date(adate1);
                              adate = new Date(formatDate(adate));
                             adate1 = new Date(formatDate(adate1));
                          

                            
                            log = log + '<tr  id="assignmentrow_'+data[0][i].id+'" onclick="abc('+data[0][i].id+');" class="rows2" style=height:20px;color:grey;font-size:12px><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" value="' + data[0][i].projectTitle + '"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" id="asname_'+data[0][i].id+'" value="' + data[0][i].WBSName + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td><td><input type="text" style="cursor: pointer;border:0px"   readonly="true" value="' + data[0][i].firstName + '"></td><td><input type="text" readonly="true"  id="aasdate_'+data[0][i].id+'"  style="cursor: pointer;border:0px"  value="' + data[0][i].AssignmentDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td><td><input type="text" readonly="true"  id="aaedate_'+data[0][i].id+'" style="cursor: pointer;border:0px"    value="' + data[0][i].AssignmentEndDate + '" onchange="updateWbsAssignment(0,'+data[0][i].WBSId+','+data[0][i].id+',3)"></td></tr>';

                            setdate(data[0][i].id,date,adate1,adate,date1);

                            


                        }

                    assignmentTable.fnDestroy();
                    $('#assignmentTableBody').html(log);           
                    

                        $('#assignmentTable').dataTable();

                }

            });
 }

 function setdate(id,a,b,c,d){


  $('body').on('focus',"#aasdate_"+id, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: a,
                                    maxDate: b
                                     });
                            });
                            $('body').on('focus',"#aaedate_"+id, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: c,
                                    maxDate: d
                                     });
                            });



 }

 function abc(wbsid){
    $(".rows2").removeClass('active-row');
            $("#assignmentrow_"+wbsid).addClass('active-row');
 }
 function checkWBS(wbsid,pid){
                resetError();
                var errorPsdate = $('#errorPsdate_'+pid);
                var errorPedate = $('#errorPedate_'+pid);
                wbsname=$('#wbsname_'+wbsid).val();
                wpsdate=$('#wpsdate_'+wbsid).val();
                wpedate=$('#wpedate_'+wbsid).val();
                wasdate=$('#wasdate_'+wbsid).val();
                waedate=$('#waedate_'+wbsid).val();
                var sdate = new Date(wpsdate);
                var edate = new Date(wpedate);
                var asdate = new Date(wasdate);
                var aedate = new Date(waedate);
                if (sdate > edate) {
                    errorPedate.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (waedate != '') {
                    if (wasdate != '') {
                        if (asdate > aedate) {
                            errorPedate.text('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        errorPsdate.text('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }
 function checkAssignment(asid,pid){
                resetError();
                var errorPsdate = $('#errorPsdate_'+pid);
                var errorPedate = $('#errorPedate_'+pid);
                asname=$('#asname_'+asid).val();
                asdate=$('#aasdate_'+asid).val();
                aedate=$('#aaedate_'+asid).val();
                var sdate = new Date(asdate);
                var edate = new Date(aedate);
                if (sdate > edate) {
                    errorPedate.text('Planned End Date can\'t be less than Planned Start Date');
                    return false;
                }

                return true;
 }

 function checkProject(projectId){
                resetError();  
                var errorPsdate = $('#errorPsdate_'+projectId);
                var errorPedate = $('#errorPedate_'+projectId);
                var psdate=$('#psdate_'+projectId).val();
                var pedate=$('#pedate_'+projectId).val();
                var asdate=$('#asdate_'+projectId).val();
                var aedate=$('#aedate_'+projectId).val();

                var sdate = new Date(psdate);
                var edate = new Date(pedate);
                var pasdate = new Date(asdate);
                var paedate = new Date(aedate);
                if (sdate > edate) {
                    errorPedate.text('Planned End Date can not be less than Planned Start Date');
                    return false;
                }

                if (aedate != '') {
                    if (asdate != '') {
                        if (pasdate > paedate) {
                            errorPedate.text('Actual End Date can not be less than Actual Start Date');
                            return false;
                        }
                    } else {
                        errorPsdate.text('Please Select Actual Start Date');
                        return false;
                    }
                }

                return true;
 }


function updateWbsAssignment(pid,wbsid,asid,type){
  
resetError();  
var errorPsdate = $('#errorPsdate_'+pid);
var errorPedate = $('#errorPedate_'+pid);
var a=checkWBS(wbsid,pid);
var b=checkAssignment(wbsid,pid);
var c=checkProject(pid);
if(type==1){ 
    var psdate=$('#psdate_'+pid).val();
    var pedate=$('#pedate_'+pid).val();
    var asdate=$('#asdate_'+pid).val();
    var aedate=$('#aedate_'+pid).val();
         $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":pid,"psdate1":psdate,"pedate1":pedate,"asdate1":"0","aedate1":"0","assignmentid":0,"wbsid":0, "wbsname": "0","wpsdate":"0" ,"wpedate":"0", "wasdate":"0","waedate":"0","asdate":"0","aedate":"0","flag":1},
                success: function(data) {
                   $(".active-row").click();
                    if(data[0][0].msg==1){
                        errorPsdate.text('Date validations of project are not according to WBS');
                    }
                }

            });
    
}
else if(type== 2){  
    if(a==true){
    wbsname=$('#wbsname_'+wbsid).val();
   wpsdate=$('#wpsdate_'+wbsid).val();
   wpedate=$('#wpedate_'+wbsid).val();
    wasdate=$('#wasdate_'+wbsid).val();
    waedate=$('#waedate_'+wbsid).val();

   $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":0,"psdate1":"0","pedate1":"0","asdate1":"0","aedate1":"0","assignmentid":0,"wbsid":wbsid, "wbsname": wbsname,"wpsdate":wpsdate ,"wpedate":wpedate, "wasdate":wasdate,"waedate":waedate,"asdate":"0","aedate":"0","flag":2},
                success: function(data) {
                   $(".active-row").click();
                    if(data[0][0].msg==2){
                        messageBox('Date validations of WBS are not according to Assignment');
                    }
                }

            });
        }
        else{
            return false;
        }
   }
   else{ 

    if(b==true){
    asname=$('#asname_'+asid).val();
   asdate=$('#aasdate_'+asid).val();
   aedate=$('#aaedate_'+asid).val();

    $.ajax({
                url: '/updateAssignmentWBSForProject',
                type: 'post',
                data: {"pid":0,"psdate1":"0","pedate1":"0","asdate1":"0","aedate1":"0","assignmentid":asid,"wbsid":0, "wbsname": "0","wpsdate":"0" ,"wpedate":"0", "wasdate":"0","waedate":"0","asdate":asdate,"aedate":aedate,"flag":3},
                success: function(data) {
                   
                }

            });

                              adate=new Date(asdate);
                              adate1=new Date(aedate);
                              adate = new Date(formatDate(adate));
                              adate1 = new Date(formatDate(adate1));

                    $('body').on('focus',"#aasdate_"+asid, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    maxDate: adate1
                                     });
                            });
                            $('body').on('focus',"#aaedate_"+asid, function(){
                                $(this).datetimepicker({
                                      timepicker:false,
                                      format:"m/d/y",
                                    scrollMouse: false,
                                    scrollInput: false,
                                    minDate: adate
                                     });
                            });
       }
       else{
            return false;
        }
   }
 }
 
 function checkactive(st){
  confirmBox
    if(st){var r = confirm("Do you want to make this project inactive ?");}
    else{var r = confirm("Do you want to make this project active ?");}
  
    if (r == true) {
        
        return true;
    } else {
        return false;
    }
}

function doactive(value1){
  var check=value1.split(",");
  var pid,flag,allpro;
  pid = check[0];
  flag = check[1];
  allpro = check[2];
  $.ajax({
                url: '/changeProjectStatus',
                type: 'post',
                data: { "pid": pid, "flag": flag },
                success: function(data) {
                   otable.ajax.reload();
                }

  });
}

 function actinact(pid,flag,allpro){
 var chack1 = '"'+pid+','+flag+','+allpro+'"';
 if(flag)
 confirmBox2(chack1,"doactive",8);
 else
 confirmBox2(chack1,"doactive",9);
}

function projectAddEdit(projectId,flag) {
    if(flag){
    var r=checkedit();
    }

    if(flag==0) r=1;
    if(r){
                var form = document.createElement("form");
                form.action = '/projectAddEdit';
                form.method = "POST";
                form.style = "display: none";
                var hdnId = document.createElement("input");
                hdnId.type = "hidden";
                hdnId.name = "hdnId";
                hdnId.value = flag;
                var pid = document.createElement("input");
                pid.type = "hidden";
                pid.name = "pid";
                pid.value = projectId;
                form.appendChild(hdnId);
                form.appendChild(pid);
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
         }
    }
  
</script>

    <script>
    function exportProject(type)
{
      var status=$("#pstatus11").val();
     $(".se-pre-con").fadeIn("slow");
var header=['Project Title','Code','Project Type','Description','Planned Start Date','Planned End Date','Actual Start Date','Actual End Date','Last Updated By','Open Bugs','Closed Bugs','Status'];

var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
data.unshift(header);
alasql("SELECT * INTO CSV('Project.csv') FROM ?",[data]);

},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}

function showAll()
{
    otable.$('tr').removeClass('hide');
    }

</script>



 <% include ./partials/adminheader %>
 <% include ./partials/setting-header %>
</head>
<body>

<div class="se-pre-con"></div>
  <div id="ModalAdd"></div>
  <div id="ModalAddMesage"></div>
  <div class="secondry-color" style="padding: 15px">   

 <div class="row" style="text-align: center;">
    <span class="modal-title">Projects Details <span style="margin-left:10px" class="glyphicon glyphicon-fullscreen" onclick="showAll()" title="Show All" ></span></span>
 </div>
<div class="row header-top-section" style="margin: 10px 0;"> 
  <div style="display: inline-block;" class="page-top-div clearfix">
                     <a onclick="projectAddEdit(0,0)">
                    <img title="Create New" src="/img/add.png" style="height: 30px;width: 30px;float: left">
                     </a>

                     <select class="form-control input-sm" style="width: 150px;float: left" id ="pstatus11" name="pstatus" > 
                       <option value=1>Active</option>
                       <option value=0>Inactive</option>
                       <option value=2>All</option>
                              
                    </select>
</div>
                    <a id="download" style="float:right;cursor: pointer" title="Download Projects List" onclick="exportProject('project')" class="dt-button"><span class="glyphicon glyphicon-download-alt" ></span> Download</a>

                   <!--  <span id="download" class="glyphicon glyphicon-download" onclick="exportProject('project')" style="margin-left:300px;cursor: pointer;font-size:19px" title="Download Projects List" ></span> -->


 </div>
   <div  class="row" style="max-width:103%;overflow-y:auto ">  
     <table class="table stripe cell-border hover responsive" id="bugtable" style="width: 100%"  > 
               <thead> 
               <tr>
               <th  aria-label="Project title: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Project title
                  </th>
               <th aria-label="Project Code: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Project Code
                  </th>
                 <th  aria-label="Project Type: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Project Type
                  </th>
               <th  aria-label="Planned Start Date: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Planned Start Date
                  </th>
                 <th  aria-label="Planned End Date : activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Planned End Date 
                  </th>
               <th  aria-label="Last Updated: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Last Updated
                  </th>
                 <th  aria-label="Open Bugs: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Open Bugs
                  </th>
               <th  aria-label="Closed Bugs: activate to sort column ascending" rowspan="1" colspan="1" style="width: 99px;">Closed Bugs
                  </th>

            
                <th      >Action</th>
                </tr>   
                  </thead>
                  
               <tbody id="pstatus">
            
              </tbody>
            </table>
            </div>


          
          <div id="wbstable1" class="hide row" style="max-width:103%;overflow-y:auto ;margin-top:10px; ">
              <div style="margin-bottom:10px">
              <span class="modal-title" style="padding-left:45%;margin-top:10px">List of WBS for selected project</span>


              </div>

              <table class="table stripe cell-border hover responsive" id="wbsTable"   style="width: 100%"> 
                   <thead> 
                   <tr>
                    <th   >WBS Name</th>
                <th   >Planned Start Date</th>
                <th   >Planned End Date</th>
                <th   >Actual Start Date</th>
                <th   >Actual End Date</th> 
                </tr>
                      </thead>
                      
                   <tbody id="wbsTableBody">
                    
                  </tbody>
                </table>
            </div>

            <div id="assignmenttable1" class="hide row" style="max-width:103%;overflow-y:auto  ">

            <div style="margin-bottom:10px">
          <span class="modal-title" style="padding-left:45%;margin-top:10px">List of Assignments for selected WBS</span>
          </div>


              <table class="table stripe cell-border hover responsive" id="assignmentTable"  style="width: 100%" > 
                   <thead> 
                   <tr>
                   <th   >Project Name</th>
                    <th   >WBS Name</th>
                    <th> UserName</th>
                <th   >Assignment Start Date</th>
                <th   >Assignment End Date</th>
                </tr>
                      </thead>
                      
                   <tbody id="assignmentTableBody">
                    
                  </tbody>
                </table>
            </div>

</div>


 <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>