<style>
 .CSSTableGenerator {
  
  width:100%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
  
}
.CSSTableGenerator tr:nth-child(odd){ background-color:rgba(240, 202, 64, 0.16);; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
  vertical-align:middle;
  
  
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Arial;
  font-weight:bold;
  color:#000000;
}.CSSTableGenerator tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#ff7f00,bf5f00);

  background-color:#ff7f00;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#ff7f00,bf5f00);

  background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}
 </style>

 <!--------------Pop-Up menus---------------------->


<!-----------1st create New------>
    
     <div class="modal fade" id="1st" role="dialog" >
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content" id="express2">
               <div class="row" style="margin-top:5px;margin-left:20px">
                  
                  <div class="col-md-1  col-xs-1 circle" style="background-color:#f05f40;color:white">
                     <label> 1 </label>
                  </div>
                  <div class="col-md-2  col-xs-1 ">
                    <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%;border-color:grey">
                  </div>
                  <div class="col-md-1  col-xs-1   circle" style="background-color:grey;color:white">
                    <label> 2 </label>
                  </div>
                   <div class="col-md-2  col-xs-1 ">
                     <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%;border-color:grey">
                  </div>
                  <div class="col-md-1  col-xs-1  circle" style="background-color:grey;color:white">
                    <label> 3 </label>
                  </div> 
                   <div class="col-md-2  col-xs-1 ">
                    <hr style="margin-top:20px;border-color:grey;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-md-1  col-xs-1  circle" style="background-color:grey;color:white;">
                     <label  > 4 </label>
                  </div>
                  <div class="col-md-1  " style="">
                     <span id="cancel" style="margin-left: 247%;"type="reset" data-dismiss="modal" onclick="window.location.reload();" class="glyphicon glyphicon-remove"></span>
                  </div>
                  
            </div>
              
              <div class="modal-body">
                  
                      <input type="hidden" value=""id='hcname' name="hcname">
                      <input type="hidden" value=""id='hemail' name="hemail">
                      <input type="hidden" value=""id='hpass' name="hpass">
                      
                      <div class="col-md-12">
                          <input type="text"   class="form-control" maxlength="50" id="mcname" style="margin-top:10px;" name="mcname" placeholder="Company Name"    required/>
                          
                     </div>
  <div class="col-md-12 " style="margin-top:20px" >
                           <input type="text"   class="form-control" id="memail" name="memail" maxlength="50" placeholder="Email Id"   required/>
                         
                    </div>
                     <div class="col-md-12 " style="margin-top:20px" >
                         <input type="password" maxlength="20"   class="form-control" id="mpass" name="mpass" placeholder="Password"   required/>
                        
                    </div>
                  
                     <div class="col-md-12 " style="margin-top:10px">
                        
                            <label style="line-height:42px !important;">Already a User</label> <a   data-dismiss="modal"  onclick="BackTotop()">Log In</a>
                       
                    </div>
                    
                    
                    <br/>
                    <div class="modal-footer" style="border-top:0px;"> 
                           <button id='cancel' type="reset" data-dismiss="modal"  class="btn btn-default" style="float:left;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;margin-top:10px;" onclick="window.location.reload();">Cancel</button>
                           <button id="next1" onclick="model1()" class="btn btn-default" style=" float:right;margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;">Next</button>
                        
                    </div>
                
            </div>
          </div>
        </div>
    </div>
    
    <!--------------2nd pop up---------------->
    
    <div class="modal fade" id="2nd" role="dialog" >
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content" id="express2">
               <div class="row" style="margin-top:5px;margin-left:20px">
                  
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                     <label> 1 </label>
                  </div>
                  <div class="col-lg-2">
                    <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                    <label> 2 </label>
                  </div>
                   <div class="col-lg-2">
                     <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%;border-color:grey ">
                  </div>
                  <div class="col-lg-1  circle" style="background-color:grey;color:white">
                    <label> 3 </label>
                  </div>
                   <div class="col-lg-2">
                    <hr style="margin-top:20px;border-color:grey;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-lg-1  circle" style="background-color:grey;color:white">
                     <label  > 4 </label>
                  </div>
                  <div class="col-md-1  " style="">
                     <span id="cancel" style="margin-left: 247%;"type="reset" data-dismiss="modal" onclick="window.location.reload();" class="glyphicon glyphicon-remove"></span>
                  </div>
                  
            </div>
              
              <div class="modal-body">
                  
                      <input type="hidden" value=""id='hfname' name="hfname">
                      <input type="hidden" value=""id='hlname' name="hlname">
                      <input type="hidden" value=""id='hcno' name="hcno">
                      
                      <div class="col-md-12">
                          <input type="text" maxlength="20"   class="form-control" id="mfname" style="margin-top:10px;" name="mfname" placeholder="First Name"    required/>
                          
                     </div>
                     <div class="col-md-12 " style="margin-top:20px" >
                         <input type="text"  maxlength="20"   class="form-control" id="mlname" name="mlname" placeholder="Last Name"   required/>
                        
                    </div>
                   <div class="col-md-12 " style="margin-top:20px" >
                         <input type="number"  maxlength = "10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"   class="form-control" id="mcno" name="mcno" placeholder="Contact Number"   required/>
                        
                    </div>
                    
                    
                    <br/>
                    <div class="modal-footer" style="border-top:0px;">
                           <button id='cancel'onclick=" goingBack(2)" data-dismiss="modal"  class="btn btn-default" style="float:left;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;margin-top:10px;" >Back</button>
                           <button onclick="model2()"   class="btn btn-default" style=" float:right;margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;">Next</button>
                        
                    </div>
                 
            </div>
          </div>
        </div>
    </div>
    
    <!-------------------3rd popup---------------------------->
     
    
    <div class="modal fade" id="3rd" role="dialog" >
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content" id="express2">
               <div class="row" style="margin-top:5px;margin-left:20px">
                  
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                     <label> 1 </label>
                  </div>
                  <div class="col-lg-2">
                    <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                    <label> 2 </label>
                  </div>
                   <div class="col-lg-2">
                     <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%;">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                    <label> 3 </label>
                  </div>
                   <div class="col-lg-2">
                    <hr style="margin-top:20px ;max-width:none;width:147%;margin-left:-23%;border-color:grey">
                  </div>
                  <div class="col-lg-1  circle" style="background-color:grey;color:white">
                     <label  > 4 </label>
                  </div>
                  <div class="col-md-1  " style="">
                     <span id="" style="margin-left: 247%;"type="reset" data-dismiss="modal" onclick="window.location.reload();" class="glyphicon glyphicon-remove"></span>
                  </div>
                  
            </div>
              <div align="center" style="margin-top:10px;font-size:20px"> Choose Your Module</div>
              <div class="modal-body">
                  
                      <input type="hidden" value=""id='hmodules' name="hmodules">

                      <div class="row">
                          <div class="col-md-2"><label>Type :</label></div>
                          <div class="col-md-5"><input type="radio" name="offer" checked="true"> Free</div>
                          <div class="col-md-5"><input type="radio" name="offer">Paid</div>
                      </div>
                      <center>
                        <table   border="2" class="CSSTableGenerator">
                          <tr   style="font-size:15px;font-weight:2px;height:15px;color:black;text-align:center; ">
                            <th style="text-align:center" >Modules</th>
                            <th style="text-align:center" > Duration</th>
                            <th  style="text-align:center" ># Users</th>
                            <th  style="text-align:center">Action</th>
                          </tr>
                          <tr style="text-align:center" class="cellborder">
                            <td style="text-align:center" style="width:50%">Bug Management</td>
                            <td style="text-align:center">30 Days</td>
                            <td style="text-align:center" >10 Users</td>
                            <td style="text-align:center">  <input type="checkbox"   class=" chk" id="bugchek" value="Bug"    name="newusername" style=" "> </td>
                          </tr>
                          <tr>
                          <td style="text-align:center" style="width:50%"> Timesheet Management</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">10 Users</td>
                            <td style="text-align:center">  <input type="checkbox"   class="  chk" id="timecheck" value="Time" name="timecheck"  style=" " align="center" > </td>
                          </tr>
                           <tr>
                          <td style="text-align:center" style="width:50%"> Expense Management</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">20 Users</td>
                            <td style="text-align:center" > <input type="checkbox"   class="  chk" value="Expense" id="expensecheck" name="expensecheck" style="  " align="center" > </td>
                          </tr>                         
                            <tr>
                          <td style="text-align:center" style="width:50%"> Asset Management</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">20 Users</td>
                            <td style="text-align:center">   <input type="checkbox"   class="  chk" value="Asset" id="assetcheck" name="assetcheck" style=" " align="center"  >  </td>
                          </tr>
                           <tr>  
                              <tr>
                          <td style="text-align:center" style="width:50%">Recruitment Management System</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">20 Users</td>
                            <td style="text-align:center">   <input type="checkbox"   class="  chk" value="RMS" id="rmscheck" name="rmscheck" style=" " align="center"  >  </td>
                          </tr>
                               <tr>
                          <td style="text-align:center" style="width:50%">Project Management System</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">20 Users</td>
                            <td style="text-align:center">   <input type="checkbox"   class="  chk" value="Project" id="projectcheck" name="projectcheck" style=" " align="center"  >  </td>
                          </tr>
                           <tr>
                          <td style="text-align:center" style="width:50%">Document Management</td>
                          <td style="text-align:center">30 Days</td>
                            <td style="text-align:center">5 Users</td>
                            <td style="text-align:center">  <input type="checkbox"   class=" chk" value="Document" id="documentcheck" name="documentcheck" style=" " align="center" ></td>
                          </tr>
                        </table>
                      </center>
           
                    <div class="modal-footer" style="border-top:0px;">
                        
                        
                         
                           <button id=''onclick=" goingBack(3)" data-dismiss="modal"  class="btn btn-default" style="float:left;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;margin-top:10px;" >Back</button>
                           <button onclick="model3()"   class="btn btn-default" style=" float:right;margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;">Next</button>
                        
                    </div>
                 
            </div>
          </div>
        </div>
    </div>
    <!--------------4th pop up---------------->
    
    <div class="modal fade" id="4th" role="dialog" >
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content" id="express2">
               <div class="row" style="margin-top:5px;margin-left:20px">
                  
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                     <label> 1 </label>
                  </div>
                  <div class="col-lg-2">
                    <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                    <label> 2 </label>
                  </div>
                   <div class="col-lg-2">
                     <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%; ">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                    <label> 3 </label>
                  </div>
                   <div class="col-lg-2">
                    <hr style="margin-top:20px;max-width:none;width:147%;margin-left:-23%">
                  </div>
                  <div class="col-lg-1 circle" style="background-color:#f05f40;color:white">
                     <label  > 4 </label>
                  </div>
                  <div class="col-md-1  " style="">
                     <span id="cancel" style="margin-left: 247%;"type="reset" data-dismiss="modal" onclick="window.location.reload();" class="glyphicon glyphicon-remove"></span>
                  </div>
            </div>
              
              <div class="modal-body">
                 <center> 
                <img src="../img/done.jpg" height="150px" width="250px">
                    </center>
                    
                    <br/>
                    <div class="modal-footer" style="border-top:0px;">
                            <button id=''onclick="goingBack(4)" data-dismiss="modal"  class="btn btn-default" style="float:left;background-color:#f05f40;color:white;padding-top: 4px; width:100px;height:30px;margin-top:10px;" >Back</button>
                           <button onclick="model4()"   class="btn btn-default" style=" float:right;margin-top:10px;background-color:#f05f40;color:white;padding-top: 4px; width:150px;height:30px;" data-toggle='modal' data-target=' '>Ready To Use</button>
                        
                    </div>
                 
            </div>
          </div>
        </div>
    </div>
