<!DOCTYPE html>
<html lang="en">
 
<head>

    <% include ./partials/head %>
     <% include ./partials/adminheader %>
<<<<<<< HEAD
=======
     <% include ./partials/setting-header %>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
</head>

<body>

<div class="se-pre-con"></div>

<div id="ModalAdd"></div>
<<<<<<< HEAD
    <div class="secondry-color" style="padding-bottom:2%;padding-left :2%;padding-right:2%;padding-top:1%; ">
     <div class="row" style=" max-width: 103%">
              <img  onclick="addEditUser(0)" title="Create New"  class="addNewPlus"> 
              <span class="modal-title" style="padding-left:35%">User Details</span>
              <select style="float:left;width:auto; margin-bottom:1%;margin-left:10px;margin-top: 3px" class="form-text-box" id='active' name="active" onchange="userStatus()"  >
=======
    <div class="secondry-color" style="padding: 15px">
    <div style="text-align: center;">
      <span class="fusion-page-title">User Details</span>
    </div>
     <div class="row header-top-section" style="margin: 10px 0;">
      <div style="display: inline-block;" class="page-top-div clearfix">
              <img src="/img/add.png" onclick="addEditUser(0)" title="Create New"  class="addNewPlus" style="float: none;"> 
              <select style="width: 120px;display: inline-block;" class="form-control" id='active' name="active" onchange="userStatus()"  >
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                             <option value="2" >All</option>
                          <option value="0" >InActive</option>
                          <option value="1" selected >Active</option>
                         
              </select> 
<<<<<<< HEAD

              <span id="download" class="glyphicon glyphicon-download" onclick="exportUsers('user')" style="margin-left:390px;cursor: pointer;font-size:19px" title="Download Users List" ></span>


               <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%"> 
  </div>
   <div  class="row" style="max-width:103%;overflow-y:auto "> 
            <table class="table stripe cell-border hover" id="usertable">
=======
      </div>
              <a id="download" style="float:right;cursor: pointer" title="Download Users List" onclick="exportUsers('user')" class="dt-button"><span class="glyphicon glyphicon-download-alt" ></span> Download</a>

             <!--  <span id="download" class="glyphicon glyphicon-download" onclick="exportUsers('user')" style="margin-left:390px;cursor: pointer;font-size:19px" title="Download Users List" ></span>
 -->

               <!-- <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">  -->
  </div>
   <div  class="row" style="max-width:103%;overflow-y:auto "> 
            <table class="table stripe cell-border hover responsive" id="usertable">
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Id</th>
                        <th>Employee Code</th>
                        <th>Contact number</th>
                        <th>Role</th>
                        <th>Supervisor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="pstatus">
                 
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
    function set1() {
          $.ajax({
    url:'/userActive',
    method: 'POST',
    data: {
              "active":$('#active').val(),
    },

    
    success: function(data) {   
       
    },
    dataType: 'JSON',
  });
    }
    var otable='';
        $(document).ready(function() {
          $('.se-pre-con').fadeOut('slow');
<<<<<<< HEAD
         otable=$('#usertable').dataTable({
           'iDisplayLength': 10,
           "ordering": false,
            //"order":[],
            // "aoColumns": [{ "bSortable": false },{ "bSortable": false }],
            "bDestroy": true, 
            "info":false,
            /* "columnDefs": [ {
                        "targets": [0,1,2,3,4,5],
                        "orderable": false
                          } ]*/
          });
   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });
$(window).bind('resize', function () {
                otable.fnAdjustColumnSizing();
              } );
            $('.user-img').addClass('active');
           userStatus();
=======



       
   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });

            $('.user-img').addClass('active');

            var abc=$('#active').val();
           userStatus(abc);
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        });

        function addEditUser(flag) {
            var form = document.createElement("form");
            form.action = '/createEditUser';
            form.method = "POST";
            form.style = "display: none";
            var hdnId = document.createElement("input");
            hdnId.type = "hidden";
            hdnId.name = "hdnId";
            hdnId.value = flag;
            form.appendChild(hdnId);
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
       
<<<<<<< HEAD
                   
=======


                
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
        function actinact(uid,flag){
          
            var row_id="#row_"+uid;
            var rowid="row_"+uid;
            if(flag==1){
<<<<<<< HEAD
               /* if(confirm("Are you sure you want to Deactivate this user?")){*/
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
                 $.ajax({
                    url: '/changeUserStatus',
                    type: 'post',
                    data: { "uid": uid, "flag": flag },
                success: function(data) {
                    if($('#active').val()!=2)
                     otable.fnDeleteRow(row_id);
                 else{
                   
                    var arr=[];
                    for(i=1;i<=6;i++){
                        arr.push($(row_id+i).text());
                    } 
                    inact='<span style="color:red;height:10px" class="glyphicon  glyphicon-remove-sign"></span>';

                      log='<a  onclick= "actinact('+uid+',0)">'+inact+'</a>';
                    otable.fnUpdate([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],log],row_id);
                    }
                }
           });
<<<<<<< HEAD
       /* }*/
    }
        else
        {
             /*if(confirm("Are you sure you want to Activate this user?")){*/
=======
    }
        else
        {
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
             $.ajax({
                url: '/changeUserStatus',
                type: 'post',
                data: { "uid": uid, "flag": flag },
                success: function(data) {
                    if($('#active').val()!=2)
                    otable.fnDeleteRow(row_id);
                else{

                    var arr=[];
                    for(i=1;i<=6;i++){
                        arr.push($(row_id+i).text());
                    }
                     var act='<span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span>';

                     log='<a onclick=addEditUser('+uid+')><span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit user"></span></a><a  onclick= "actinact('+uid+',1)">'+act+'</a>';
                    
                    otable.fnUpdate([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],log],row_id);
                }
                }
           });
<<<<<<< HEAD
       /* }*/
        }
                }

function userStatus(){
         $.ajax({
                url: '/userStatus',
                type: 'post',
                data: { "status": $('#active').val() },
                success: function(data) {
                    console.log('sssssssssssssssssssss', data);
                    var log = '',mgrname='';
                    var act='<span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span>';

                var inact='<span style="color:red;height:10px" class="glyphicon  glyphicon-remove-sign"></span>';

                for (var i=data[0].length-1;i>=0;i--){ 
                    if(data[0][i].managerName == ""||data[0][i].managerName==null)
                          mgrname=" No Concerned Manager";
                    else 
                          mgrname=data[0][i].managerName;
                    log=log+ '<tr id=row_'+data[0][i].id+'><td id=row_'+data[0][i].id+'1'+'>'+data[0][i].firstName+'</td><td id=row_'+data[0][i].id+'2'+'>'+data[0][i].userEmail+'</td><td id=row_'+data[0][i].id+'3'+'>'+data[0][i].ecode+'</td><td id=row_'+data[0][i].id+'4'+'>'+data[0][i].contactNumber+'</td><td id=row_'+data[0][i].id+'5'+'>'+data[0][i].roleName+'</td><td id=row_'+data[0][i].id+'6'+'>'+ mgrname +'</td><td>';
                 //   if(data[0][i].isRetailer != 1) {
                            if (data[0][i].isActive) {
                                log+='<a onclick=addEditUser('+data[0][i].id+')><span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit user"></span></a><a onclick=onclick=confirmBox2("'+data[0][i].id+',0","actinact",1);>'+act+'</a>';
                              }
                            else if (data[0][i].isActive==0) {
                                            log+='<a onclick=confirmBox2("'+data[0][i].id+',1","actinact",2);>'+inact+'</a>';}
                                    }
                          /* else {
                                log+='<span style="color:green;height:10px" class="glyphicon  glyphicon-ban-circle"></span>';
                            }
                }*/
                otable.fnDestroy();
                $('#pstatus').html(log);
                otable=$('#usertable').dataTable({
                     "aLengthMenu": [[10,20,50,100,-1],["10", "20","50","100","all"]],
                    'iDisplayLength': 10,
                    "ordering": false,
                   // "order":[]
                    /*"columnDefs": [ {
                        "targets": [0,1,2,3,4,5],
                        "orderable": false
                          } ]*/
                });
                }
            });
}
=======
        }
                }


   



 function userStatus(st){
  
   otable=$('#usertable').dataTable({"bDestroy": true,
                "ajax": {
                    url: '/userStatus',
                    type: 'POST',
                    data: function(d){
                      d.status=$("#active").val();
                    }
                },
               "columns": [
                { "data": "Name"  },
                { "data": "userEmail" },
                { "data": "ecode" },
                { "data": "contactNumber"},
                { "data": "roleName" },
                { "data": "managerName" },
                { "data": "managerName" }
               ],
                
                "info":false,
                "autoWidth": true,
                "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]],
                 "processing": true,
                  "serverSide": true,
                "columnDefs": [ 

                      {
                       "targets":5,
                       "render":function(data,type,row){
                         if(row.managerName == ""||row.managerName==null)
                          {mgrname=" No Concerned Manager";
                     }
                    else 
                          mgrname=row.managerName;

                      return mgrname;
                       }
                     },


                     {
                       "targets": 6,
                        "render": function(data,type,row){
                           var my_html;
                           var act='<span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span>';

                var inact='<span style="color:red;height:10px" class="glyphicon  glyphicon-remove-sign"></span>';

                           
                            if (row.isActive) {
                                my_html='<a onclick=addEditUser('+row.id+')><span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit user"></span></a><a onclick=confirmBox2("'+row.id+',0","actinact",1);>'+act+'</a>';
                              }
                            else if (row.isActive==0) {
                                            my_html='<a onclick=confirmBox2("'+row.id+',1","actinact",2);>'+inact+'</a>';}
                                    
                           return my_html;
                       }
                     }

                     
 ]
});
}





>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
 
    </script>

    <script>
    function exportUsers(type)
{
  var status=$("#active").val();

     $(".se-pre-con").fadeIn("slow");
var header=['Employee Code','Name','Email Id','Contact Number','Role','Supervisor','User Type','Status'];

var url ='/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
<<<<<<< HEAD
    console.log('bugdata',data)
data.unshift(header);
alasql("SELECT * INTO CSV('Users.csv') FROM ?",[data]);
/*$(".se-pre-con").fadeOut("slow");
$("#btnDownloadbug").prop('disabled', false);*/
=======
data.unshift(header);
alasql("SELECT * INTO CSV('Users.csv') FROM ?",[data]);

>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}
</script>
<style>
 
<<<<<<< HEAD
.dataTables_filter, .dataTables_length {
     display: none;
    }
=======
/*.dataTables_filter, .dataTables_length {
     display: none;
    }*/
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
.glyphicon-ok-circle{
  color:green!important;
 }
</style>

</body>

</html>
