<!DOCTYPE html>
<html lang="en">
 
<head>

    <% include ./partials/head %>
     <% include ./partials/adminheader %>
     <% include ./partials/setting-header %>
</head>

<body>

<div class="se-pre-con"></div>

<div id="ModalAdd"></div>
    <div class="secondry-color" style="padding: 15px">
    <div style="text-align: center;">
      <span class="fusion-page-title">User Details</span>
    </div>
     <div class="row header-top-section" style="margin: 10px 0;">
      <div style="display: inline-block;" class="page-top-div clearfix">
              <img src="/img/add.png" onclick="addEditUser(0)" title="Create New"  class="addNewPlus" style="float: none;"> 
              <select style="width: 120px;display: inline-block;" class="form-control" id='active' name="active" onchange="userStatus()"  >
                             <option value="2" >All</option>
                          <option value="0" >InActive</option>
                          <option value="1" selected >Active</option>
                         
              </select> 
      </div>
              <a id="download" style="float:right;cursor: pointer" title="Download Users List" onclick="exportUsers('user')" class="dt-button"><span class="glyphicon glyphicon-download-alt" ></span> Download</a>

             <!--  <span id="download" class="glyphicon glyphicon-download" onclick="exportUsers('user')" style="margin-left:390px;cursor: pointer;font-size:19px" title="Download Users List" ></span>
 -->

               <!-- <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%">  -->
  </div>
   <div  class="row" style="max-width:103%;overflow-y:auto "> 
            <table class="table stripe cell-border hover responsive" id="usertable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Id</th>
                        <th>Employee Code</th>
                        <th>Contact number</th>
                        <th>Role</th>
                        <th>Supervisor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="pstatus">
                 
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
    function set1() {
          $.ajax({
    url:'/userActive',
    method: 'POST',
    data: {
              "active":$('#active').val(),
    },

    
    success: function(data) {   
       
    },
    dataType: 'JSON',
  });
    }
    var otable='';
        $(document).ready(function() {
          $('.se-pre-con').fadeOut('slow');



       
   $("#searchbox").keyup(function() {
        otable.fnFilter(this.value);
      });

            $('.user-img').addClass('active');

            var abc=$('#active').val();
           userStatus(abc);
        });

        function addEditUser(flag) {
            var form = document.createElement("form");
            form.action = '/createEditUser';
            form.method = "POST";
            form.style = "display: none";
            var hdnId = document.createElement("input");
            hdnId.type = "hidden";
            hdnId.name = "hdnId";
            hdnId.value = flag;
            form.appendChild(hdnId);
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
       


                
        function actinact(uid,flag){
          
            var row_id="#row_"+uid;
            var rowid="row_"+uid;
            if(flag==1){
                 $.ajax({
                    url: '/changeUserStatus',
                    type: 'post',
                    data: { "uid": uid, "flag": flag },
                success: function(data) {
                    if($('#active').val()!=2)
                     otable.fnDeleteRow(row_id);
                 else{
                   
                    var arr=[];
                    for(i=1;i<=6;i++){
                        arr.push($(row_id+i).text());
                    } 
                    inact='<span style="color:red;height:10px" class="glyphicon  glyphicon-remove-sign"></span>';

                      log='<a  onclick= "actinact('+uid+',0)">'+inact+'</a>';
                    otable.fnUpdate([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],log],row_id);
                    }
                }
           });
    }
        else
        {
             $.ajax({
                url: '/changeUserStatus',
                type: 'post',
                data: { "uid": uid, "flag": flag },
                success: function(data) {
                    if($('#active').val()!=2)
                    otable.fnDeleteRow(row_id);
                else{

                    var arr=[];
                    for(i=1;i<=6;i++){
                        arr.push($(row_id+i).text());
                    }
                     var act='<span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span>';

                     log='<a onclick=addEditUser('+uid+')><span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit user"></span></a><a  onclick= "actinact('+uid+',1)">'+act+'</a>';
                    
                    otable.fnUpdate([arr[0],arr[1],arr[2],arr[3],arr[4],arr[5],log],row_id);
                }
                }
           });
        }
                }


   



 function userStatus(st){
  
   otable=$('#usertable').dataTable({"bDestroy": true,
                "ajax": {
                    url: '/userStatus',
                    type: 'POST',
                    data: function(d){
                      d.status=$("#active").val();
                    }
                },
               "columns": [
                { "data": "Name"  },
                { "data": "userEmail" },
                { "data": "ecode" },
                { "data": "contactNumber"},
                { "data": "roleName" },
                { "data": "managerName" },
                { "data": "managerName" }
               ],
                
                "info":false,
                "autoWidth": true,
                "lengthMenu":[[5,10,20,-1],[5,10,20,"All"]],
                 "processing": true,
                  "serverSide": true,
                "columnDefs": [ 

                      {
                       "targets":5,
                       "render":function(data,type,row){
                         if(row.managerName == ""||row.managerName==null)
                          {mgrname=" No Concerned Manager";
                     }
                    else 
                          mgrname=row.managerName;

                      return mgrname;
                       }
                     },


                     {
                       "targets": 6,
                        "render": function(data,type,row){
                           var my_html;
                           var act='<span class="glyphicon glyphicon-ok-sign" style="color:green;height:10px;margin-left:20px;" title="click to inactive"></span>';

                var inact='<span style="color:red;height:10px" class="glyphicon  glyphicon-remove-sign"></span>';

                           
                            if (row.isActive) {
                                my_html='<a onclick=addEditUser('+row.id+')><span class="glyphicon glyphicon-pencil" style="color:red;height:10px" title="Edit user"></span></a><a onclick=confirmBox2("'+row.id+',0","actinact",1);>'+act+'</a>';
                              }
                            else if (row.isActive==0) {
                                            my_html='<a onclick=confirmBox2("'+row.id+',1","actinact",2);>'+inact+'</a>';}
                                    
                           return my_html;
                       }
                     }

                     
 ]
});
}





 
    </script>

    <script>
    function exportUsers(type)
{
  var status=$("#active").val();

     $(".se-pre-con").fadeIn("slow");
var header=['Employee Code','Name','Email Id','Contact Number','Role','Supervisor','User Type','Status'];

var url ='/exportToCsv';
$.ajax({
url: url,
method: 'POST',
data : {"type":type,'status':status},
success: function(data) {
data.unshift(header);
alasql("SELECT * INTO CSV('Users.csv') FROM ?",[data]);

},
dataType: 'JSON',
});   

$(".se-pre-con").fadeOut("slow");
}
</script>
<style>
 
/*.dataTables_filter, .dataTables_length {
     display: none;
    }*/
.glyphicon-ok-circle{
  color:green!important;
 }
</style>

</body>

</html>
