
	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.bug-tab').addClass("active");
	 });
	 </script> 
 
	<div class="sub-header fusion-subheader" style="z-index:1;">
		<nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbara">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbara">
      <ul class="nav navbar-nav">
        <li>
            <div class="bughome-img">
      			    <a class="subheaderMaster" href="/bugHome">
      			        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Bug Home" width="30px"><br>Bug Home
      			    </a>
      			</div>
        </li>
        <li>
            <div class="viewbug-img">
      			    <a class="subheaderMaster" href="/viewBug">
      			        <img class="imageInc" src="../img/bug/viewbug.png" class="shadow" height="30px" title="View Bug" width="30px"><br>View Bug
      			    </a>
      			</div>
        </li>
        <li>
            <div class="raisebug-img">
      			    <a class="subheaderMaster" href="/raiseBug">
      			        <img class="imageInc" src="../img/bug/addbug.png" class="shadow" height="30px" title="Raise Bug" width="30px"><br>Raise Bug
      			    </a>
      			</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!--  <span id="download" class="glyphicon glyphicon-download-alt hide" onclick="exportBug()" style="float:right;margin-right:40px;margin-top: 16px;cursor: pointer;font-size:19px;color:#c0efed" title="Download CSV of Bugs" ></span>
 	<div class="bughome-img">
	    <a class="subheaderMaster" href="/bugHome">
	        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Bug Home" width="30px"><br>Bug Home
	    </a>
	</div>
	<div class="viewbug-img">
	    <a class="subheaderMaster" href="/viewBug">
	        <img class="imageInc" src="../img/bug/viewbug.png" class="shadow" height="30px" title="View Bug" width="30px"><br>View Bug
	    </a>
	</div>
	<div class="raisebug-img">
	    <a class="subheaderMaster" href="/raiseBug">
	        <img class="imageInc" src="../img/bug/addbug.png" class="shadow" height="30px" title="Raise Bug" width="30px"><br>Raise Bug
	    </a>
	</div> -->

	</div>
