	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.bug-tab').addClass("active");
	 });
	 </script> 
 
	<div class="sub-header  navbar-fixed-top" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
	<table id="headMenu"> 

				<tr align="center">
					<!-- <td id="download" onclick="exportBug()" class=" hide">
					<img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
					</td> -->
				  <td class="bughome-img" style="width:100px">
				    <a href="/bugHome">
					  <img class="imageInc" src="../img/bug/home.png" class="shadow" style="" height="30px" width="30px" title="Bug Home">
							 <!-- <b>View Bug</b> -->
					</a>
					
				  </td>
				  
				  <td class="viewbug-img" style="width:100px">
				    <a href="/viewBug">
						<img class="imageInc" src="../img/bug/viewbug.png" class="shadow" style="" height="30px" width="30px" title="View Bug">
							 <!-- <b>View Bug</b> -->
					</a>
					
				  </td>
				  
				  <td class="raisebug-img" style="width:100px">
					<a href="/raiseBug">
							<img class="imageInc" src="../img/bug/addbug.png" class="shadow" style=" " height="30px" title="Raise Bug" width="30px">
							<!-- <a href="/buguser/raisebug"><b>  Raise Bug</b></a> -->
					</a>
				  </td>
				</tr>
				<tr>
				<!-- <td id="downloadL" class="hide"></td> -->
					<td class="bughome-img" style="width:100px;text-align:center">
						<a href="/bugHome" style="color:black">Bug Home</a>
					</td>
					<td class="viewbug-img" style="width:100px;text-align:center">
						<a href="/viewBug" style="color:black">View Bug</a>
					</td>
					<td class="raisebug-img" style="width:100px;text-align:center">
						<a href="/raiseBug"  style="color:black">Raise Bug</a>
					  </td>
				</tr>
	</table>

	</div>
	 <hr style="margin-top:40px;max-width:100%">