<div  class="footer"  style="width:100%;height:50px;background-color:#66caec;position:fixed;bottom:0;padding:10px;color:#002E6E;">
  <center>
  <p> Copyright © 2016 Polestar Solutions</p></center>
</div>
