<!-- <title>Recruitment Management System</title> -->

   
  <!--   <div class="col-lg-2">
  <a href="/" > <img src="/images/logo.png" height="70" width="120"/></a>
    </div>
    <div class="col-lg-8">
           <h3 class="logoheading" style="margin-left:300px" ><b>RECRUITMENT SYSTEM</b></h3>
    </div>
      -->
      <% include ./header.ejs %>

  <div class="wrapper" style="border-top:3px solid  #66CAEC;top:44%;background:linear-gradient(to bottom right, #668EEC 0%, #66CAEC 100%);margin-top:-15%;margin-bottom:0px">
    
      <div class="container">
        <h1 style="color:white;">Welcome</h1>

        <form class="col s12" action="/" method="post">
          <div class="row" style="margin-left:35%;margin-right:35%;border:black;color:black">
          <div class="row"style="margin-bottom:0px;" >
        <div class="input-field col s12" style="margin-bottom:0px;border:black;">
          <input autocomplete="off" id="email" type="text" name ="username" style="color:white;margin-top: 2%;" class="validate" required>
          <label for="email" id = "emailId" style="color:white;" >Email</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s12">
          <input autocomplete="off" id="password"style="color:white;    margin-top: 2%;" name="password" type="password" class="validate" required>
          <label for="password"style="color:white;" >Password</label>
        </div>
      </div>
          <button class="btn waves-effect waves-light" type="submit"style="background-color:#66CAEC;" name="action">Submit
    
  </button>
          <div type="button"style="cursor:pointer;color:white;" id="login-button2" onclick="forgotPassword()"><h6>Forgot Password</h6></div>
          </div>
        </form>
      </div>

      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <% include footer2.ejs %>

</div>
  <script type="text/javascript">
$(document).ready(function() {


});


  $(window).ready(function(){
   
var errorMsg = <%-JSON.stringify(error)%>;
if(errorMsg.length>1)
{
  alert(errorMsg);
}
if($('#password').val().length>1){

  $('#password').addClass('valid');
}
  });
  function forgotPassword(){
window.location.href="forgot_password";
}
</script>

  </body>

