
   <script type="text/javascript">
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.rms-tab').addClass("active");
   });
   </script> 
 
  <div class="sub-header navbar-fixed-top" style="padding-bottom:0px;z-index:1" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
  <table id="headMenu"> 

        <tr align="center">
    <%  var hrArr=[]; for(var i=0;i<role.length;i++){ hrArr[i]=role[i].hrRoleId; } %>      
 <%console.log("all hr roles assigned",hrArr); if(!(hrArr.indexOf(4)>=0&&hrArr.length==1)){%>
  <td class="dashboard-img">
      <a href="/rms">
        <img class="imageInc" style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>
<%}%>
<%if(hrArr.indexOf(4)>=0) { %>
    <td style="width:100px" class="calen-img">
      <a href="/interview">
       <img class="imageInc" style="height:30px;width:30px" src="/img/agent.png">
      </a>
    </td>     
  <%}%>
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
    <td style="width:100px" class="viewCand-img">
      <a href="/viewCandidate">
        <img class="imageInc" style="height:30px;width:30px" src="/img/candidateList.png">
      </a>
    </td>     
   
    <td style="width:100px" class="upload-img">
      <a href="/upload">
       <img class="imageInc" style="height:30px;width:30px" src="/img/folder_upload.png">
      </a>
    </td>     
  <%}%>
<%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0) { %>
    <td style="width:100px" class="raiseReq-img">
      <a href="/raiseRequisition">
        <img class="imageInc" style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>
    <%}%>
 <%if(hrArr.indexOf(3)>=0){%>   
    <td style="width:100px" class="allReq-img">
      <a href="/allrequisitions">
       <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
    <%}%>

  <%if(hrArr.indexOf(5)>=0) {%>     
      <td style="width:100px" class="reqHod-img">
      <a href="/reqHod">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(6)>=0) {%>
    
      <td style="width:100px" class="reqApprover-img" >
      <a href="/reqApprover">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(1)>=0) {%>
      <td style="width:100px" class="viewReq-img">
      <a href="/viewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>

   <%if(hrArr.indexOf(2)>=0) {%>
      <td style="width:100px" class="userHrViewReq-img">
      <a href="/userHrViewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
 </tr>
 <tr >
   <%if(!(hrArr.indexOf(4)>=0&&hrArr.length==1)) {%>
  <td style="width:100px;text-align:center" class="dashboard-img">
      <a href="/rms" style="color:black">
        Dashboard
      </a>
    </td>
<%}%>
<%if(hrArr.indexOf(4)>=0) {%>
    <td style="width:100px;text-align:center" class="calen-img">
      <a href="/interview" style="color:black" >
        Interview
      </a>
    </td>     
  <%}%>
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
    <td style="width:100px;text-align:center" class="viewCand-img">
      <a href="/viewCandidate" style="color:black">
        Candidates
      </a>
    </td>     
  
    <td style="width:100px;text-align:center" class="upload-img">
      <a href="/upload" style="color:black">
       Upload
      </a>
    </td>     
  <%}%>
<%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0) {%>
    <td style="width:100px;text-align:center" class="raiseReq-img">
      <a href="/raiseRequisition" style="color:black">
        Add Requisition
      </a>
    </td>
 <%}%>
  <%if(hrArr.indexOf(3)>=0){ %>
    <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/allrequisitions" style="color:black">
       Requisitions(HM)
      </a>
    </td>
    <%}%>

  <%if(hrArr.indexOf(5)>=0) {%>     
      <td style="width:100px;text-align:center" class="reqHod-img">
      <a href="/reqHod" style="color:black">
        Requisitions(HOD)
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(6)>=0) {%> 
      <td style="width:100px;text-align:center" class="reqApprover-img">
      <a href="/reqApprover" style="color:black">
       Requisitions(Approver)
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(1)>=0) {%>
      <td style="width:100px;text-align:center" class="viewReq-img">
      <a href="/viewReq"  style="color:black">
       Requisitions(HR Admin)
      </a>
    </td>
<%}%>

   <%if(hrArr.indexOf(2)>=0) {%>
      <td style="width:100px;text-align:center" class="userHrViewReq-img">
      <a href="/userHrViewReq"  style="color:black">
       Requisitions(HR User)
      </a>
    </td>
<%}%>
 </tr>
  </table>
  <hr style="margin-top:5px;max-width:100%">
  </div>
 