
   <script type="text/javascript">
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.rms-tab').addClass("active");
   });
   </script> 
 
<<<<<<< HEAD
  <div class="sub-header navbar-fixed-top" style="padding-bottom:0px;z-index:1" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
  <table id="headMenu"> 
=======
  <div class="sub-header fusion-subheader">
    <%  var hrArr=[]; for(var i=0;i<role.length;i++){ hrArr[i]=role[i].hrRoleId; } %>      
    <%console.log("all hr roles assigned",hrArr); %>
    <nav class="navbar navbar-inverse fusion-sub-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbara">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
        </div>
        <div class="collapse navbar-collapse sub-navbar" id="myNavbara">
          <ul class="nav navbar-nav">
            <%if(!(hrArr.indexOf(4)>=0&&hrArr.length==1)){%>
            <li>
                <div class="dashboard-img">
                    <a class="subheaderMaster" href="/rms">
                        <img class="imageInc" src="/img/dashboard.png" class="shadow" height="30px" title="Bug Home" width="30px"><br>Dashboard
                    </a>
                </div>
            </li>
            <%}%>
            <%if(hrArr.indexOf(4)>=0) { %>
            <li>
                <div class="calen-img">
                    <a class="subheaderMaster" href="/interview">
                        <img class="imageInc" src="/img/agent.png" class="shadow" height="30px" title="View Bug" width="30px"><br>Interview
                    </a>
                </div>
            </li>
            <%}%>
            <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
            <li>
                <div class="viewCand-img">
                    <a class="subheaderMaster" href="/viewCandidate">
                        <img class="imageInc" src="/img/candidateList.png" class="shadow" height="30px" title="Candidates" width="30px"><br>Candidates
                    </a>
                </div>
            </li>
            <li>
                <div class="upload-img">
                    <a class="subheaderMaster" href="/upload">
                        <img class="imageInc" src="/img/folder_upload.png" class="shadow" height="30px" title="Upload" width="30px"><br>Upload
                    </a>
                </div>
            </li>
            <%}%>
            <%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0) { %>
            <li>
                <div class="raiseReq-img">
                    <a class="subheaderMaster" href="/raiseRequisition">
                        <img class="imageInc" src="/img/write.png" class="shadow" height="30px" title="Add Requisition" width="30px"><br> Add Requisition
                    </a>
                </div>
            </li>
            <%}%>
            <%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0||hrArr.indexOf(6)>=0){%>  
            <li>
                <div class="allReq-img">
                    <a class="subheaderMaster" href="/allrequisitions">
                        <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" title="Requisitions" width="30px"><br>Requisitions
                    </a>
                </div>
            </li>
            <%}%>
            <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
            <li>
                <div class="viewReq-img">
                    <a class="subheaderMaster" href="/viewReq">
                        <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" title="RAssinged Requisitions" width="30px"><br>Assinged Requisitions
                    </a>
                </div>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
 

 <!-- <table id="headMenu"> 
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd

        <tr align="center">
    <%  var hrArr=[]; for(var i=0;i<role.length;i++){ hrArr[i]=role[i].hrRoleId; } %>      
 <%console.log("all hr roles assigned",hrArr); if(!(hrArr.indexOf(4)>=0&&hrArr.length==1)){%>
  <td class="dashboard-img">
      <a href="/rms">
        <img class="imageInc" style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>
<%}%>
<%if(hrArr.indexOf(4)>=0) { %>
    <td style="width:100px" class="calen-img">
      <a href="/interview">
       <img class="imageInc" style="height:30px;width:30px" src="/img/agent.png">
      </a>
    </td>     
  <%}%>
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
    <td style="width:100px" class="viewCand-img">
      <a href="/viewCandidate">
        <img class="imageInc" style="height:30px;width:30px" src="/img/candidateList.png">
      </a>
    </td>     
   
    <td style="width:100px" class="upload-img">
      <a href="/upload">
       <img class="imageInc" style="height:30px;width:30px" src="/img/folder_upload.png">
      </a>
    </td>     
  <%}%>
<%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0) { %>
    <td style="width:100px" class="raiseReq-img">
      <a href="/raiseRequisition">
        <img class="imageInc" style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>
    <%}%>
 <%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0||hrArr.indexOf(6)>=0){%>   
    <td style="width:100px" class="allReq-img">
      <a href="/allrequisitions">
       <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
    <%}%>
<<<<<<< HEAD

<!--   <%if(hrArr.indexOf(5)>=0) {%>     
      <td style="width:100px" class="reqHod-img">
      <a href="/reqHod">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(6)>=0) {%>
    
      <td style="width:100px" class="reqApprover-img" >
      <a href="/reqApprover">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>-->
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
      <td style="width:100px" class="viewReq-img">
      <a href="/viewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%> 

<<<<<<< HEAD
<!--    <%if(hrArr.indexOf(2)>=0) {%>
      <td style="width:100px" class="userHrViewReq-img">
      <a href="/userHrViewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%> -->
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
 </tr>
 <tr >
   <%if(!(hrArr.indexOf(4)>=0&&hrArr.length==1)) {%>
  <td style="width:100px;text-align:center" class="dashboard-img">
      <a href="/rms" style="color:black">
        Dashboard
      </a>
    </td>
<%}%>
<%if(hrArr.indexOf(4)>=0) {%>
    <td style="width:100px;text-align:center" class="calen-img">
      <a href="/interview" style="color:black" >
        Interview
      </a>
    </td>     
  <%}%>
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
    <td style="width:100px;text-align:center" class="viewCand-img">
      <a href="/viewCandidate" style="color:black">
        Candidates
      </a>
    </td>     
  
    <td style="width:100px;text-align:center" class="upload-img">
      <a href="/upload" style="color:black">
       Upload
      </a>
    </td>     
  <%}%>
<%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0) {%>
    <td style="width:100px;text-align:center" class="raiseReq-img">
      <a href="/raiseRequisition" style="color:black">
        Add Requisition
      </a>
    </td>
 <%}%>
  <%if(hrArr.indexOf(3)>=0||hrArr.indexOf(5)>=0||hrArr.indexOf(6)>=0 ){ %>
    <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/allrequisitions" style="color:black">
       Requisitions 
      </a>
    </td>
    <%}%>

<<<<<<< HEAD
<!--   <%if(hrArr.indexOf(5)>=0) {%>     
      <td style="width:100px;text-align:center" class="reqHod-img">
      <a href="/reqHod" style="color:black">
        Requisitions(HOD)
      </a>
    </td>
<%}%>
  <%if(hrArr.indexOf(6)>=0) {%> 
      <td style="width:100px;text-align:center" class="reqApprover-img">
      <a href="/reqApprover" style="color:black">
       Requisitions(Approver)
      </a>
    </td>
<%}%>-->
=======
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  <%if(hrArr.indexOf(1)>=0||hrArr.indexOf(2)>=0) {%>
      <td style="width:100px;text-align:center" class="viewReq-img">
      <a href="/viewReq"  style="color:black">
       Assinged Requisitions
      </a>
    </td>
<%}%> 

<<<<<<< HEAD
 <!--   <%if(hrArr.indexOf(2)>=0) {%>
      <td style="width:100px;text-align:center" class="userHrViewReq-img">
      <a href="/userHrViewReq"  style="color:black">
       Requisitions(HR User)
      </a>
    </td>
<%}%> -->
 </tr>
  </table>
  <hr style="margin-top:5px;max-width:100%">
=======
 </tr>
  </table> -->
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  </div>
 