
   <script type="text/javascript">
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.rms-tab').addClass("active");
   });
   </script> 
 
  <div class="sub-header navbar-fixed-top" style="padding-bottom:0px" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
  <table id="headMenu"> 

        <tr align="center">
          
 <%if(role!=4) {%>
  <td class="dashboard-img">
      <a href="/rms">
        <img class="imageInc" style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>
<%}%>
<%if(role==3) {%>
    <td style="width:100px" class="raiseReq-img">
      <a href="/raiseRequisition">
        <img class="imageInc" style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>


    <td style="width:100px" class="allReq-img">
      <a href="/allrequisitions">
       <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
    <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px" class="viewCand-img">
      <a href="/viewCandidate">
        <img class="imageInc" style="height:30px;width:30px" src="/img/candidateList.png">
      </a>
    </td>     
  <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px" class="upload-img">
      <a href="/upload">
       <img class="imageInc" style="height:30px;width:30px" src="/img/folder_upload.png">
      </a>
    </td>     
  <%}%>
  <%if(role==5) {%>
       <td style="width:100px">
      <a href="/raiseRequisition">
        <img class="imageInc" style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>
      <td style="width:100px" >
      <a href="/reqHod">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(role==6) {%>
    
      <td style="width:100px" class="allReq-img" >
      <a href="/reqApprover">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(role==1) {%>
      <td style="width:100px" class="allReq-img">
      <a href="/viewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
<%if(role==4) {%>
    <td style="width:100px" class="calen-img">
      <a href="/rms">
       <img class="imageInc" style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>     
  <%}%>
   <%if(role==2) {%>
      <td style="width:100px" class="allReq-img">
      <a href="/userHrViewReq">
        <img class="imageInc" style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
 </tr>


 <tr >
   <%if(role!=4) {%>
  <td style="width:100px;text-align:center" class="dashboard-img">
      <a href="/rms" style="color:black">
        Dashboard
      </a>
    </td>
<%}%>
<%if(role==3) {%>
    <td style="width:100px;text-align:center" class="raiseReq-img">
      <a href="/raiseRequisition" style="color:black">
        Raise Requisition
      </a>
    </td>
    <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/allrequisitions" style="color:black">
       Requisitions
      </a>
    </td>
    <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px;text-align:center" class="viewCand-img">
      <a href="/viewCandidate" style="color:black">
        Candidates
      </a>
    </td>     
  <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px;text-align:center" class="upload-img">
      <a href="/upload" style="color:black">
       Upload
      </a>
    </td>     
  <%}%>
  <%if(role==5) {%>
       <td style="width:100px;text-align:center">
      <a href="/raiseRequisition" style="color:black">
        Raise Requisition
      </a>
    </td>
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/reqHod" style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
  <%if(role==6) {%>
    
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/reqApprover" style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
  <%if(role==1) {%>
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/viewReq"  style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
<%if(role==4) {%>
    <td style="width:100px;text-align:center" class="calen-img">
      <a href="/rms" style="color:black" >
        Home
      </a>
    </td>     
  <%}%>
   <%if(role==2) {%>
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/userHrViewReq"  style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
 </tr>
  </table>
  <hr style="margin-top:5px;max-width:100%">
  </div>
 