<!-- 

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,800' rel='stylesheet' type='text/css'>

<link href="/stylesheets1/stylesheets/normalize.css" rel="stylesheet" type="text/css">
<link href="/stylesheets1/stylesheets/paytmtheme.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- <script src="http://code.jquery.com/jquery-latest.js"></script> --
<script src="/javascripts1/featherlight.js"></script>
<script src="/javascripts1/main.js"></script>

<script src="/javascripts1/chosen.jquery.js"></script>
<link rel="stylesheet" href="/stylesheets1/stylesheets/chosen.css">

<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="/javascripts1/moment.js"></script>
<script src="/javascripts1/jquery.daterangepicker.js"></script>
<link   href="/stylesheets1/stylesheets/jquery.daterangepicker.css" rel="stylesheet">


<link rel="stylesheet" href="/stylesheets1/stylesheets/responsivenormalize.css">
<link rel="stylesheet" href="/stylesheets1/stylesheets/responsivestyle.css">

  <link href="/stylesheets1/stylesheets/style.css" />



<nav id="main-menu" style="z-index:99;padding-bottom:100px">
  <div id="logo" style="margin-bottom:10px;">
    <a href="/rms">RMS</a>
  </div>
  <ul id="main-menuul" style="display:block!important;">
  <%if(role!=4) {%>
  <li>
      <a href="/rms">
        <i class="fa fa-list-alt"></i>
        <span> Dashboard </span>
      </a>
    </li>
<%}%>
<%if(role==3) {%>
    <li>
      <a href="/raiseRequisition">
        <i class="fa fa-plus-square"></i>
        <span> Raise Requisition </span>
      </a>
    </li>


    <li>
      <a href="allrequisitions">
       <i class="fa fa-indent"></i>
        <span>Requisitions</span>
        
      </a>
    </li>
    <%}%>
<%if(role==1||role==2) {%>
    <li>
      <a href="/viewCandidate">
        <i class="fa fa-user"></i>
        <span>Candidates</span>
      </a>
    </li>     
  <%}%>
<%if(role==1||role==2) {%>
    <li>
      <a href="/upload">
        <i class="fa fa-upload"></i>
        <span>Upload</span>
      </a>
    </li>     
  <%}%>
  <%if(role==5) {%>
       <li>
      <a href="/raiseRequisition">
        <i class="fa fa-plus-square"></i>
        <span> Raise Requisition </span>
      </a>
    </li>
      <li>
      <a href="/reqHod">
        <i class="fa fa-dropbox"></i>
        <span>Requisitions</span>
      </a>
    </li>
<%}%>
  <%if(role==6) {%>
    
      <li>
      <a href="/reqApprover">
        <i class="fa fa-dropbox"></i>
        <span>Requisitions</span>
      </a>
    </li>
<%}%>
  <%if(role==1) {%>
      <li>
      <a href="/viewReq">
        <i class="fa fa-dropbox"></i>
        <span>Requisitions</span>
      </a>
    </li>
<%}%>
<%if(role==4) {%>
    <li>
      <a href="/interview">
        <i class="fa fa-user"></i>
        <span>Home</span>
      </a>
    </li>     
  <%}%>

  </ul>
</nav>
 -->

   <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.rms-tab').addClass("active");
   });
   </script> 
 
  <div class="module-menubar  navbar-fixed-top" style="padding-bottom:0px" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
  <table id="headMenu"> 

        <tr align="center">
          <!-- <td id="download" onclick="exportBug()" class=" hide">
          <img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
          </td> -->
 <%if(role!=4) {%>
  <td class="dashboard-img">
      <a href="/rms">
        <img style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>
<%}%>
<%if(role==3) {%>
    <td style="width:100px" class="raiseReq-img">
      <a href="/raiseRequisition">
        <img style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>


    <td style="width:100px" class="allReq-img">
      <a href="/allrequisitions">
       <img style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
    <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px" class="viewCand-img">
      <a href="/viewCandidate">
        <img style="height:30px;width:30px" src="/img/candidateList.png">
      </a>
    </td>     
  <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px" class="upload-img">
      <a href="/upload">
       <img style="height:30px;width:30px" src="/img/folder_upload.png">
      </a>
    </td>     
  <%}%>
  <%if(role==5) {%>
       <td style="width:100px">
      <a href="/raiseRequisition">
        <img style="height:30px;width:30px" src="/img/write.png">
      </a>
    </td>
      <td style="width:100px" >
      <a href="/reqHod">
        <img style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(role==6) {%>
    
      <td style="width:100px" class="allReq-img" >
      <a href="/reqApprover">
        <img style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
  <%if(role==1) {%>
      <td style="width:100px" class="allReq-img">
      <a href="/viewReq">
        <img style="height:30px;width:30px" src="/img/lists.png">
      </a>
    </td>
<%}%>
<%if(role==4) {%>
    <td style="width:100px">
      <a href="/interview">
       <img style="height:30px;width:30px" src="/img/dashboard.png">
      </a>
    </td>     
  <%}%>
 </tr>


 <tr >
   <%if(role!=4) {%>
  <td style="width:100px;text-align:center" class="dashboard-img">
      <a href="/rms" style="color:black">
        Dashboard
      </a>
    </td>
<%}%>
<%if(role==3) {%>
    <td style="width:100px;text-align:center" class="raiseReq-img">
      <a href="/raiseRequisition" style="color:black">
        Raise Requisition
      </a>
    </td>
    <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/allrequisitions" style="color:black">
       Requisitions
      </a>
    </td>
    <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px;text-align:center" class="viewCand-img">
      <a href="/viewCandidate" style="color:black">
        Candidates
      </a>
    </td>     
  <%}%>
<%if(role==1||role==2) {%>
    <td style="width:100px;text-align:center" class="upload-img">
      <a href="/upload" style="color:black">
       Upload
      </a>
    </td>     
  <%}%>
  <%if(role==5) {%>
       <td style="width:100px;text-align:center">
      <a href="/raiseRequisition" style="color:black">
        Raise Requisition
      </a>
    </td>
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/reqHod" style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
  <%if(role==6) {%>
    
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/reqApprover" style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
  <%if(role==1) {%>
      <td style="width:100px;text-align:center" class="allReq-img">
      <a href="/viewReq"  style="color:black">
        Requisitions
      </a>
    </td>
<%}%>
<%if(role==4) {%>
    <td style="width:100px;text-align:center">
      <a href="/interview" style="color:black">
        Home
      </a>
    </td>     
  <%}%>
 </tr>
  </table>
  <hr style="margin-top:5px;max-width:100%">
  </div>
 