<html>
<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
 .logoheading {
      color: #66CAEC;
    font-size: 23px;
    font-weight: bold;
    
    text-shadow: 1px 0px #66caec;
    }
    </style>

</head>
<body style="background-color:white;overflow-x:hidden;">

<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0;">
<div class="col-lg-12">

    <div class="col-lg-2">
  <a href="/portal" > <img src="/images/brand_logo.gif" height="70" width="70"/></a>
    </div>
 <div class="col-lg-8" >
         <center> <h3 class="logoheading">Recruitment System</h3></center>
    </div>
    <div class="col-lg-2">
    <ul class="nav navbar-nav navbar-right" style="margin-top: 13px;">         
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=Name%> <span class="caret"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Change Password</a></li>
            <li><a href="/logout">Logout</a></li>
           </ul>
        </li>
     </ul>

    </div>
    
    </div>

</nav>



</body>
</html>
