

<%include ./sidebar1.ejs %>
<title>Resume Upload</title>

  

<style>
body{
  background-color: white:!important;
}
.button{
  background-color:#66caec !important;
  border-bottom:2px solid #2B6173 !important;
}
#main-menu{
  margin-top:8% !important;
}




</style>


<script>


</script>
<div id="page-content" style="margin-top:5%">
 <div class="se-pre-con"></div>
  <form id="form" action="/upload_resume" method="post" enctype="multipart/form-data">
 <!--  <form role="form" id="uploadResume" class="form" enctype='multipart/form-data' method="POST" action="/upload-resume"> -->
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-2">
        <label for="job-title">Upload Resume:</label>
        
      </div>

      <div class="col-md-6">
      <input name="resume" type="file" class="form-control" id="uploadFile">
      </div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-8 col-md-offset-4">
      <button style="background-color:#66CAEC;" type="button" class="btn btn-default">Upload</button>
    </div>
  </form>

  <form role="form" id="auto-filled-form" method="POST" action="/hr/upload-resume" enctype='multipart/form-data' style="display:none">
    
<div class="max-width">
<div class="first one-half">
<section id="details-filter" class="clearfix">
<div class="pad-20 clearfix">
<div class="md-input-container">
 <input id="name" name="name" style="padding-left:120px">
<label> Name:</label>
</div>
<div class="md-input-container">
  <input id="phone" name="phone" style="padding-left:120px">
<label> Phone:</label>
</div>


</div>
</section>
</div>
<div class="one-half">
<section id="details-filter" class="clearfix">
<div class="pad-20 clearfix">
<div class="md-input-container">
 <input id="email" name="email"  style="padding-left:120px">
<label> Email:</label>
</div>

<div class="md-input-container">
<label> Keywords:</label>
 <textarea id="keyWords" name="keyWords" class="form-control" rows="5" style="padding:20px;"></textarea>
 

</div>
</div>
 <a class="button bt-small " href="#" style="margin-top:10px;margin-bottom:20px;"><i class="fa fa-save"></i>Submit</a>

</section>
</div>
</div>
</div>

  
    </div>
  </form>
</div>



<%include ./menu1.ejs%>
<%include ./footer1.ejs%>



</body>



