
<html>
<head>
<% include ../partials/head %>
<% include expHeader.ejs %>
 <% include ../partials/adminheader %>



 <style>
.dataTables_filter, .dataTables_length {
     display: none;
     margin-right:40px; 
    }
 </style>
</header>
<script type="text/javascript">
 var arrmonth=["sas","January","February","March","April","May","Jun","July","August","September","October","November","December"];
var array=[];

var str1='';
$(document).ready(function() {
  $(".se-pre-con").fadeOut("slow");
$('.otherexp-img-add').addClass('active');

  $('#datebuttonuser').datepicker({
                    onSelect: function(dateText, inst) {
                        datepicherforUser();
                        document.getElementById("datebuttonuser").disabled=true;
                    }
                });
 

$("#bugtable1").dataTable();

 jQuery('.dateRangePicker').datetimepicker({
                            i18n: {
                                de: {
                                    months: [
                                        'Januar', 'Februar', 'März', 'April',
                                        'Mai', 'Juni', 'Juli', 'August',
                                        'September', 'Oktober', 'November', 'Dezember',
                                    ],
                                    dayOfWeek: [
                                        "So.", "Mo", "Di", "Mi",
                                        "Do", "Fr", "Sa.",
                                    ]
                                }
                            },
                            timepicker: false,
                            format: 'Y.m.d'
                        });
      
 jQuery('.datepicker').datetimepicker({
                            i18n: {
                                de: {
                                    months: [
                                        'Januar', 'Februar', 'März', 'April',
                                        'Mai', 'Juni', 'Juli', 'August',
                                        'September', 'Oktober', 'November', 'Dezember',
                                    ],
                                    dayOfWeek: [
                                        "So.", "Mo", "Di", "Mi",
                                        "Do", "Fr", "Sa.",
                                    ]
                                }
                            },
                            timepicker: false,
                            format: 'Y-m-d'
                        });

 
    $('#cli').addClass('hide');
            $('.users8').addClass('activetab');
        
          var  oTable = $("#bugtable").dataTable({
                "bLengthChange": false,
                "paging": false,
                "binfo" : false ,
                "bDestroy": true ,  

                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [-1]
                }],
                "autoWidth": false,
                "columns": [{
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }]
            });
          $("#searchbox").keyup(function() {
        oTable.fnFilter(this.value);
      });

});
var ab=$(function(){
var formatted_date = function(date){
                var m = ("0"+ (date.getMonth()+1)).slice(-2); 
                var d = ("0"+ date.getDate()).slice(-2); 
                var y = date.getFullYear();
                return  y +'-'+m+'-'+d; 
}
 
        var curr_date =new Date();
                 
        var day = curr_date.getDay();
                 
        var diff = curr_date.getDate();  
           
                      var lastday = new Date(curr_date.getFullYear(), curr_date.getMonth() + 1 , 0).getDate();
                        if (diff < 16) {
                            var week_start_tstmp = curr_date.setDate(15);
                        } else {
                            week_start_tstmp = curr_date.setDate(lastday);
                        }
                        var week_start = new Date(week_start_tstmp);
                        var week_start_date = formatted_date(week_start);
                        var week_end = new Date(week_start_tstmp); 
                        week_end = new Date(week_end.setDate(week_end.getDate() + 6));
                        var stardate = ("0" + week_start.getDate()).slice(-2) + '-' + arrmonth[parseInt(week_start.getMonth() + 1)]+ '-' + week_start.getFullYear();       
                        var week_end_date = formatted_date(week_end);
                        date = week_start_date + ' to ' + week_end_date; 
                        $('#datebutton').val(stardate);
                        $('#datebuttonuser').val(stardate);
                        $('#hiddendatebuttonuser').val(week_start_date);
                        $('#hiddendatebutton').val(week_start_date);
    
       showexpensDetailsofuser();
 
});


 function datepicker1(){
 document.getElementById("datebutton").focus();
 datepicher(); 
}

function datepickerforotherUser(){
  document.getElementById("datebuttonuser").disabled=false;
 document.getElementById("datebuttonuser").focus();
  
}


function showAttechmentmodel(id){

$('#claimeid').val(id);
 $("#myModal10").modal('show'); 
}

   function datepicherforUser() {

                        var date = $('#datebuttonuser').val();
                        var newdate = new Date(date);
                        if (newdate.getDate() < 16) {
                            var dd = ("0" + 15)
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        } else {
                               if((newdate.getMonth() + 1)==2){
                            var dd = ('28').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                      
                            if(((newdate.getMonth() + 1)%2==0)&&((newdate.getMonth() + 1)<7)&&((newdate.getMonth() + 1)!=2)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2!=0)&&((newdate.getMonth() + 1)<=7)&&((newdate.getMonth() + 1)!=2)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2==0)&&((newdate.getMonth() + 1)>=7)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2!=0)&&((newdate.getMonth() + 1)>7)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                        }
                        var someFormattedDate = dd + '-' + arrmonth[parseInt(mm)]  + '-' + y;
                        var someFormattedDate1 = y + '-' + mm + '-' + dd;
                        document.getElementById('datebuttonuser').value = someFormattedDate.toString();
                        document.getElementById('hiddendatebuttonuser').value = someFormattedDate1.toString();
                        showexpensDetailsofuser();
                       

                    }
function datepicher(){
   $(".dateRangePicker").on("change",function(){
        var selected = $(this).val();
       var date = new Date(selected);
    var newdate = new Date(date);

  
    if(newdate.getDate()<16){
    
     var dd =("0"+1).slice(-2);
    var mm = ("0"+(newdate.getMonth() + 1)).slice(-2);
    var y = newdate.getFullYear();
  }
    else{
       var dd =("0"+16).slice(-2);
    var mm = ("0"+(newdate.getMonth() + 1)).slice(-2);
    var y = newdate.getFullYear();
    }

    var someFormattedDate = y + '-' + mm + '-' + dd;
    var someFormattedDate1 = dd + '-' + mm + '-' + y;
    document.getElementById('datebutton').value = someFormattedDate1.toString();
     $('#hiddendatebutton').val(someFormattedDate.toString());
    selecthotelExpenseforweek(); 
    });
}
function getdate() {
 
  toChekRasieExpenseOrNotforNext()
    var tt =  $('#hiddendatebutton').val();

    var date = new Date(tt);
    var newdate = new Date(date);

    if((newdate.getDate()<16)&&(("0"+(newdate.getMonth() + 1)).slice(-2)!=13)){
    
     var dd =("0"+16).slice(-2);
    var mm = ("0"+(newdate.getMonth() + 1)).slice(-2);
    var y = newdate.getFullYear();
  }

   if((newdate.getDate()>15)&&(("0"+(newdate.getMonth() + 1)).slice(-2)!=13)){
     
      var dd =("0"+1).slice(-2);
    var mm = ("0"+(newdate.getMonth() + 2)).slice(-2);
    var y = newdate.getFullYear();
  }
    
   if((newdate.getDate()>1)&&(("0"+(newdate.getMonth() + 1)).slice(-2)==12)){
      var dd =("0"+1).slice(-2);
    var mm = ("0"+1).slice(-2);
    var y = newdate.getFullYear()+1;
  }
 
    

    var someFormattedDate = dd + '-' + mm + '-' + y;
    var someFormattedDate1=y + '-' + mm + '-' + dd;
    document.getElementById('datebutton').value = someFormattedDate.toString();
     $('#hiddendatebutton').val(someFormattedDate1.toString());
    selecthotelExpenseforweek();
}

function getdateprev() {
  toChekRasieExpenseOrNotforPrev()
    var tt = $('#hiddendatebutton').val() ;

    var date = new Date(tt);
    var newdate = new Date(date);
    
    if(newdate.getDate()<16){
      if(("0"+(newdate.getMonth())).slice(-2)!=00){
    var dd =("0"+16).slice(-2);
    var mm = ("0"+(newdate.getMonth())).slice(-2);
    var y = newdate.getFullYear();
  }
  else{
     var dd =("0"+16).slice(-2);
    var mm = ("0"+12).slice(-2);
    var y = newdate.getFullYear()-1; 

  }
  }
  else{
      var dd =("0"+1).slice(-2);
    var mm = ("0"+(newdate.getMonth()+1)).slice(-2);
    var y = newdate.getFullYear();
  }

    var someFormattedDate = dd + '-' + mm + '-' + y;
    var someFormattedDate1 = y + '-' + mm + '-' + dd;
    document.getElementById('datebutton').value = someFormattedDate.toString();
     $('#hiddendatebutton').val(someFormattedDate1.toString());
     selecthotelExpenseforweek();
}

    function getdateuser() {
                        var tt = $('#hiddendatebuttonuser').val();

                        var date = new Date(tt);
                        var newdate = new Date(date);
                       if ((newdate.getDate() > 15) && (("0" + (newdate.getMonth() + 1)).slice(-2) != 13)) {
                         var dd = ('15').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 2)).slice(-2);
                            var y = newdate.getFullYear();
                        }

                        if ((newdate.getDate() <= 15) && (("0" + (newdate.getMonth() + 1)).slice(-2) != 13)) {
                                 if((newdate.getMonth() + 1)==2){
                            var dd = ('28').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                      
                            if(((newdate.getMonth() + 1)%2==0)&&((newdate.getMonth() + 1)<7)&&((newdate.getMonth() + 1)!=2)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2!=0)&&((newdate.getMonth() + 1)<=7)&&((newdate.getMonth() + 1)!=2)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2==0)&&((newdate.getMonth() + 1)>=7)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth() + 1)%2!=0)&&((newdate.getMonth() + 1)>7)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth() + 1)).slice(-2);
                            var y = newdate.getFullYear();
                        }
                        }

                        if ((newdate.getDate() >15) && (("0" + (newdate.getMonth() + 1)).slice(-2) == 12)) {
                            var dd = ("0" + 15).slice(-2);
                            var mm = ("0" + 1).slice(-2);
                            var y = newdate.getFullYear() + 1;
                        }



                        var someFormattedDate1 = dd + '-' + arrmonth[parseInt(mm)] + '-' + y;
                        var someFormattedDate = y + '-' + mm + '-' + dd;
                        document.getElementById('datebuttonuser').value = someFormattedDate1.toString();
                        $('#hiddendatebuttonuser').val(someFormattedDate.toString());
                        showexpensDetailsofuser();
                       
                    }

   function getdateprevuser() {
                        var tt = $('#hiddendatebuttonuser').val();

                        var date = new Date(tt);
                        var newdate = new Date(date);
                        if (newdate.getDate() < 16) {
                            if (("0" + (newdate.getMonth())).slice(-2) != 00) {
                        
                            if((newdate.getMonth())==2){
                            var dd = ('28').slice(-2);
                            var mm = ("0" + (newdate.getMonth())).slice(-2);
                            var y = newdate.getFullYear();
                        }
                      
                            if(((newdate.getMonth())%2==0)&&((newdate.getMonth())<=6)&&((newdate.getMonth())!=2)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth())).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth())%2!=0)&&((newdate.getMonth())<=7)&&((newdate.getMonth())!=2)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth())).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth())%2==0)&&((newdate.getMonth() )>7)&&((newdate.getMonth())!=2)){
                            var dd = ('31').slice(-2);
                            var mm = ("0" + (newdate.getMonth())).slice(-2);
                            var y = newdate.getFullYear();
                        }
                            if(((newdate.getMonth())%2!=0)&&((newdate.getMonth())>7)&&((newdate.getMonth())!=2)){
                            var dd = ('30').slice(-2);
                            var mm = ("0" + (newdate.getMonth())).slice(-2);
                            var y = newdate.getFullYear();
                        }

                            } else {
                                var dd = ("0" + 31).slice(-2);
                                var mm = ("0" + 12).slice(-2);
                                var y = newdate.getFullYear() - 1;

                            }
                        } 

                        if(newdate.getDate() > 16) {
                            var dd = ("0" + 15).slice(-2);
                            var mm = ("0" + (newdate.getMonth()+1)).slice(-2);
                            var y = newdate.getFullYear();
                        }

                        var someFormattedDate1 = dd + '-' + arrmonth[parseInt(mm)] + '-' + y;
                        var someFormattedDate = y + '-' + mm + '-' + dd;
                        document.getElementById('datebuttonuser').value = someFormattedDate1.toString();
                        $('#hiddendatebuttonuser').val(someFormattedDate.toString());
                        showexpensDetailsofuser();
                      
                    }

 function showexpensDetailsofuser11() {
     claimid="";
         $('#datetablediv').removeClass('hide');
         $('#accordions').removeClass('hide');
         $('#accordionsdata').addClass('hide');
            var userId = $('#selectstatus').val();
            var date1=$('#datebuttonuser').val();
showexpensDetailsofuser()
}


  

 function showexpensDetailsofuser() {
     claimid="";
         $('#datetablediv').removeClass('hide');
         $('#accordions').removeClass('hide');
         $('#accordionsdata').addClass('hide');
            var userId = $('#selectstatus').val();
            var date1=$('#hiddendatebuttonuser').val();
            var flag=1;
            if (flag == 1) {
                return ($.ajax({
                    url: '/expenseAdmin',
                    type: 'post',
                    data: {
                   userId:userId,
                   date1:date1
                    },
                    dataType: 'json',

                    success: function(users1) {
                      var  users =users1[0];
                     
                           var log='';
                         
                             log = "<thead><tr style='font-size:12px' >" + "<th>User Name</th>" + "<th>From Date</th>" + "<th>To Date</th>" + "<th>Total Amount</th><th>Action</th><th>Status</th></tr></thead><tbody id='tablebody' >";

                            for (var i = 0; i < users.length; i++) {
                             claimid=claimid+users[i].expenseclaimedId+",";
                              
                                log = log + "<tr style='height:20px;color:grey;font-size:12px;'  id='" + users[i].id + "><input type='hidden' value='" + users[i].firstName + "' id='l" + users[i].firstName + "'>" + "<td >" + users[i].firstName +  "</td>"  + "<td >" + users[i].fromdate + "</td>" + "<td >" + users[i].todate + "</td><td>" + users[i].totalExpense + "</td><td >";
                                
                                log = log + "<a  style='padding-left:6px' ><input type='hidden' value=" +  + " id='a" + users[i].userId + "'> <span '  data-toggle='modal' data-target='#myModal'  class='glyphicon glyphicon-list-alt' style='color:black;height:10px' onclick='expensedescription("+users[i].expenseclaimId+")'   title ='description' ></span></a>";
                                 log = log + "<a  style='padding-left:6px' ><input type='hidden' value=" +  + " id='a" + users[i].userId + "'> <span '  data-toggle='modal' data-target='#myModal'  class='glyphicon glyphicon-comment' style='color:blue;height:15px' onclick='showCommentandRemark("+users[i].expenseclaimId+")'   title ='comment' ></span></a>";

                            
                                  log+="</td><td>";
                                     if((users[i].ClaimedStatus>0)&&(users[i].Submitted==1)){
                                       if(users[i].firstName1!=0) {
                              log=log +"<span id='c"+users[i].id+"' style='height:20px;font-size:10px;'>Approved By. <i style='color:#00FF23'>"+users[i].firstName1+"</i></span>";
                                  }
                                         if(users[i].firstName2!=0) {
                              log=log +"<span id='c"+users[i].id+"' style='height:20px;font-size:10px;'>Pending on Mr. <i style='color:#23527c'>"+users[i].firstName2+"</i></span>";
                                  }
                                         if(users[i].firstName3!=0) {
                              log=log +"<span id='c"+users[i].id+"' style='height:20px;font-size:10px;'>Rejected by Mr. <i style='color:red'>"+users[i].firstName3+"</i></span>";
                                  }
                                         if(users[i].ClaimedStatus==100) {
                              log=log +"<span class='glyphicon glyphicon-ok-sign' title='Final Approved' style='height:20px;font-size:10px;color:green'></span>";
                                  }
                                  log=log+"</td>";
                                 }

                               if((users[i].ClaimedStatus==0)&&(users[i].Submitted==1)&&(users[i].status==0)){
                              log=log +"<span id='c"+users[i].id+"' style='height:20px;font-size:10px;'>Pending on Mr. <i style='color:#23527c'>"+users[i].firstName2+"</i></span></td>";
                                 }
                            
                            
                            log = log + "</tr>";}
                            log=log+"</tbody>";

                            $("#bugtable").dataTable().fnDestroy();
                                     $("#bugtable").html('');

                            $("#bugtable").html(log);
                             $("#bugtable").dataTable({
                                "bLengthChange": true,
                "paging": true,
                "binfo" : false , 
                 "bDestroy": true ,  

                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [-1]
                }],
                "autoWidth": false,
                "columns": [{
                    "width": "10%"
                },  {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                },{
                    "width": "10%"
                }, {
                    "width": "15%"
                }]
                       });  
                      
                        
                    }
                
            }));
        }
        } 
function expensedescription(expclaimId){

        $('#myModalexp').modal('show');
            var url1 = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin +'/ShowExpenseByapprover';
            $.ajax({
                url: url1,
                method: 'POST',
                  data: {
                   expclaimId:expclaimId,
                    
               },
                dataType: 'json',
                success: function(users1) {

            var  users =users1[0];
                    
                      var user=users1[1][0].sum;
                            $('#totalExpenseforuser').val(user);
                               if (users.length == 0) {
                             $("tbody").empty();
                             $('tbody').append('<tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">No data available in table</td></tr>');
                      
                             }
                        if (users.length > 0) {
                            log='';
                            var log = "<thead><tr style='font-size:10px' >" + "<th>Expense Type</th>" + "<th>Trip/Assignment</th>" + "<th>From Date</th>" + "<th>To Date</th>" + "<th>Total Amount</th><th>Action</th></tr></thead><tbody id='tablebody' >";
                            for (var i = 0; i < users.length; i++) {
                              
                                log = log + "<tr style='height:10px;color:grey;font-size:10px;'  id='" + users[i].id + "><input type='hidden' value='" + users[i].description + "' id='l" + users[i].description + "'>" + "<td >" + users[i].description +  "</td>" + "<td >" + users[i].WBSName + "</td>" + "<td >" + users[i].fromdate + "</td>" + "<td >" + users[i].toDate + "</td><td>" + users[i].totalExpense + "</td><td >";
                                if(users[i].anyFile!=undefined){
                                log = log + "<a href='/attach/"+users[i].anyFile+"'Download style='padding-left:6px' ><input type='hidden' value=" +  + " id='a" + users[i].userId + "'> <span '  data-toggle='modal' data-target='#myModal'  class='glyphicon glyphicon-download-alt' style='color:red;height:10px'   title ='download Attachmenet' ></span></a></td>";
                                       }
                            
                            log = log + "</tr>";}
                            log=log+"</tbody>";


                            $("#bugtable1").dataTable().fnDestroy();
                                     $("#bugtable1").html('');

                            $("#bugtable1").html(log);
                             $("#bugtable1").dataTable({
                                "bLengthChange": true,
                "paging": true,
                "binfo" : false , 
                 "bDestroy": true ,  

                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [-1]
                }],
                "autoWidth": false,
                "columns": [{
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }, {
                    "width": "10%"
                }]
                       });  
                                        $("#searchbox1").keyup(function() {    
        $("#bugtable1").dataTable().fnFilter(this.value);
      });     
                        }
                    
                }
            });
        
        } 


  function showCommentandRemark(ids) {
  
   
            var url1 = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin +  '/showremarkandcomment';
            $.ajax({
                url: url1,
                method: 'POST',
                  data: {
                    ids:ids,
                   
                },
                success: function(data) {
                 $('#showcomment').html('');
                  $('#myModalshowcomment').modal('show');
                  if(data[0][0].anyFile==''){
                  $('#showcomment').append("<div style='font-size:12px;margin-top:5px;'>"+'No comment'+"</div>"+"<div style='font-size:10px;color:blue;'>By &nbsp Mr. "+data[0][0].firstName+"</div>"+"<div style='border-bottom-style: outset;border-color:grey; border-width: 1px;'></div>");
                  }else{
                    $('#showcomment').append("<div style='font-size:12px;margin-top:5px;'>"+data[0][0].anyFile+"</div>"+"<div style='font-size:10px;color:blue;'>By &nbsp Mr. "+data[0][0].firstName+"</div>"+"<div style='border-bottom-style: outset;border-color:grey; border-width: 1px;'></div>");}
                    if(data[1].length>0){
                    for (var i = 0; i < data[1].length; i++) {
                       if(data[1][i].remark==''){
                   $('#showcomment').append("<div style='font-size:12px;margin-top:5px;'>"+'No comment'+"</div>"+"<div style='font-size:10px;color:blue;'>By &nbsp Mr. "+data[1][i].firstName+"</div>"+"<div style='border-bottom-style: outset;border-color:grey; border-width: 1px;'></div>");
                  }else{
                    $('#showcomment').append("<div style='font-size:12px;margin-top:5px;'>"+data[1][i].remark+"</div>"+"<div style='font-size:10px;color:blue;'>By &nbsp Mr. "+data[1][i].firstName+"</div>"+"<div style='border-bottom-style: outset;border-color:grey; border-width: 1px;'></div>");
                  }
                    }
                  }
                }
                });
                
                }
 
</script>
      <style>
  
      </style>
</head>
<body>




<div id="aprovediv" class="col-md-12 a " style="background-color:rgba(51, 60, 125, 0.62);margin-top:0%;">
        <div class="col-md-2"> <label id="statuslabel" style="margin-top:10px;color:white;padding-left50px;" class="">User : <%=user%></label>
       </div>
        
       <div class='col-md-1'></div>
        <div class="col-md-4 " id="datetablediv" style="height:29px;width:270px;background-color:white;margin-top:3px;border-radius: 25px;">
      
            <img src="../img/bug/left.jpg" class="shadow" style="" height="15px" width="15px" title=" Expense" onclick='getdateprevuser()'>
              <input type="hidden" id="hiddendatebuttonuser"><input disabled="disable" type='text' id="datebuttonuser" style="margin-top:3px;text-align: center;font-size:12px" class="shadow "  value=''/ onchange=" showexpensDetailsofuser()">
            
            <img src="../img/bug/Right.jpg" class="shadow" style="" height="15px" width="15px" title=" Expense" onclick='getdateuser()'>
             <span class="glyphicon glyphicon-calendar" style="" height="15px" width="15px" title="choose date" onclick='datepickerforotherUser()'></span>
       </div>
       <div class='col-md-2' style="float: right;"><select style="margin-top: 5px" id="selectstatus" class="form-text-box" onchange="showexpensDetailsofuser()"><option value="1"> All</option><option value="2">pending</option><option value="3">approve</option><option value="4">Rejected</option></select></div> 
       </div>
      
       

</div>




<div class="secondry-color" id="accordions">
<div style="margin-left: 10px;margin-right: 10px">
<input class="form-text-box" type="text" placeholder="search in this table" id="searchbox" style="float:right;width: 13%;margin-top: 10px;margin-bottom: 10px"> 


        <table class="table table-hover table-striped table-bordered rceDataTable" cellpadding="0" cellspacing="0" border="0" id="bugtable" style="width:100%">
            
         </table>
        </div>
    </div>

<div id="totalandaddEX" class="col-md-12 a" style="background-color:rgba(51, 60, 125, 0.62);height:36px; 
    border-bottom:solid #f05f40;">
        
    
                    
</div>


<form action="/fileAttechment" method="post" name="rbug" enctype="multipart/form-data">
       <div class="modal fade" id="myModalexp" role="dialog" style="margin-left:;">

            <div style="height:auto;width:800px;margin-left:250px;margin-top:30px;z-index:1;position:absolute" class="panel panel-default">

            <div class="panel-heading" id="panelHead1" role="button" style="background-color:#f05f40; color:white; height:40px;">
                    <center>
                        <label id="head4" class="modal-title" style="color:white;font-size:12px;"><b>Expense Details</b></label>
                         <span  data-dismiss="modal"  class="glyphicon glyphicon-remove" style='height=20px;float:right;color:black;'></span>
                    </center>

                </div>
            
       <div class="secondry-color" id="accordions1">
       <div style="margin-left: 10px;margin-right: 10px">
        <input class="form-text-box" type="text" placeholder="search in this table" id="searchbox1" style="float:right;width: 13%;margin-top: 10px;margin-bottom: 10px"> 
        <table class="table table-hover table-striped table-bordered rceDataTable" cellpadding="0" cellspacing="0" border="0" id="bugtable1">
            <thead>
                         <th style='font-size:12px;background-color:grey;color:white'>Expense Type</th>
                         <th style='font-size:12px;background-color:grey;color:white'>Trip/Assignment</th>
                         <th style='font-size:12px;background-color:grey;color:white'>From</th>
                         <th style='font-size:12px;background-color:grey;color:white'>To</th>
                         <th style='font-size:12px;background-color:grey;color:white'>Amount(INR)</th>
                         <th style='font-size:12px;background-color:grey;color:white'>Action</th>
               </thead> 
         </table>
    </div>
          </div>
         </div>
     </div>
                   
</form>


<form action="/fileAttechment" method="post" name="rbug" enctype="multipart/form-data">
       <div class="modal fade" id="myModalshowcomment" role="dialog" style="border-style: solid;
    border-color:black;">

            <div style="height:auto;width:300px;margin-left:500px;margin-top:30px;z-index:1;position:absolute" class="panel panel-default">

            <div class="panel-heading" id="panelHead1" role="button" style="background-color:#f05f40; color:white; height:40px;">
                    <center>
                        <label id="head4" class="modal-title" style="color:white;font-size:12px;"><b>Comments</b></label>
                        <span  data-dismiss="modal"  class="glyphicon glyphicon-remove" style='height=20px;float:right;color:black;'></span>
                    </center>
                </div>
         
          <div class="col-md-12" id='showcomment' style="margin-bottom: 10px">
         
          </div>
          <div style='width:10px'><span style="width:10px"></span></div>
         </div>
     </div>
                   
</form>

</body>
</html>
<% include ../partials/footer.ejs %>
