	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.expense-tab').addClass("active");
	 });
	 </script>  
	
 
	<div class="sub-header fusion-subheader"  style="z-index:1">
		<nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbar1">
      <ul class="nav navbar-nav">
        <li>
            <div class="exphome-img">
			    <a class="subheaderMaster" href="/expense">
			        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Expense Home" width="30px"><br>Expense Home
			    </a>
			</div>
        </li>
        <%if(isApp==1){%>
        <li>
            <div class="otherexp-img">
			    <a class="subheaderMaster" href="/expenseother">
			        <img class="imageInc" src="../img/otherExpense.png" class="shadow" height="30px" title="Other Expenses" width="30px"><br>Other Expense
			    </a>
			</div>
        </li>
        <%}%>
        <%if(roleid==1){%>
        <li>
            <div class="otherexp-img-add">
			    <a class="subheaderMaster" href="/expenseDetails">
			        <img class="imageInc" src="../img/exp.png" class="shadow" height="30px" title="Expenses Details" width="30px"><br>Expense Details
			    </a>
			</div>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>

    <!-- <div class="exphome-img">
	    <a class="subheaderMaster" href="/expense">
	        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Expense Home" width="30px"><br>Expense Home
	    </a>
	</div>
	 <%if(isApp==1){%>
	<div class="otherexp-img">
	    <a class="subheaderMaster" href="/expenseother">
	        <img class="imageInc" src="../img/otherExpense.png" class="shadow" height="30px" title="Other Expenses" width="30px"><br>Other Expense
	    </a>
	</div>
	 <%}%>
	 <%if(roleid==1){%>
	<div class="otherexp-img-add">
	    <a class="subheaderMaster" href="/expenseDetails">
	        <img class="imageInc" src="../img/exp.png" class="shadow" height="30px" title="Expenses Details" width="30px"><br>Expense Details
	    </a>
	</div>
<%}%> -->
	
	</div>
		