	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.expense-tab').addClass("active");
	 });
	 </script>  
	
 
	<div class="sub-header "  style="z-index:1">

    <div class="exphome-img">
	    <a class="subheaderMaster" href="/expense">
	        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Expense Home" width="30px"><br>Expense Home
	    </a>
	</div>
	 <%if(isApp==1){%>
	<div class="otherexp-img">
	    <a class="subheaderMaster" href="/expenseother">
	        <img class="imageInc" src="../img/otherExpense.png" class="shadow" height="30px" title="Other Expenses" width="30px"><br>Other Expense
	    </a>
	</div>
	 <%}%>
	 <%if(roleid==1){%>
	<div class="otherexp-img-add">
	    <a class="subheaderMaster" href="/expenseDetails">
	        <img class="imageInc" src="../img/exp.png" class="shadow" height="30px" title="Expenses Details" width="30px"><br>Expense Details
	    </a>
	</div>
<%}%>
	
	</div>
		