	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.expense-tab').addClass("active");
	 });
	 </script>  
	
 
<<<<<<< HEAD
	<div class="sub-header navbar-fixed-top"  style="z-index:1">
	<table> 

				<tr align="center">
            	 <td class="exphome-img" style="width:110px;padding-right: 15px">
				    
					<a href="/expense">
							  <img class="imageInc" src="../img/bug/home.png" class="shadow" style="" height="30px" width="30px" title="Expense Home">
							 <!-- <b>New Expense</b>-->
					</a>
					
				  </td>

				  	 <%if(isApp==1){%>
				  <td class="otherexp-img" style="width:110px;padding-right: 10px">
				    
					<a href="/expenseother" onclick="">
							  <img class="imageInc" src="../img/otherExpense.png" class="shadow" style="padding-top:2px;margin-right: 4px" height="25px" width="25px" title="Other Expenses">
							 <!-- <b>View Bug</b> -->
					</a>
					
				  </td>
				   <%}%>
				   <%if(roleid==1){%>
				  <td class="otherexp-img-add" style="width:110px;padding-right: 10px">
				    
					<a href="/expenseDetails" onclick="">
							  <img class="imageInc" src="../img/exp.png" class="shadow" style="" height="30px" width="30px" title="Expenses Details">
							 <!-- <b>View Bug</b> -->
					</a>
					
				  </td>
				   <%}%>
				
				</tr>
				<tr  >
				   <td class="exphome-img" style="width:110px;padding-left:10px" ><a href="/expense" style="color:black">Expense Home</a></td>
					<%if(isApp==1){%>
					<td class="otherexp-img" style="width:110px;padding-left:10px" ><a href="/expenseother" style="color:black" onclick="">Other Expense</a></td>
					<%}%>
					<%if(roleid==1){%>
					<td class="otherexp-img-add" style="width:110px;padding-left:10px" ><a href="/expenseDetails" style="color:black" > Expense Details</a></td>
					<%}%>
					
				</tr> 
			
	</table>
	</div>
		 <hr style="margin-top:3.2%;max-width:100%">
=======
	<div class="sub-header fusion-subheader"  style="z-index:1">
		<nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbar1">
      <ul class="nav navbar-nav">
        <li>
            <div class="exphome-img">
			    <a class="subheaderMaster" href="/expense">
			        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Expense Home" width="30px"><br>Expense Home
			    </a>
			</div>
        </li>
        <%if(isApp==1){%>
        <li>
            <div class="otherexp-img">
			    <a class="subheaderMaster" href="/expenseother">
			        <img class="imageInc" src="../img/otherExpense.png" class="shadow" height="30px" title="Other Expenses" width="30px"><br>Other Expense
			    </a>
			</div>
        </li>
        <%}%>
        <%if(roleid==1){%>
        <li>
            <div class="otherexp-img-add">
			    <a class="subheaderMaster" href="/expenseDetails">
			        <img class="imageInc" src="../img/exp.png" class="shadow" height="30px" title="Expenses Details" width="30px"><br>Expense Details
			    </a>
			</div>
        </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>

    <!-- <div class="exphome-img">
	    <a class="subheaderMaster" href="/expense">
	        <img class="imageInc" src="../img/bug/home.png" class="shadow" height="30px" title="Expense Home" width="30px"><br>Expense Home
	    </a>
	</div>
	 <%if(isApp==1){%>
	<div class="otherexp-img">
	    <a class="subheaderMaster" href="/expenseother">
	        <img class="imageInc" src="../img/otherExpense.png" class="shadow" height="30px" title="Other Expenses" width="30px"><br>Other Expense
	    </a>
	</div>
	 <%}%>
	 <%if(roleid==1){%>
	<div class="otherexp-img-add">
	    <a class="subheaderMaster" href="/expenseDetails">
	        <img class="imageInc" src="../img/exp.png" class="shadow" height="30px" title="Expenses Details" width="30px"><br>Expense Details
	    </a>
	</div>
<%}%> -->
	
	</div>
		
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
