	 <script>
	 
	 $(document).ready(function() {
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.expense-tab').addClass("active");
	 });
	 </script>  
	
 
	<div class="module-menubar  navbar-fixed-top"  >
	<table> 

				<tr align="center">
            	 <td class="exphome-img" style="width:110px;padding-right: 15px">
				    
					<a href="/expense">
							  <img src="../img/bug/home.png" class="shadow" style="" height="30px" width="30px" title="Expense Home">
							 <!-- <b>New Expense</b>-->
					</a>
					
				  </td>

				  	 <%if(isApp==1||1){%>
				  <td class="otherexp-img" style="width:110px;padding-right: 10px">
				    
					<a href="#" onclick="otherExpense()">
							  <img src="../img/otherExpense.png" class="shadow" style="" height="30px" width="30px" title="Other Expenses">
							 <!-- <b>View Bug</b> -->
					</a>
					
				  </td>
				   <%}%>
				
				</tr>
				<tr  >
				   <td class="exphome-img" style="width:110px;padding-left:10px" ><a href="/expense" style="color:black">Expense Home</a></td>
					<%if(isApp==1||1){%>
					<td class="otherexp-img" style="width:110px;padding-left:10px" ><a style="color:black" onclick="otherExpense()">Other Expense</a></td>
					<%}%>
					
				</tr> 
			
	</table>
	</div>
		 <hr style="margin-top:3.2%;max-width:100%">