<!DOCTYPE html>
<html lang="en">
 
<head> 
      <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body>
   
<div style=" padding-bottom:1%; background-color:antiquewhite">
  <div class="row">
     
    <span class="modal-title" style="padding-left:44%;">Add Furniture</span>
  </div>
  <div class="row" style="margin-left:5%;">
    </div>
  <form class="form-horizontal" style="margin:1%;padding-top:1%;" action="/addFurniture" method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="typel" class="col-md-4 control-label">Name: *</label>
          <div class="col-md-8">
            <input id="typel" class="form-control" name="typel" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label for="no" class="col-md-4 control-label">Quantity: *</label>
          <div class="col-md-8">
            <input name="no" class="form-control" type="number" min="1" id="qty" placeholder="Quantity">
          </div>
        </div>
        <div class="form-group">
          <label for="vendor" class="col-md-4 control-label">Vendor: *</label>
          <div class="col-md-8">
            <input name="vendor"class="form-control" id="vendor" placeholder="Vendor">
          </div>
        </div>
        <div class="form-group">
          <label for="color" class="col-md-4 control-label">Color</label>
          <div class="col-md-8">
            <input name="color" class="form-control" id="color" placeholder="Color">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="invoiceNo" class="col-md-5 control-label">Invoice No.*</label>
          <div class="col-md-7">
            <input name="invoiceNo" class="form-control" id="invoiceNo" placeholder="Invoice No.">
          </div>
        </div>
        <div class="form-group">
          <label for="Invoicedate" class="col-md-5 control-label">Invoice Date: *</label>
          <div class="col-md-7">
            <input name="Invoicedate"class="form-control date" id="Invoicedate" placeholder="Invoice Date">
          </div>
        </div>
        <div class="form-group">
          <label for="invoiceAmt" class="col-md-5 control-label">Invoice Amt.*</label>
          <div class="col-md-7">
            <input name="invoiceAmt" class="form-control" id="invoiceAmt" placeholder="Invoice Amount">
          </div>
        </div>
        <div class="form-group">
          <label for="brand" class="col-md-5 control-label">Brand</label>
          <div class="col-md-7">
            <input name="brand" class="form-control" id="brand" placeholder="Brand">
          </div>
        </div>
      </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="order" class="col-md-5 control-label">Purchased Order: *</label>
        <div class="col-md-7">
          <input name="order" class="form-control" id="order" placeholder="Purchased Order">
        </div>
      </div>
      <div class="form-group">
        <label for="Deliverydate" class="col-md-5 control-label">Delivery Date: *</label>
        <div class="col-md-7">
          <input name="Deliverydate"class="form-control date" id="Deliverydate" placeholder="Delivery Date">
        </div>
      </div>
      <div class="form-group">
        <label for="uprice" class="col-md-5 control-label">Unit Price: *</label>
        <div class="col-md-7">
          <input name="uprice" class="form-control" id="uprice"   placeholder="Unit Price">
        </div>
      </div>
    </div>
  </div>
  <input type='text' class='hide'name ='flag'value="1">
  <div class="form-group">
    <div class="col-md-6 col-md-offset-5">
      <a href="/viewFurniture"type="button"class="btn btn-default">Cancel</a>
      <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

<% include ../partials/footer %>
<script>
jQuery('.date').datetimepicker({
 
  timepicker:false,
  format:'d-m-y'
});

  function validate(){
    var inamount=$('#invoiceAmt').val();
    var up=$('#uprice').val();

  if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) ==""||$.trim($("#qty").val()) > 20) 
    {
      alert("Enter valid Quantity!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#order').val().length<1||$.trim($("#order").val()) =="") 
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
        
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
    if(up.length<2||isNaN(up)||up.trim().length<1) 
    {
      alert("Enter valid Unit Price!");    
      return false;
    }
    
  }
</script>
