<!DOCTYPE html>
<html lang="en">
 
<head> 
      <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body>
   
<div style=" padding-bottom:1%;" class="secondry-color">
  <div class="row">
     
    <span class="modal-title" style="padding-left:44%;">Add Furniture</span>
  </div>
  <div class="row" style="margin-left:5%;">
    </div>
  <form class="form-horizontal" style="margin:1%;padding-top:1%;" action="/addFurniture" method="post">
    <div class="row">
      <table class="table">
      <tr><td><td>
          <label for="typel" class="form-Label">Name: *</label></td>
         <td>
            <input id="typel" class="form-text-box" name="typel" placeholder="name"></td>
          </td>
       <td><td>
          <label for="no" class="form-Label">Quantity: *</label></td>
         <td>
            <input name="no" class="form-text-box" type="number" min="1" id="qty" placeholder="Quantity">
          </td>
        </td>
      <td><td>
          <label for="vendor" class="form-Label">Vendor: *</label></td>
          <td>
            <input name="vendor"class="form-text-box" id="vendor" placeholder="Vendor">
          </td>
        </td>
        <td><td>
          <label for="color" class="form-Label">Color</label>
          </td>
          <td>
            <input name="color" class="form-text-box" id="color" placeholder="Color">
          </td>
        </td></tr><tr>
     <td><td>
          <label for="invoiceNo" class="form-Label">Invoice No.*</label>
         </td><td>
            <input name="invoiceNo" class="form-text-box" id="invoiceNo" placeholder="Invoice No.">
          </td>
        </td>
        <td><td>
          <label for="Invoicedate" class="form-Label">Invoice Date: *</label></td>
          <td>
            <input name="Invoicedate"class="form-text-box date" id="Invoicedate" placeholder="Invoice Date">
          </td>
        </td>
        <td><td>
          <label for="invoiceAmt" class="form-Label">Invoice Amt.*</label>
          </td><td>
            <input name="invoiceAmt" class="form-text-box" id="invoiceAmt" placeholder="Invoice Amount">
          </td>
        </td>
        <td><td>
          <label for="brand" class="form-Label">Brand</label>
          </td><td>
            <input name="brand" class="form-text-box" id="brand" placeholder="Brand">
          </td>
        </td></tr><tr>
      <td><td>
        <label for="order" class="form-Label">Purchased Order: *</label>
       </td><td>
          <input name="order" class="form-text-box" id="order" placeholder="Purchased Order">
        </td>
      </td>
      <td><td>
        <label for="Deliverydate" class="form-Label">Delivery Date: *</label>
        </td><td>
          <input name="Deliverydate"class="form-text-box date" id="Deliverydate" placeholder="Delivery Date">
        </td>
      </td>
      <td><td>
        <label for="uprice" class="form-Label">Unit Price: *</label>
        </td><td>
          <input name="uprice" class="form-text-box" id="uprice"   placeholder="Unit Price">
        </td>
      </td>
      </tr>
     </table>
  </div>
  <input type='text' class='hide'name ='flag'value="1">
  <div class="form-group">
    <div class="col-md-6 col-md-offset-5">
      <a href="/viewFurniture"type="button"class="btn btn-default">Cancel</a>
      <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

<% include ../partials/footer %>
<script>
jQuery('.date').datetimepicker({
 
  timepicker:false,
  format:'Y-m-d'
});

  function validate(){
    var inamount=$('#invoiceAmt').val();
    var up=$('#uprice').val();

  if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) ==""||$.trim($("#qty").val()) > 20) 
    {
      alert("Enter valid Quantity!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }

    if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
    {
      alert("Invoice date is Missing!");    
      return false;
    }
    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#order').val().length<1||$.trim($("#order").val()) =="") 
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
        
    if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
    if(up.length<2||isNaN(up)||up.trim().length<1) 
    {
      alert("Enter valid Unit Price!");    
      return false;
    }
    
  }
</script>
