<!DOCTYPE html>
<html lang="en">

 <head>
     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body>
   
 <div style="  padding-bottom:1%;  " class="secondry-color">
    <div class="row">
   
        <span class="modal-title" style="padding-left:44%;">Add Stationary</span>
    </div>
    <div class="row" style="margin-left:5%;">
    </div>
    <form class="form-horizontal" style="margin:1%;padding-top:1%;" action="/addStationary" method="post">
      <div class="row">
      <table class="table"><tr><td><td>
        <label for="typel" class="form-Label">Name:*</label></td>
            <td>
              <input id="typel" class="form-text-box" name="typel" >
            </td>
          </td>
        <td><td>
          <label for="no" class="form-Label">Quantity: *</label></td>
         <td>
            <input name="no" class="form-text-box" type="number" max="20" min="1" id="qty" >
          </td>
        </td>
        <td><td>
          <label for="vendor" class="form-Label">Vendor: *</label></td>
        <td>
            <input name="vendor"class="form-text-box" id="vendor">
           </td>
        </td>
     <td><td>
          <label for="invoiceNo" class="form-Label">Invoice No. *</label></td>
         <td>
            <input name="invoiceNo" class="form-text-box" id="invoiceNo">
          </td>
        </td></tr><tr>
        <td><td>
        <label for="Invoicedate" class="form-Label">Invoice Date: *</label></td>
       <td>
        <input name="Invoicedate"type="" class="form-text-box date" id="Invoicedate"></td>
      </td>
     <td><td>
      <label for="invoiceAmt" class="form-Label">Invoice Amt. *</label></td>
      <td>
        <input name="invoiceAmt" class="form-text-box" maxlength="6" id="invoiceAmt">
      </td>
    </td>
    <td><td>
      <label for="order" class="form-Label">Purchased Order: *</label></td>
      <td>
        <input name="order" class="form-text-box"maxlength='25' id="purchaseOrder">
     </td>
    </td>
   <td><td>
      <label for="Deliverydate" class="form-Label">Delivery Date: *</label>
      </td><td>
        <input name="Deliverydate"class="form-text-box date" id="Deliverydate">
    </td></td>
    </tr>
  </table>
</div>
<input type='text' class='hide'name ='flag'value="1">
<div class="form-group">
  <div class="col-md-6 col-md-offset-5">
    <a href="/viewStationary" type="button" class="btn btn-default">Cancel</a>
    <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
</div>

</body>

 <footer>
  <% include ../partials/footer %>
</footer>

<script>
jQuery('.date').datetimepicker({
 
  timepicker:false,
  format:'Y-m-d'
});

  function validate(){

    var inamount=$('#invoiceAmt').val();

    if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) =="") 
    {
      alert("Quantity is Missing!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }
    if($('#Invoicedate').val()=='') {
        alert("Invoice date is Missing!");    
      return false;
    }
    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#purchaseOrder').val().length<1||$.trim($("#purchaseOrder").val()) =="")
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
    if($('#Deliverydate').val() =='') 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
    
  }
</script>