<!DOCTYPE html>
<html lang="en">

 <head>
     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body style="overflow-x:hidden">
   
<<<<<<< HEAD
 <div style="  padding-bottom:1%;  " class="secondry-color">
    <div class="row" style="padding-top:1%">
   <span title="Go To Stationary List" onclick="document.location.href='/viewStationary';" style="float:left;width: 25px;height: 30px;font-size: 20px;color:green;padding-left: 30px;"  class="glyphicon glyphicon-arrow-left"></span>
        <span class="modal-title" style="padding-left:44%;">Add Stationary</span>
=======
 <div class="secondry-color">
 <span class="fusion-page-title">Add Stationary</span>
    <div class="row">
   <span title="Go To Stationary List" onclick="document.location.href='/viewStationary';" style="float:left;width: 25px;height: 30px;font-size: 20px;color:green;padding-left: 30px;"  class="glyphicon glyphicon-arrow-left"></span>
        
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
    </div>
    <div class="row" style="margin-left:5%;">
    </div>
    <form class="form-horizontal" style="margin:1%; " action="/addStationary" method="post">
<<<<<<< HEAD
      <div class="row">
      <table class="table"><tr><td><td>
        <label for="typel" class="form-Label">Name:<sup class="astrick">*</sup></label></td>
            <td>
              
               <input type="text" id="typel" class="form-text-box" maxlength="30" name="typel" placeholder="name">
            </td>
          </td>
        <td><td>
          <label for="no" class="form-Label">Quantity: <sup class="astrick">*</sup></label></td>
         <td>
           
             <input name="no" class="form-text-box" type="number" min="1" maxLength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Quantity">
          </td>
        </td>
        <td><td>
          <label for="vendor" class="form-Label">Vendor: <sup class="astrick">*</sup></label></td>
        <td>
            
             <!-- <select  class="form-text-box" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
                <option value='vendor' >vendor</option>
              </select> --> 
              <select  class="form-text-box" style=""  name="vendor" id ="vendor" onchange=""> 
              <option value='0' disabled selected>Select</option>
               <% for(i=0;i<brand_vendor[1].length;i++){%>
                <option value="<%=brand_vendor[1][i].id%>"><%=brand_vendor[1][i].name%></option>
                <%}%>
              </select>
           </td>
        </td>
     <td><td>
          <label for="invoiceNo" class="form-Label">Invoice No. <sup class="astrick">*</sup></label></td>
         <td>
            
            <input type="text" maxlength="30" name="invoiceNo" class="form-text-box" id="invoiceNo" placeholder="Invoice No.">
          </td>
        </td></tr><tr>
        <td><td>
        <label for="Invoicedate" class="form-Label">Invoice Date: <sup class="astrick">*</sup></label></td>
       <td>
        <input name="Invoicedate"type="" placeholder="select date" class="form-text-box date" id="Invoicedate"></td>
      </td>
     <td><td>
      <label for="invoiceAmt" class="form-Label">Invoice Amt. <sup class="astrick">*</sup></label></td>
      <td>
        
        <input type="number" maxLength="12"  name="invoiceAmt" class="form-text-box" id="invoiceAmt"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Invoice Amount">
      </td>
    </td>
    <td><td>
      <label for="order" class="form-Label">Purchased Order:<sup class="astrick">*</label></td>
      <td>
        <input name="order" class="form-text-box" placeholder="order number" maxlength="30" id="purchaseOrder">
     </td>
    </td>
   <td><td>
      <label for="Deliverydate" class="form-Label">Delivery Date: <sup class="astrick">*</sup></label>
      </td><td>
        <input name="Deliverydate"class="form-text-box date" placeholder="select date" id="Deliverydate">
    </td></td>
    </tr>
  </table>
</div>
<input type='text' class='hide'name ='flag'value="1">
<div class="form-group">
  <div class="col-md-6 col-md-offset-5">
    <a href="/viewStationary" type="button" class="btn btn-default">Cancel</a>
    <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
=======
      <div class="row fusion-form-elements">
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Name:<sup  class="astrick">*</sup></label>
          <input type="text" id="typel" class="form-control input-sm" maxlength="30" name="typel" placeholder="name">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Quantity:<sup  class="astrick">*</sup></label>
          <input name="no" class="form-control input-sm" type="number" min="1" maxLength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Quantity">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Vendor:<sup  class="astrick">*</sup></label>
          <select  class="form-control input-sm" style=""  name="vendor" id ="vendor" onchange=""> 
            <option value='0' disabled selected>Select</option>
             <% for(i=0;i<brand_vendor[1].length;i++){%>
              <option value="<%=brand_vendor[1][i].id%>"><%=brand_vendor[1][i].name%></option>
              <%}%>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Invoice No.:<sup  class="astrick">*</sup></label>
          <input type="text" maxlength="30" name="invoiceNo" class="form-control input-sm" id="invoiceNo" placeholder="Invoice No.">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Invoice Date:<sup  class="astrick">*</sup></label>
          <input name="Invoicedate"type="" placeholder="select date" class="form-control input-sm date" id="Invoicedate">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Invoice Amt.:<sup  class="astrick">*</sup></label>
          <input type="number" maxLength="12"  name="invoiceAmt" class="form-control input-sm" id="invoiceAmt"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="qty" placeholder="Invoice Amount">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Purchased Order:<sup  class="astrick">*</sup></label>
          <input name="order" class="form-control input-sm" placeholder="order number" maxlength="30" id="purchaseOrder">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <label>Delivery Date:<sup  class="astrick">*</sup></label>
          <input name="Deliverydate"class="form-control input-sm date" placeholder="select date" id="Deliverydate">
        </div>
      </div>

<input type='text' class='hide'name ='flag'value="1">
<div class="form-group">
  <div align="center">
    <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
    <a href="/viewStationary" type="button" class="btn btn-default">Cancel</a>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
  </div>
</div>
</form>
</div>

</body>

 <footer>
  <% include ../partials/footer %>
</footer>

<script>
  $(document).ready(function() {
            $('.asset-img').addClass('active');
        });
jQuery('.date').datetimepicker({
 
  timepicker:false,
<<<<<<< HEAD
  format:'d/m/Y'
=======
  format:'d/m/Y',
  scrollMonth : false,
        scrollInput : false
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
});

  function validate(){

    var inamount=$('#invoiceAmt').val();

    if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) =="") 
    {
      alert("Quantity is Missing!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }
    if($('#Invoicedate').val()=='') {
        alert("Invoice date is Missing!");    
      return false;
    }
    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#purchaseOrder').val().length<1||$.trim($("#purchaseOrder").val()) =="")
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
    if($('#Deliverydate').val() =='') 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
      if(new Date($('#Invoicedate').val())>new Date($('#Deliverydate').val()))
              {
                alert("Invoicedate Date is greater than Deliverydate Date");
                return false;
            }
    
  }
</script>