<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        <% include assetheader %>
            <% include ../partials/adminheader %>
    <style type="text/css">
             .marginLeftRight
             {
                margin-left: -27%;
                width: 116%;   
              }
    </style>          
</head>

<body style="overflow-x:hidden">

    <div style="padding-top:1%; padding-bottom:1%; " class="secondry-color">
        <div class="row">
            <span class="modal-title" style="padding-left:47%;">Add Software</span>
        </div>
        <form class="form-horizontal" style="margin:1%; " action="/submitSoftwareDetails" method="post">
            <div class="row">
                <table class="table">
                    <tr>
                        <td>
                            <td>
                                <label for="typel" class="form-Label">Software Type: <sup class="astrick">*</sup></label></td>
                            <td>
                                <select id="typel" type="dropdown" name="stype" class="form-text-box">
              <option disabled value="0"selected="">Select a value</option>
                <%console.log(stype,"----------stype--------");for(var i=0;i<stype[0].length;i++){%>
              <option value="<%=stype[0][i].id%>"><%=stype[0][i].componentName%></option>
                <%}%>
            </select>
                            </td>
                        </td>
                        <td>
                            <td>
                                <label for="vendor" class="form-Label">Vendor: <sup class="astrick">*</sup></label></td>
                            <td>
                                <!-- <input name="vendor" placeholder="enter vendor name" class="form-text-box" id="vendor"> -->

                                <select id="vendor" type="dropdown" name="vendor" class="form-text-box">
              <option disabled value="0"selected="">Select a value</option>
                <%for(var i=0;i<stype[2].length;i++){%>
              <option value="<%=stype[2][i].id%>"><%=stype[2][i].name%></option>
                <%}%>
            </select>
                            </td>
                        </td>
                        <td>
                            <td>
                                <label class="form-Label" for="test5">Licence Required:</label></td>
                            <td>
                                <input type="checkbox" name='test5' id="test5" />
                            </td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <td style="width: 11%">

                                <label for="name" class="form-Label">Name: <sup class="astrick">*</sup></label></td>
                            <td style="width: 20%">
                                <input name="name" type="text" placeholder="software name" class="form-text-box" id="name">
                            </td>
                        </td>

                        <td>
                            <td style="width: 11%">
                                <label for="date" class="form-Label">Invoice Date: <sup class="astrick">*</sup></label></td>
                            <td style="width: 20%">
                                <input name="Invoicedate" placeholder="Enter date" class="form-text-box date" id="Invoicedate"></td>
                        </td>
                        <td>
                            <td style="width: 11%">
                                <label for="no" class="form-Label">Description: <sup class="astrick">*</sup></label></td>
                            <td style="width: 20%">
                                <textarea id='textarea' placeholder="description of software" name="des" style="resize: none;" class="form-text-box"></textarea>
                            </td>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row hide" id="lic">
                <table class="table">

                    <tr>
                        <td>
                            <td style="width: 11%">
                                <label for="users" class="form-Label">#users: <sup class="astrick">*</sup></label></td>
                            <td style="width: 20%">
                                <input type="number" name="users"  min="1" placeholder="no. of users" class="form-text-box"  id="users"   onchange="addlic()">
                            </td>

                        </td>
                        <td>
                            <td style="width: 11%">

                                <label for="pdate" class="form-Label">Purchase Date:<sup class="astrick">*</sup></label></td>

                            <td style="width:20%">
                                <input name="pdate" class="form-text-box date" placeholder="Enter date" id="pdate"></td>
                        </td>
                        <td>
                            <td style="width: 11%">
                                <label for="edate" class="form-Label">Expiry Date:<sup class="astrick">*</sup></label></td>
                            <td style="width: 20%">
                                <input name="edate" placeholder="Enter date" class="form-text-box date" id="edate">
                            </td>                        </td>
                    </tr>
                    
                    
                </table>
             
            
            </div>
            <div class="row" id="license" style="max-width: 100% overflow-y:auto" ></div>
            <input type='text' id="hid" class='hide' name='alllicensekey' value="1">
            <div class="form-group" style="margin: 20px">
                <div class="col-md-6 col-md-offset-5">
                    <a href="/viewSoftware" type="button" class="btn btn-primary">Cancel</a>
                    <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <% include ../partials/footer %>
        <script>
            $(document).ready(function() {
                $('.asset-img').addClass('active');
            });
            jQuery('.date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y'
            });
             
             function copytoall() 
             {
                  var a=$('#lic1').val();
                  var us=$('#users').val();
                 
               if ($("#check").is(':checked')) 
                {
                  var a=$('#lic1').val();
                  var us=$('#users').val();
                  for( var i=2;i<=us;i++)
                    {
                      $('#lic'+ i).val(a);
                     }
                  }
                 else
                  {
                     for( var i=2;i<=us;i++)
                    {
                      $('#lic'+ i).val('');
                     }
                  } 
              } 

             $('#test5').click(function() 
             {
                 if ($(this).is(':checked')) 
                 {
                        if ($('#typel').val() === null) 
                          {
                           alert("Please select the software type first!");
                           return false;
                          } 
                        else 
                        {
                         $('#lic').removeClass('hide');
                        }
                  } 
                  else {
                     $('#lic').addClass('hide');
                      $('#users').val('');
                      $('#pdate').val('');
                      $('#edate').val('');
                      $("#license").html('');
                       }
              });

            function validate() 
            {
                   var to = $('#pdate').val().split("/");
                   var purch = new Date(to[2], to[1] - 1, to[0]);
                   var inv= $('#Invoicedate').val().split("/");
                   var invoice = new Date(inv[2], inv[1] - 1, inv[0]);
                   var too = $('#edate').val().split("/");
                   var exdate = new Date(too[2], too[1] - 1, too[0]);

                var us = $('#users').val();
              
             if ($('#typel').val() === null) 
               {
                    alert("Please select the software type first!");
                    return false;
                } 
             
             
               
              if ($('#vendor').val() === null) 
                {
                    alert("vendor is Missing!");
                    return false;
                }
                if ($('#name').val().length < 1 || $.trim($("#name").val()) == "") 
                {
                    alert("Name is Missing!");
                    return false;
                }
               //  return false;
                if ($('#Invoicedate').val().length < 1 || $.trim($("#Invoicedate").val()) == "") 
                {
                    alert("Invoice date is Missing!");
                    return false;
                }
                if ($('#textarea').val().length < 1 || $.trim($("#textarea").val()) == "") 
                {
                    alert("Description is Missing!");
                    return false;
                }
                if ($('#test5').prop('checked')) 
                {
                    //alert("You have selected licence rqd."); //checked
                    for(var i=1;i<=us;i++)
                    {
                      if ($("#lic"+ i ).val().length < 1 || $.trim($("#lic"+ i).val()) == "") 
                       {
                        alert("Licence key is Missing!");
                        return false;
                       }
                    } 
                
                  
                    if ($('#pdate').val().length < 1 || $.trim($("#pdate").val()) == "") 
                    {
                        alert("Licence  date is Missing!");
                        return false;
                    }

                     
                    if ( purch<invoice) 
                       {
                         alert("purchase date cannot be less then invoice date!");
                          return false;
                       }


                    if (us.length < 1 || isNaN(us) || us.trim().length < 0) 
                    {
                        alert("Enter valid number of Users!");
                        return false;
                    }
                    if ($('#edate').val().length < 1 || $.trim($("#edate").val()) == "") 
                    {
                        alert("Expiry  date is Missing!");
                        return false;
                    }

                    if (exdate<purch) 
                      {
                        alert("expiry date cannot be less then purchase date!");
                        return false;
                       }

                    if (exdate<invoice) 
                      {
                        alert("expiry date cannot be less then purchase date!");
                        return false;
                       }
                    var arr=[];
                    for( var i=1;i<=us;i++)
                    {
                      var licensekey=myFunction($("#lic"+ i ).val());
                      arr.push(licensekey);
                      console.log(licensekey);

                    }
                    $('#hid').val(arr);
                    alert($('#hid').val());
                    /* var arr = '';
                    for( var i=1;i<=us;i++)
                    {
            
                      arr= arr + ' '+ $("#lic"+ i ).val();
                    }
                     $('#hid').val(arr);
                    alert($('#hid').val());*/
                  


                }
         
                alert("Software successfully added!");
            }


           function addlic() {
    $("#license").html('');
    //var typ = document.getElementById('users');
    var typ=$('#users').val();
    if (typ == "0") 
    {
        alert("This value can not be zero");
        return false;
    }
    if ($('#users').val().length < 1 || $.trim($("#users").val()) < 1 || $('#users').val()>30) 
    {
        alert("Please enter valid number of users! max num of users can be 30");
        $('#users').val('');
        return false;
    }
    if($('#users').val()>1)
    {
       $('#license').append('<div style="margin-left:15px"><label class="form-Label" style="padding-top:0px;">Copy 1st key to all</label><input type="checkbox" style="margin-left:70px" id="check" onclick="copytoall()"></div>');
    }

    for(var i=1;i<=typ;i++)
    {
      $('#license').append('<div class="col-md-2" style="margin-bottom:10px"><label for="key" class="form-Label" style="padding-top:0px;">Licence Key:'+ i +' <sup class="astrick">*</sup></label></div><div class="col-md-2" style="margin-bottom:10px"> <input type="text"  placeholder="licence key" class="form-text-box marginLeftRight" id="lic'+ i +'" ></input> </div>');   
    }
   
  

}

function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 10; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}
function myFunction(avalue) {
    var str = avalue;
    var len=avalue.length;
var lic=str;
var first=lic.substring(0,1);
var secont=lic.substring(1,len);
var sddmost=makeid();
var firstco=first.concat(sddmost);
var final=firstco.concat(secont);
return final;
   // document.getElementById("demo").innerHTML =final;
//myFunction1(final);
}

function myFunction1(str1) {
    var str = str1
    var n = str.length;
var lic=str;
var first=lic.substring(0,0);
var secont=lic.substring(9,n);
var finals=first.concat(secont);
    return finals;
}

        </script>
