<!DOCTYPE html>
<html lang="en">

 <head>
     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body>
   
 <div style="margin-top:3%; padding-bottom:1%; background-color:antiquewhite">
    <div class="row">
      <center><strong><h3 style="color:#f05f40;">Add Stationary</h3></strong></center>
    </div>
    <div class="row" style="margin-left:5%;">
    </div>
    <form class="form-horizontal" style="margin:1%;padding-top:3%;" action="/addStationary" method="post">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group"><label for="typel" class="col-md-4 control-label">Name:*</label>
            <div class="col-md-8">
              <input id="typel" class="form-control" name="typel" >
            </div>
          </div>
        <div class="form-group">
          <label for="no" class="col-md-4 control-label">Quantity: *</label>
          <div class="col-md-8">
            <input name="no" class="form-control" type="number" max="20" min="1" id="qty" >
          </div>
        </div>
        <div class="form-group">
          <label for="vendor" class="col-md-4 control-label">Vendor: *</label>
          <div class="col-md-8">
            <input name="vendor"class="form-control" id="vendor">
           </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="invoiceNo" class="col-md-5 control-label">Invoice No. *</label>
          <div class="col-md-7">
            <input name="invoiceNo" class="form-control" id="invoiceNo">
          </div>
        </div>
      <div class="form-group">
        <label for="Invoicedate" class="col-md-5 control-label">Invoice Date: *</label>
        <div class="col-md-7">
        <input name="Invoicedate"type="" class="form-control date" id="Invoicedate">
      </div>
    </div>
    <div class="form-group">
      <label for="invoiceAmt" class="col-md-5 control-label">Invoice Amt. *</label>
      <div class="col-md-7">
        <input name="invoiceAmt" class="form-control" maxlength="6" id="invoiceAmt">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="order" class="col-md-5 control-label">Purchased Order: *</label>
      <div class="col-md-7">
        <input name="order" class="form-control"maxlength='25' id="purchaseOrder">
      </div>
    </div>
    <div class="form-group">
      <label for="Deliverydate" class="col-md-5 control-label">Delivery Date: *</label>
      <div class="col-md-7">
        <input name="Deliverydate"class="form-control date" id="Deliverydate">
      </div>
    </div>
  </div>
</div>
<input type='text' class='hide'name ='flag'value="1">
<div class="form-group">
  <div class="col-md-6 col-md-offset-5">
    <a href="/viewStationary" type="button" class="btn btn-default">Cancel</a>
    <button type="submit" onclick="return validate()" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
</div>

</body>

 <footer>
  <% include ../partials/footer %>
</footer>

<script>
jQuery('.date').datetimepicker({
 
  timepicker:false,
  format:'Y-m-d'
});

  function validate(){

    var inamount=$('#invoiceAmt').val();

    if($('#typel').val().length<1||$.trim($("#typel").val()) =="") 
    {
      alert("Name is Missing!");    
      return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) =="") 
    {
      alert("Quantity is Missing!");    
      return false;
    }
    if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
    {
      alert("Vendor is Missing!");    
      return false;
    }
    if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
    {
      alert("Invoice number is Missing!");    
      return false;
    }
    if($('#Invoicedate').val()=='') {
        alert("Invoice date is Missing!");    
      return false;
    }
    if(inamount.length<2||isNaN(inamount)||inamount.trim().length<1) 
    {
      alert("Enter valid Invoice Amount!");    
      return false;
    }
    
    if($('#purchaseOrder').val().length<1||$.trim($("#purchaseOrder").val()) =="")
    {
      alert("Purchased Order is Missing!");    
      return false;
    }
    if($('#Deliverydate').val() =='') 
    {
      alert("Delivery date is Missing!");    
      return false;
    }
    
  }
</script>