 

     <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.asset-tab').addClass("active");
   });
   </script> 

<div class="sub-header  navbar-fixed-top" style="z-index:1" >

 
  <table id="headMenu"> 

        <tr align="center">
          <!-- <td id="download" onclick="exportBug()" class=" hide">
          <img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
          </td> -->
          <td class="trans-img" style="width:100px">
             <a href="/asset" >
            <img src="/img/lists.png" class="shadow" height="30px" width="30px">
          </a>
          </td> 
          <td class="asset-img" style="width:100px"> 
              <a class="dropdown-toggle" style="color:black;padding-top:5px;padding-bottom:5px; " data-toggle="dropdown" href="#"><img src="/img/asset.png" class="shadow" style=" " height="30px" width="30px"> </a>
               <ul class="dropdown-menu a" style="margin-left:10.5%;min-width:5%;">          
                <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
                <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
                <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
                <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
              </ul>
          </td> 
        </tr>
        <tr>
        <!-- <td id="downloadL" class="hide"></td> -->
          <td class="trans-img" style="width:100px;text-align:center">
             <a href="/asset" style="color:black;padding-top:5px;padding-bottom:5px;">Transactions </a>
          </td>
          <td class="asset-img" style="width:100px;text-align:center">
            <a class="dropdown-toggle" style="color:black;padding-top:5px;padding-bottom:5px;" data-toggle="dropdown" href="#">Asset
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu a" style="margin-left:10.5%;min-width:5%;">          
          <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
          <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
          <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
          <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
        </ul>
          </td>
          
        </tr>
  </table>

  </div>
   <hr style="margin-top:40px;max-width:100%">