 

     <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.asset-tab').addClass("active");
   });
   </script> 

<div class="sub-header fusion-subheader" style="z-index:1;position: relative;" >

  <nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbar1">
      <ul class="nav navbar-nav">
        <%if(assetrole==1){%>
        <li>
            <div class="inv-img">
                <a class="subheaderMaster" href="/inventory">
                    <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px"><br>Inventory
                </a>
            </div>
        </li>
        <li>
            <div class="trans-img">
                <a class="subheaderMaster" href="/transaction">
                    <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" width="30px"><br>Transactions
                </a>
            </div>
        </li>
        <li class="asset-sub-menu">
            <div class="asset-img">
              <a class="subheaderMaster dropdown-toggle" href="#" id="sub-menu-toggle">
                  <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px" style="text-decoration: none;"><br>Asset <span class="caret"></span>
              </a>
              
            </div>
            <ul class="dropdown-menu a" style="border-bottom: solid thin #ddd;text-align: center;">          
                 <li><a href="/viewHardware"style="color:black;">Hardware</a></li>
                 <li><a href="/viewSoftware"style="color:black;">Software</a></li>
                 <li><a href="/viewFurniture"style="color:black;">Furniture</a></li>
                 <li><a href="/viewStationary"style="color:black;">Stationary</a></li> 
              </ul>
        </li>
        <%}%>
        <li>
            <div class="assign-img">
                <a class="subheaderMaster" href="/AssignAsset">
                    <img class="imageInc" src="/img/lists.png" class="shadow" height="30px"  width="30px"><br>Assigned Asset 
                </a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <%if(assetrole==1){%>
 <div class="inv-img">
      <a class="subheaderMaster" href="/inventory">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px"><br>Inventory
      </a>
  </div>
  <div class="trans-img">
      <a class="subheaderMaster" href="/transaction">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" width="30px"><br>Transactions
      </a>
  </div>
  <div class="asset-img">
      <a class="subheaderMaster dropdown-toggle" data-toggle="dropdown" href="#">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px" style="text-decoration: none;"><br>Asset <span class="caret"></span>
      </a>
      <ul class="dropdown-menu a" style="margin-left:15.5%;min-width:5%">          
         <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
         <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
         <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
         <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
      </ul>
  </div>
    <%}%>
  <div class="assign-img">
      <a class="subheaderMaster" href="/AssignAsset">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px"  width="30px"><br>Assigned Asset 
      </a>
  </div> -->


  </div>
<script type="text/javascript">
  $('#sub-menu-toggle').on('click', function (event) {
      $('.asset-sub-menu').toggleClass('open');
  });
</script>
