 

     <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.asset-tab').addClass("active");
   });
   </script> 

<<<<<<< HEAD
<div class="sub-header  navbar-fixed-top" style="z-index:1" >

 
  <table id="headMenu"> 

        <tr align="center">
          <!-- <td id="download" onclick="exportBug()" class=" hide">
          <img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
          </td> -->
          <%if(assetrole==1){%>
          <td class="inv-img" style="width:100px">
             <a href="/inventory" >
            <img src="/img/asset.png" class="shadow" height="30px" width="30px">
          </a>
          </td>
          <td class="trans-img" style="width:100px">
             <a href="/transaction" >
            <img src="/img/lists.png" class="shadow" height="30px" width="30px">
          </a>
          </td>
          
          <td class="asset-img" style="width:100px"> 
              <a class="dropdown-toggle" style="color:black;padding-top:5px;padding-bottom:5px; " data-toggle="dropdown" href="#"><img src="/img/asset.png" class="shadow" style=" " height="30px" width="30px"> </a>
               <ul class="dropdown-menu a" style="margin-left:15.5%;min-width:5%; margin-top: 20px;">          
                <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
                <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
                <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
                <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
              </ul>
          </td>
          <%}%>
           <td class="assign-img" style="width:100px">
             <a href="/AssignAsset" >
            <img src="/img/lists.png" class="shadow" height="30px" width="30px">
          </a>
          </td> 
         
        </tr>
        <tr>
        <!-- <td id="downloadL" class="hide"></td> -->
        <%if(assetrole==1){%>
          <td class="inv-img" style="width:100px;text-align:center">
             <a href="/inventory" style="color:black;padding-top:5px;padding-bottom:5px;">Inventory </a>
          </td>
          <td class="trans-img" style="width:100px;text-align:center">
             <a href="/transaction" style="color:black;padding-top:5px;padding-bottom:5px;">Transactions </a>
          </td>
          <td class="asset-img" style="width:100px;text-align:center">
            <a class="dropdown-toggle" style="color:black;padding-top:5px;padding-bottom:5px;" data-toggle="dropdown" href="#">Asset
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu a" style="margin-left:15.5%;min-width:5%;">          
          <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
          <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
          <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
          <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
        </ul>
          </td>
           <%}%>
            <td class="assign-img" style="width:100px;text-align:center">
             <a href="/AssignAsset" style="color:black;padding-top:5px;padding-bottom:5px;">Assigned Asset </a>
          </td>
         
        </tr>
  </table>

  </div>
   <hr style="margin-top:40px;max-width:100%">
=======
<div class="sub-header fusion-subheader" style="z-index:1;position: relative;" >

  <nav class="navbar navbar-inverse fusion-sub-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse sub-navbar" id="myNavbar1">
      <ul class="nav navbar-nav">
        <%if(assetrole==1){%>
        <li>
            <div class="inv-img">
                <a class="subheaderMaster" href="/inventory">
                    <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px"><br>Inventory
                </a>
            </div>
        </li>
        <li>
            <div class="trans-img">
                <a class="subheaderMaster" href="/transaction">
                    <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" width="30px"><br>Transactions
                </a>
            </div>
        </li>
        <li class="asset-sub-menu">
            <div class="asset-img">
              <a class="subheaderMaster dropdown-toggle" href="#" id="sub-menu-toggle">
                  <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px" style="text-decoration: none;"><br>Asset <span class="caret"></span>
              </a>
              
            </div>
            <ul class="dropdown-menu a" style="border-bottom: solid thin #ddd;text-align: center;">          
                 <li><a href="/viewHardware"style="color:black;">Hardware</a></li>
                 <li><a href="/viewSoftware"style="color:black;">Software</a></li>
                 <li><a href="/viewFurniture"style="color:black;">Furniture</a></li>
                 <li><a href="/viewStationary"style="color:black;">Stationary</a></li> 
              </ul>
        </li>
        <%}%>
        <li>
            <div class="assign-img">
                <a class="subheaderMaster" href="/AssignAsset">
                    <img class="imageInc" src="/img/lists.png" class="shadow" height="30px"  width="30px"><br>Assigned Asset 
                </a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <%if(assetrole==1){%>
 <div class="inv-img">
      <a class="subheaderMaster" href="/inventory">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px"><br>Inventory
      </a>
  </div>
  <div class="trans-img">
      <a class="subheaderMaster" href="/transaction">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" width="30px"><br>Transactions
      </a>
  </div>
  <div class="asset-img">
      <a class="subheaderMaster dropdown-toggle" data-toggle="dropdown" href="#">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px" style="text-decoration: none;"><br>Asset <span class="caret"></span>
      </a>
      <ul class="dropdown-menu a" style="margin-left:15.5%;min-width:5%">          
         <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
         <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
         <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
         <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
      </ul>
  </div>
    <%}%>
  <div class="assign-img">
      <a class="subheaderMaster" href="/AssignAsset">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px"  width="30px"><br>Assigned Asset 
      </a>
  </div> -->


  </div>
<script type="text/javascript">
  $('#sub-menu-toggle').on('click', function (event) {
      $('.asset-sub-menu').toggleClass('open');
  });
</script>
>>>>>>> 75266d9ffa5f22c97d091d4bb41cc7961557b2fd
