 

     <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.asset-tab').addClass("active");
   });
   </script> 

<div class="sub-header" style="z-index:1;position: relative;" >

<%if(assetrole==1){%>
 <div class="inv-img">
      <a class="subheaderMaster" href="/inventory">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px"><br>Inventory
      </a>
  </div>
  <div class="trans-img">
      <a class="subheaderMaster" href="/transaction">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px" width="30px"><br>Transactions
      </a>
  </div>
  <div class="asset-img">
      <a class="subheaderMaster dropdown-toggle" data-toggle="dropdown" href="#">
          <img class="imageInc" src="/img/asset.png" class="shadow" height="30px" width="30px" style="text-decoration: none;"><br>Asset <span class="caret"></span>
      </a>
      <ul class="dropdown-menu a" style="margin-left:15.5%;min-width:5%">          
         <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
         <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
         <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
         <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
      </ul>
  </div>
    <%}%>
  <div class="assign-img">
      <a class="subheaderMaster" href="/AssignAsset">
          <img class="imageInc" src="/img/lists.png" class="shadow" height="30px"  width="30px"><br>Assigned Asset 
      </a>
  </div>


  </div>

