 

     <script>
   
   $(document).ready(function() {
    $('.modulemenu').removeClass('active');
    $('.portal-menu').addClass('hide');
    $('.asset-tab').addClass("active");
   });
   </script> 
 <!-- 
  <div  lass="module-menubar  navbar-fixed-top"  >
  <table > 
    <tr align="center">
      <td style="width:30%">
        <a href="/asset">
          <img src="/img/transaction.png" class="shadow" height="30px" width="30px">
        </a>
      </td>
      <td style="width:23%">
        <ul class="nav navbar-nav" style="padding-top:10px;">
          <li class="dropdown"><img src="/img/asset.png" class="shadow" style="margin-left:100%;" height="30px" width="30px"></li>
        </ul>
      </td>
      <td style="width:23%">
        <a href="#">
          <img src="/img/vendor.png" class="shadow" style="  " height="30px" width="30px">
        </a>
      </td>
      <td style="width:23%">
        <a href="#">
          <img src="/img/reports.png" class="shadow" style="  " height="30px" width="30px">
          </a>
      </td>
    </tr>
    <tr>
      <td style="width:30%;text-align:center">
        <a class="dropdown-toggle" style="color:white;padding-top:1%;padding-bottom:1%;margin-left:10%" data-toggle="dropdown" href="#">Transactions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu a" style="min-width:100px;margin-left:2.2%;background-color:#f05f40;">    
          <li style="width:100%;"><a href="/asset"style="color:white;">Hardware</a></li>
          <li style="width:100%;"><a href="/assignSoftware"style="color:white;">Software</a></li>
        </ul>
      </td>
      <td style="width:100px;text-align:center">
        <a class="dropdown-toggle" style="color:white;padding-top:5px;padding-bottom:5px;" data-toggle="dropdown" href="#">Asset
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu a" style="margin-left:10.5%;min-width:5%;background-color:#f05f40;">          
          <li style="width:100%;"><a href="/viewHardware"style="color:white;">Hardware</a></li>
          <li style="width:100%;"><a href="/viewSoftware"style="color:white;">Software</a></li>
          <li style="width:100%;"><a href="/viewFurniture"style="color:white;">Furniture</a></li>
          <li style="width:100%;"><a href="/viewStationary"style="color:white;">Stationary</a></li> 
        </ul>
      </td>
      <td style="width:100px;text-align:center">
        <a href="#"  style="color:white">Vendor</a>
      </td>
      <td style="width:100px;text-align:center">
        <a href="#"  style="color:white">Reports</a>
      </td>
    </tr>
  </table>
</div> -->

<div class="module-menubar  navbar-fixed-top" >

   <span id="download" class="glyphicon glyphicon-download hide" onclick="exportBug()" style="float:left;margin-left:82px;margin-top: 16px;cursor: pointer;font-size:19px" title="Download CSV of Bugs" ></span>
 
  <table id="headMenu"> 

        <tr align="center">
          <!-- <td id="download" onclick="exportBug()" class=" hide">
          <img src="../img/download.png" class="shadow" style="margin-top:2%;cursor:pointer" height="30px" width="100px" title="Download CSV">
          </td> -->
          <td class="bughome-img" style="width:100px">
           <a href="/asset">
          <img src="/img/lists.png" class="shadow" height="30px" width="30px">
        </a>
          </td>
          
      <td style="width:100px">
        <ul class="nav navbar-nav" style="padding-top:10px;">
          <li class="dropdown"><img src="/img/asset.png" class="shadow" style="margin-left:100%;" height="30px" width="30px"></li>
        </ul>
      </td>
          
         
        </tr>
        <tr>
        <!-- <td id="downloadL" class="hide"></td> -->
          <td class="bughome-img" style="width:100px;text-align:center">
             <a class="dropdown-toggle" style="color:black;padding-top:1%;padding-bottom:1%;margin-left:10%" data-toggle="dropdown" href="/asset">Transactions          
        </a>
          </td>
          <td class="viewbug-img" style="width:100px;text-align:center">
            <a class="dropdown-toggle" style="color:black;padding-top:5px;padding-bottom:5px;" data-toggle="dropdown" href="#">Asset
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu a" style="margin-left:10.5%;min-width:5%;background-color:rgba(240, 95, 64, 0.18);">          
          <li style="width:100%;"><a href="/viewHardware"style="color:black;">Hardware</a></li>
          <li style="width:100%;"><a href="/viewSoftware"style="color:black;">Software</a></li>
          <li style="width:100%;"><a href="/viewFurniture"style="color:black;">Furniture</a></li>
          <li style="width:100%;"><a href="/viewStationary"style="color:black;">Stationary</a></li> 
        </ul>
          </td>
          
        </tr>
  </table>

  </div>
   <hr style="margin-top:51px;max-width:100%">