<!DOCTYPE html>
  <html lang="en">

  <head>
    <% include ../partials/head %>
    <% include assetheader %>
    <% include ../partials/adminheader %>
  </head>

  <body>
  <div class="container-fluid" style="margin-top:10%;background-color:antiquewhite">
      <div class="row">
        <label class="pageTitle"style="margin-top:3%;" >Assign/Unassign Hardware</label> 
      </div>
  <div class="tab-pane col-lg-12 fade" style="background-color:antiquewhite;"id="tab1">
    type
  </div>
  </body>
<footer>
  <% include ../partials/footer %>
</footer>
</html>
