<!DOCTYPE html>
<html lang="en">

<head>

     <% include ../partials/head %>
       <% include assetheader %>
       <% include ../partials/adminheader %>
</head>

<body>
 
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="close()" data-dismiss="modal" aria-hidden="true">×</button>
        <center><h4 class="modal-title"></h4></center>
      </div>
      <div class="modal-body">
        <label for="serial">Serial No.</label>
        <input id="serial" name>
        <label for="brand">Brand</label>
        <input id="brand" name>
        <input id="hide1" class="hide">
        <input id="hide2" class="hide">
        <input id="hide3" class="hide">
        <input id="hide4" class="hide">
      </div>
      <div class="modal-footer">
        <button type="button" onclick="closeModal();" class="btn btn-default">Close</button>
        <button type="button" onclick="save();" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color:antiquewhite; ">
  <div class="row">
 
    <span class="modal-title" style="padding-left:47%;">Hardware</span>
  </div>
  <div class="row" style="margin-left:5%;">
  </div>
  <form class="form-horizontal" style="" > <!-- action="/addHardware" method="post" --> 
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="typel" class="col-md-3 control-label">Type</label>
          <div class="col-md-9">
            <select id="typel" type="dropdown" name="htype" class="form-control" value="" >  <option disabled value="0"selected="">Select a value</option>
              <%for(var i=0;i<htype[0].length;i++){%>
              <option value="<%=htype[0][i].id%>"><%=htype[0][i].componentName%></option>
                <%}%>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="no" class="col-md-3 control-label">Quantity</label>
          <div class="col-md-9">
            <input name="no" class="form-control" type="number" max="20" min="1" id="qty" placeholder="Quantity" onchange="addcompo()">
          </div>
        </div>
        <div class="form-group">
          <label for="vendor" class="col-md-3 control-label">Vendor</label>
          <div class="col-md-9">
            <input name="vendor"class="form-control" id="vendor" placeholder="Vendor" required>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="invoiceNo" class="col-md-5 control-label">Invoice No.</label>
          <div class="col-md-7">
            <input name="invoiceNo" class="form-control" id="invoiceNo" placeholder="Invoice No." required>
          </div>
        </div>
        <div class="form-group">
          <label for="Invoicedate" class="col-md-5 control-label">Invoice Date</label>
          <div class="col-md-7">
            <input name="Invoicedate" class="form-control datetimepicker" id="Invoicedate" placeholder="Invoice Date" required>
          </div>
        </div>
        <div class="form-group">
          <label for="invoiceAmt" class="col-md-5 control-label">Invoice Amt.</label>
          <div class="col-md-7">
            <input name="invoiceAmt" class="form-control" id="invoiceAmt" placeholder="Invoice Amount" required>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="order" class="col-md-5 control-label">Purchased Order</label>
          <div class="col-md-7">
            <input name="order" class="form-control" id="order" placeholder="Purchased Order" required>
          </div>
        </div>
        <div class="form-group">
          <label for="Deliverydate" class="col-md-5 control-label">Delivery Date</label>
          <div class="col-md-7">
            <input name="Deliverydate" class="form-control datetimepicker" id="Deliverydate" placeholder="Delivery Date" required="required">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class=" col-md-12 table-responsive">
<!-- <h3>Specifications</h3> -->
<!-- <input type="button" onclick="addRow()" value="ADD"> -->
        <table class="table table-striped table-bordered table-hover table-condensed hide"style="overflow:scroll;width:100%;">
        <thead id="headi">
        </thead>
        <tbody id="bodyi">
        </tbody>
        </table>
      </div>
    </div>
    <div class="form-group row" style="padding-bottom:20px;">
      <div class="col-md-1 col-md-offset-5">
        <input type="button" class="btn btn-danger hide" id="cancel" value="Cancel">
      </div>
      <div class="col-md-1">
        <input type="button" onclick="parsealldata()"style="position:relative;left:-22%;" class="btn btn-info hide"value="Submit" id="submit">
      </div>
      <div class="col-md-1">
        <input type="button"class="btn btn-primary" id="next" style="position:relative;right:180%"value="NEXT"onclick="return addcompo()">
      </div>
    </div>
  </div>
  <input name="lineString" type="text" class="hide" id="inf">
<input name="compString" type="text" class="hide" id="inf1">
<input name="comps" type="text" class="hide" id="inf2">
</form>
</div>
<div class="modal " id="addModal"  role="dialog">
  <div class="modal-dialog" style="display:table;height:95%;">
    <!-- Modal content-->
    <div class="modal-content" id="express2" style="height:356px;width:800px">
      <div class="modal-header" style="background-color:#f05f40;">
        <center><label id="head4" class="modal-title" style="color:white;font-size:14pt;"><b>Add Component</b></label>
        <span  data-dismiss="modal"  class="glyphicon glyphicon-remove" style='font-size:14pt;float:right;color:black;margin-bottom: 15px'></span>
        </center>
      </div>
      <div id="err" class="col-lg-6 col-sm-offset-3"></div>
      <div class="modal-body">
        <div class="form-group">
          <div class=" col-md-12 table-responsive">
          <!-- <h3>Specifications</h3> -->
        <!-- <input type="button" onclick="addRow()" value="ADD"> -->
            <table class="table table-striped table-bordered table-hover table-condensed" style="overflow-y:auto;">
            <col width="10"><col width="10"><col width="20"><col width="10"><col width="10">

                <thead id="modalHead">
                  <tr>
                    <th>Component</th>
                    <th style="width:25%;">Serial No.</th>
                    <th style="width:15%;">Brand</th>
                    <th style="width:15%">Warranty</th>
                    <th style="width:15%">Size</th>
                    <th style="width:15%">Action</th>
                  </tr>
                </thead>
                <tbody id="addcompobody">
                </tbody>
              </table>
              <input type="hidden" id="serids">
              <input  data-dismiss="modal" type="button"class="btn btn-info" onclick="saveComp()" value="SUBMIT">
             <input type="button"class="btn btn-info" onclick="addCompModal()" value="ADD">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<footer>
  <% include ../partials/footer %>
</footer>
<style type="text/css">
  .scrollit {
    overflow:scroll;
    height:100px;}
</style>
    <script type="text/javascript">
      var countAddCompModal = 0;
      var subheaderArray=[];
      var componentArray=[];
      i=0;
     function addCompModal(){
       getbrand();
    var row = '<tr id="tr'+countAddCompModal+''+i+'"><td><select class = "single form-control" id="compo'+countAddCompModal+'"><%for(var i=0;i<htype[0].length;i++){%><option value="<%=htype[0][i].id%>"><%=htype[0][i].componentName%></option><%}%></select></td><td><input type = "text" class = "single form-control" id="srno'+countAddCompModal+'"></td><td><select class="branddrop1 single form-control" id="brand'+countAddCompModal+'"></select></td><td><input type = "text" class = "single form-control" id="war'+countAddCompModal+'"></td><td><input type = "text" class = "single form-control" id="size'+countAddCompModal+'"></td><td><span style="font-size:25px;color:red" class="glyphicon glyphicon-remove-circle" onclick="removeRow('+countAddCompModal+','+i+')"></span></td></tr>';
         $('#addcompobody').append(row);
         
         countAddCompModal++;
         i++

     }


 function removeRow(tt,j){
  $(('#tr'.concat(tt)).concat(j)).html('');
  countAddCompModal--;
 }







  /*var subtype;
  function changeddl(){
    console.log("changeddl");
    var value=$('#typel').val();
    console.log(value);
    $.ajax({
      url: "/type",
      method:'post',
      data: {qids: value},
              dataType: 'json',
      success: function(result){
        console.log(result);
        subtype=result[0];
      }
    });
  }*/
            var i=0;
        function addRow(){
        i++;
        var row='<tr><td><input id name></td><td ><input id name></td><td><input id name></'+
        'td><td><input id name></td><td> <select id="select222" type="dropdown"'+ 
        ' class="form-'+
        'control"><option>1</option><option>2</option><option>3</option><option>4</option>'+
        '<option>5</option></select></td></tr>';
            $('#bodyi').append(row);
        }
    
  function check_qty() {
    alert("qty");
    var qty=document.getElementById('no').value;
     /*var rem_qty=document.getElementById('rem_qty').value;*/
    if(qty<0) {
      alert("Quantiy cannot be negative!");
      document.getElementById('qty').value='';
    } else 
    { if(qty>20){
        alert("Quantity cannot exceed 20!");
        document.getElementById('qty').value='';
      }
    } 
  }
 
function showmodal(el){
  alert(el);
  if(el.value=='monitor'){
    var size='<label for="size">Size</label><input id="size" name>'
    $('.modal-body').append(size);
  }
  $('.modal-title').html(el.value);
  if(arr[$('#hide1').val()].component.hasOwnProperty(el.value)){
    $('#serial').val(arr[$('#hide1').val()].component[el.value].serial);
    $('#brand').val(arr[$('#hide1').val()].component[el.value].brand);
  }
    /*arr[$('#hide1').val()].component[el.value].serial*/
  $('#myModal').show('toggle');
    /*$('.close').click(function(){
    })*/
}

var arr=[];
$(document).ready(function(){
  jQuery('.datetimepicker').datetimepicker({
  timepicker:false,
  format:'d-m-Y'
  });
  
  $('.sin').selectpicker();
    
  });
var col;
var comps=[];
var qty;
var attlength;
var allAttIds = [];
var allAttIds1 = [];
var fact=0;
function addcompo(){
  
  var typ = document.getElementById('typel');
  var selectedValue = typ.options[typ.selectedIndex].value;
  if (selectedValue == "0")
    {
    alert("Please select a type");console.log("intype");
    return false;
    }
    if($('#qty').val().length<1||$.trim($("#qty").val()) <1)
    {
    alert("Please enter valid Quantity!");
    return false;
     }
//..............................validation commented for  testing................................
  if($('#vendor').val().length<1||$.trim($("#vendor").val()) =="") 
  {
    alert("Vendor is Missing!");    
    return false;
  }

  if($('#invoiceNo').val().length<1||$.trim($("#invoiceNo").val()) =="") 
  {
    alert("Invoice No Missing!");    
    return false;
  }

  if($('#Invoicedate').val().length<1||$.trim($("#Invoicedate").val()) =="") 
  {
    alert("Invoice date Missing!");    
    return false;
  }

  if($('#invoiceAmt').val().length<1||$.trim($("#invoiceAmt").val()) =="") 
  {
    alert("Invoice Amount Missing!");    
    return false;
  }

  if($('#order').val().length<1||$.trim($("#order").val()) =="") 
  {
    alert("Placed order Missing!");    
    return false;
  }

  if($('#Deliverydate').val().length<1||$.trim($("#Deliverydate").val()) =="") 
  {
    alert("Delivery date Missing!");    
    return false;
  }

   //else if($('#invoiceNo').val().length<1||$.trim($("#idpname").val()) =="")){}

    
  //$("#qty").blur(function() {
       qty=document.getElementById('qty').value;
      /*var rem_qty=document.getElementById('rem_qty').value;*/
      
      if(qty>20){
        alert("Quantity cannot exceed 20!");
        document.getElementById('qty').value='';
      } else{
        console.log(selectedValue);
      $.ajax({
        url:'/getAttr',
        method:'post',
                data:{acid:selectedValue},
                dataType:'json',
                success:function(result){
                  
                  $('#headi').empty();
                  var head='<tr ><th>#</th><th >Serial No.</th>';
                  allAttIds = [];
                  for(var i=0;i<result[0].length;i++){
                    console.log('head'+i)
                    head=head+'<th>'+result[0][i].attribute+'</th>';
                  allAttIds.push(result[0][i].attId);
                  }
                  allAttIds1=allAttIds;
                  //alert(allAttIds1);
                  //allAttIds.push(0);
        /********************Important next line*************************/
            head=head+'<th >Brand</th><th style = "width:100px;" id ="underconsideration">Warranty</th><th class = "">Components</th></tr>';
            $('#headi').append(head);
            $('#bodyi').empty();
        arr.length=qty;
        col=result[0].length;
       attlength = col;
        for(var i=0;i<qty;i++){
          var k=i
          var row='<tr><td>'+ ++k +'</td><td><input class="form-control serialClass"'+
          ' id="serial'+i+'"></td>';
          for(var o=0;o<result[0].length;o++){

           row=row+'<td><select class="single" id="'+i+o+'">';

           
          for(var dropdownValues=0;dropdownValues<result[1].length;dropdownValues++){
                 if(result[0][o].attId==result[1][dropdownValues].attId){
              row=row+'<option value="'+result[1][dropdownValues].id+'">'+result[1][dropdownValues].value+'</option>';          
                 }

              }
              row = row + '</select></td>';
          
          }

    /*******************Code by Mayur for brandname and warranty***************************/
         // var k = 0;while(result[1][k++].attId!=0);
         // k--;


              row=row+'<td><select class="single" id="brand'+i+'">';
            
           for(var dropdownValues=0;dropdownValues<result[2].length;dropdownValues++){
             row=row+'<option value="'+result[2][dropdownValues].id+'">'+result[2][dropdownValues].value+'</option>';  
           }
          row = row + '</select></td><td><input'+
        ' class="single form-control warrClass" id="warranty'+i+'" type = "text"></td>';
           row = row + '<td class="hide"><input'+
        ' class="single form-control warrClass" id="componentdata'+i+'" type = "hidden"></td>';
      /******************************************************************************/



            row = row + '<td class = "">'+'<input class="btn btn-danger"type="button"data-toggle="modal"'+' value="Add"data-target="#addModal"'+'style="background-color:#f05f40;color:white;" id="'+i+'"'+
            ' onclick="saveId('+i+')">'+
            '</td></tr>';

          addId(i);
          $('#bodyi').append(row);
                    }

          
          $('table').removeClass('hide');
          arr[i]={
                    specification:null,
                    brand:null,
                    serial:null,warranty:null,
                    component:{},
                    saved:false
                };
        





        $('#addcompobody').empty();

          for(var i=0;i<0;i++){
          
          comps[i]=result[1][i].attribute;
         var mrow='<tr><td>'+result[1][i].attribute+'</td>'+
            '<td><input class="form-control empty" id="mserial'+i+'"></td>'+
          '<td ><select class="single" id="mbrand'+i+'"><option value="q"selected'+
          '>b</option></select></td><td><input type = "text" class="single form-control" id="mwarranty'+i+'"></td><td><select class="single" id="msize'+i+'"><option value="c" selected>c</option>'+
            '</select></td></tr>';
          $('#addcompobody').append(mrow);
          
          }

          $('.single').selectpicker({width:90});
                
         }

      });
       

        $('.com').selectpicker({
        
          onChange: function(option, checked, select) {
            console.log($(option).val());console.log($(option).attr('id'));
            if(checked){
              if($(option).val()=='monitor'){
                $('.modal-body').html('');
                console.log('monitors'+$(option).val());
                var size='<label for="size">Size</label><input id="size" name>'
                $('.modal-body').append(size);
              }
              $('#hide1').val($(option).attr('id'));
              console.log($(option).attr('id'));
              console.log($('#hide1').val());
              $('.modal-title').html($(option).val());
              if(arr[$('#hide1').val()].component.hasOwnProperty($(option).val())){
                $('#serial').val(arr[$('#hide1').val()].component[$(option).val()].serial);
                $('#brand').val(arr[$('#hide1').val()].component[$(option).val()].brand);
              }
              /*arr[$('#hide1').val()].component[el.value].serial*/
              $('#myModal').show('toggle');
            }
          }
        });
        
        
        $('#next').hide();
        $('#cancel').removeClass('hide');
        $('#cancel').addClass('show');
        $('#submit').removeClass('hide');
        $('#submit').addClass('show');
      }

   // });
}
 function addId(ids){
  $('#serids').val(ids);
 }
  function save(){  
    var title=$('.modal-title').html();
    var obj=objs($('#serial').val(),$('#brand').val(),$('.modal-title').html());
    function objs(serial,brand,warranty,size,title){
      var o={};
      
      return o[title]={
        serial:serial,
        brand:brand     /*size:size;*/
      };
    }
    
    arr[$('#hide1').val()].component[title]=obj;
    console.log(arr);
    $('#serial').val("");
    $('#brand').val("");
    $('#myModal').hide('toggle');
  }

  function closeModal(){
    $('#serial').val("");
    $('#brand').val("");
    }

  var compID;
  function saveId(id){
    addId(id);
    /* console.log(comps);
     comps = [];
    for(var i=0;i<comps.length;i++){
    if(arr[id].component.hasOwnProperty(comps[i])){
                $('#mserial'+i).val(arr[$('#hide1').val()].component[$(option).val()].serial);
                $('#brand').val(arr[$('#hide1').val()].component[$(option).val()].brand);
              }
            }
      compID=id;*/
  }

function addTag(ides){
var  tagNo='PSSL'+ides;
   $.ajax({
        url:'/updateTag',
        method:'post',
        async:true,
        data:{
            'tagNo' : tagNo,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                 
             alert('data add successfully ');
                                      }

});
}

  function saveComp(){
     tempArr=[];
     var str='';
     
    /*alert(compID);
            console.log($('#mserial'+compID).val());
            console.log($('#mbrand'+compID).val());
            
    for(var i=0;i<comps.length;i++){
  var obj=objs($('#mserial'+i).val(),$('#mbrand'+i).val(),
      $('#mwarranty'+i).val(),$('#msize'+i).val(),comps[i]);
  arr[compID].component[comps[i]]=obj;*/
  for(var  i=0;i<countAddCompModal;i++){
   str=str+$('#compo'.concat(i)).val()+','+$('#srno'.concat(i)).val()+','+$('#brand'.concat(i)).val()+','+$('#war'.concat(i)).val()+','+$('#size'.concat(i)).val();
   tempArr[i]=str;
   str='?';
   }
   $('#componentdata'.concat($('#serids').val())).val(tempArr);
  // alert(tempArr);

  }

  function parsealldata(){
    var q=$('#qty').val();
    var str2='';
    var str1='';
    dataArray=[];
   
    for(var i=0;i<q;i++){
      for(var j=0;j<allAttIds1.length;j++){
   str2=str2+$('#'.concat(i).concat(j)).val()+',';}
   //+','+$('#warranty'.concat(i)).val()+'@'+$('#componentdata'.concat(i)).val();$('#serial'.concat(i)).val()+','+
   str1=str2+'$';
   str2='';
   dataArray[i]=str1;
   //str1='$';
    }
    //alert(dataArray);
    addHardware(dataArray);
  }
function objs(serial,brand,warranty,size,title){
      var o={};
      console.log(title);
       return o[title]={
        serial:serial,
        brand:brand ,
        warranty:warranty,
      sizel:size
            };
            
  
$('.empty').val('');
  $('#addModal').hide('toggle');
}
  function saveall(){

var warrClassArr = [];
var serialClassArr = [];

    $(".warrClass").each(function(){
  
    if($(this).val().trim()!=''){
       warrClassArr.push($(this).val());
      }
    });

    $(".serialClass").each(function(){
   
    if($(this).val().trim()!=''){
       serialClassArr.push($(this).val());
      }
    });

  if(qty > warrClassArr.length){
    alert('Please fill all warranty textboxes');
    return false;
   }
   else if(qty < warrClassArr.length||qty < serialClassArr.length){
    alert('Error:Please reload page');
    return false;
   }

   if(qty > serialClassArr.length){
    alert('Please fill all serial textboxes');
      return false;
   }


       
    var info;
   var firstFlag=false;
   var newinnerArr = [],newOuterArr = [];
   attlength;
  var counter = 0;
   $("select").each(function(){
       newinnerArr.push($(this).val());
      });

console.log(newinnerArr);
var limitforLoop = (attlength+1)*qty;

for(var i = 1;i<limitforLoop;i=i+attlength+1){
var newarr = [];
for(var j = 0;j<=attlength;j++){
newarr.push(newinnerArr[i+j]);
}
newarr = newarr.join(',');
newOuterArr.push(newarr);

}
newOuterArr = newOuterArr.join('||');
warrClassArr = warrClassArr.join(',');
serialClassArr = serialClassArr.join(',');
//console.log(newOuterArr,warrClassArr,serialClassArr);
addHardware(newOuterArr,warrClassArr,serialClassArr)
  /*  for(var i=0;i<qty;i++){
      if(i>0){
      info=info+';'+$('#serial'+i).val()+',';
      for(var o=0;o<col;o++){
        info=info+$('#'+i+o).val()+',';
      }
      info=info+$('#brand'+i).val()+','+$('#warranty'+i).val();
    }
    else{
    
      info=$('#serial'+i).val()+',';
    
      for(var o=0;o<col;o++){
        info=info+$('#'+i+o).val()+',';
        console.log(info);
      }
      info=info+$('#brand'+i).val()+','+$('#warranty'+i).val();
    
    }    

  }
  var a='';
  $("#inf").val(info);
  for(var i=0;i<arr.length;i++){
    for(var k=0;k<comps.length;k++){
      if(i>0){
      if(k>0){
     a= a+';'+arr[i].component[comps[k]].serial+','+arr[i].component[comps[k]].brand+','+arr[i].component[comps[k]].warranty+','+arr[i].component[comps[k]].sizel;
  }
  else{
    a=a+arr[i].component[comps[k]].serial+','+arr[i].component[comps[k]].brand+
    ','+arr[i].component[comps[k]].warranty+','+arr[i].component[comps[k]].sizel;

  }
        }
else{
  if(k>0){
     a= a+';'+arr[i].component[comps[k]].serial+','+arr[i].component[comps[k]].brand+','+arr[i].component[comps[k]].warranty+','+arr[i].component[comps[k]].sizel;
  }
  else{
    a=arr[i].component[comps[k]].serial+','+arr[i].component[comps[k]].brand+
    ','+arr[i].component[comps[k]].warranty+','+arr[i].component[comps[k]].sizel;

  }
}
}
if(i<arr.length-1){
    a=a+':';
  }
  /*else if(i==arr.length-1){
   a=a; 
  }/


}
$("#inf2").val(comps.toString());
$("#inf1").val(a);
 console.log($("#inf").val());
 console.log(a);
 console.log(comps);*/
 
  }

   function getbrand()
  {
 
   $.ajax({
        url:'/getbrand',
        method:'post',
        async:true,
        
                dataType:'json',
                success:function(result)
                {
                  var att='';
                   $('.branddrop1').html('');
                  for(var j=0;j<result[0].length;j++)
                  {
                      
                      att='<option value='+result[0][j].id+'>'+result[0][j].value+'</option>';

                       $('.branddrop1').append(att);
                  }
               }

         });
  }

  function addlinedata(t1,t2,t3,t6,t7,headid,ctypeid,arr1){
   // alert('hello line data');
   // alert(arr1);
   var arr3=[];
   arr3=arr1.split('?');
  // alert(arr3.length);
    var arr2=[];

   $.ajax({
        url:'/addline',
        method:'post',
        data:{
            't1' : t1,
            't2': t2,
            't3' : t3,
             't6' : t6,
             't7' : t7,
             'hdId' : headid,
             'ctype':ctypeid,
             'ides' :0

             },
                dataType:'json',
                success:function(result){
                 // alert('jogi');
                
                    for(var i=0;i<arr3.length;i++){
                       //alert(arr3[i]);
                       var   increment= arr3.length-1;
                       var  inc=i;
                      arr2=arr3[i].split(',');
                      if(arr3.length!=0){
                     
               addsubline(arr2[0],arr2[1],arr2[2],arr2[3],arr2[4],headid,ctypeid,result,increment,inc);
                   }
                   else{
                    if(fact==($('#qty').val())){
                    alert('add data successfully');}
                   }
                     }
                   }
             
             

});
}
 var t=0;
function addsubline(st1,st2,st3,st4,st5,headerid,ctypeid,lineid,incr,inc1){
 // allAttIds = allAttIds.join(',');
 //alert('addcomponent');
  console.log("hfshgfshgdsh sshh",st1,st2,st3,st4,st5,headerid,ctypeid,lineid);
  var ides=0;
   $.ajax({
        url:'/subaddline',
        method:'post',
        data:{
            'st1' : st1,
            'st2': st2,
            'st3' :st3,
            'st4' : st4,
            'st5'  : st5,
             'hdId' : headerid,
             'ctype':ctypeid,
             'lineid':lineid,
             'ides':ides
             },
                dataType:'json',
                success:function(result){
                  if((fact==$('#qty').val())&&(incr==inc1)){
                   t++;
              //alert('add data successfully');
                if(t==fact){
               alert('add data successfully');
               window.location.href='/viewHardware';
                  }
                  }
                
             
                                      }

});
}
function addHardware(newOuterArr){
 // allAttIds = allAttIds.join(',');
 document.getElementById("submit").disabled = true;
 var array=[];
 var newarray=[];
 var compdata=[];
 var linedata=[];
 var sublinedata=[];
  var len=$('#qty').val();

   $.ajax({
        url:'/addHardware',
        method:'post',
       
        data:{
            'attr':newOuterArr,
            'type' : $('#typel').val(),
        'invoiceNo': $('#invoiceNo').val(),
  'purchasedOrder' : $('#order').val(),
        'Quantity' : $('#qty').val(),
    'invoiceDate'  : $('#Invoicedate').val(),
    'deliveryDate' : $('#Deliverydate').val(),
    'vendor'       : $('#vendor').val(),
    'invoiceAmt'   : $('#invoiceAmt').val(),
          'ides'   : 0
             },
                dataType:'json',
                success:function(result){
                 for(var i=0;i<len;i++){
                fact++;
 array=newOuterArr[i].split("$");
// alert(array[0]);
 //alert($('#componentdata'.concat(i)).val());
 var attid= allAttIds1.toString();
 //alert(array[0]);allAttIds1
 /*alert(array[1]);
 newarray=array[1].split("@");
 linedata[i]=newarray[0];
 sublinedata[i]=newarray[1];
 alert(linedata[i]);
 compdata=newarray[0].split(",");
 alert(compdata[0]);*/
 //+','+$('#warranty'.concat(i)).val()+'@'+$('#componentdata'.concat(i)).val();$('#serial'.concat(i)).val()+','+
//console.log(compdata[0],compdata[1],compdata[2],compdata[3],compdata[4],compdata[5],compdata[6],result,$('#typel').val());
          addlinedata($('#serial'.concat(i)).val(),attid,array[0],$('#brand'.concat(i)).val(),$('#warranty'.concat(i)).val(),result,$('#typel').val(),$('#componentdata'.concat(i)).val());

             
                                      }
                                      }

});
}


 </script>