console.log(copId,copName,lineId,tagNo);
        /*var row='<tr><td>'+ ++count+'</td><td><input type="hidden" id="compId'+ count+'" value='+copId+'></td><td>'+tagNo+'<input type="hidden" id="line'+count+'" value='+lineId+'></td><td><input id="date'+count+'" class="form-control date"></input><input  type="hidden" id="tsId'+count+'" value="0"></input>'+'<td><span id="assignreg'+count+'" style="font-size:25px;color:green;padding-left:75px" class="glyphicon glyphicon-ok-circle" onclick="save2db('+count+')"><span  style="font-size:25px;color:green;padding-left:10px" class=" glyphicon glyphicon-tasks" onclick="getsubComponent('+lineId+')"></span></td><td class="hide">0</td>'+'<td class="">Draft</td>';
                  $('#bodyi').append(row);
                  jQuery('.date').datetimepicker({
                    timepicker:false,
                    format:'Y-m-d',
                    scrollMonth : false,
        scrollInput : false
                  });*/



                   onclick="addSubline('+coid+',"'+coName+'",'+lid+',"'+tag+'")