 <script>
$(document).ready(function() {
	 	
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.document-tab').addClass("active");
	 });
	 </script>

       		<div class="sub-header navbar-fixed-top  " style="z-index:1">
		
			<table style="" >
					<tr align="center" style="font-family: inherit;">
					  <td style="width:90px" id = 'docTab'>
						<a href="/document" id="a1"><img class="imageInc" src="img/bug/file.png" class="shadow" style="" height="30px" width="30px">
						</a>
					   </td>
					   <%if(roleid==1){%>
					  <td style="width:90px" id = 'docTab2'>
						<a href="/permission"><img class="imageInc" src="img/bug/permission.png" class="shadow" style="" height="30px" width="30px">

						</a>
					  </td>
					     <%}%>
	                  
	                   <td style="width:90px" id = 'docTabR'>
	                    <a href="/showRejectedFiles"><img class="imageInc" src="img/bug/rejected.png" class="shadow" style="" height="30px" width="30px"></a>
	                  </td>
	                  <td style="width:90px" id = 'docTabU' class='img-upl'>
	                    <a href="/myUploads"><img class="imageInc" src="img/folder_upload.png" class="shadow" style="" height="30px" width="30px"></a>
	                  </td>
                  
					 </tr>
					<tr style="font-size:12px;color:black" align="center">
						<td id = 'docTabName' ><a href="/document "  style="color:black" id="a1">Files</a></td>
						 <%if(roleid==1){%>
						<td id = 'docTabName2'><a href="/permission" style="color:black">Permissions</a></td><%}%>
	                    <td id = 'docTabNameR' ><a href="/showRejectedFiles" style="color:black" >Rejected Files</a></td>
	                    <td class = 'img-upl' ><a href="/myUploads" style="color:black" >My Uploads</a></td>
	                    
	             	</tr>
			 </table>
			  <!-- /#sidebar-wrapper -->
	       	        <div name="cse" id="searchbox_demo" class="col-md-8 col-md-offset-1 hide" style="z-index: 1070;position: relative;top: 2%;margin-top: -1.5%;margin-bottom: -2%;right: -51%;">
	        		<input placeholder="Search Documents by keyword" class=" form-control" name="q" id="searchBoxId" type="text" size="34" style="width: 311px; margin-top: -2%;margin-left: 23.5%;"/>
	    	</div>
	    	
        </div>
    	 	 <hr style="margin-top:3.1%;max-width:100%">

  


			 


