 <script>
$(document).ready(function() {
	 	
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.document-tab').addClass("active");
	 });
	 </script>

       		<div class="sub-header" style="z-index:1">
				<div id = 'docTab'>
				    <a href="/document" id="a1">
				    	<img class="imageInc" src="img/bug/file.png" class="shadow" style="" height="30px" width="30px"><br>Files
					</a>
				</div>
				<%if(roleid==1){%>
				<div id = 'docTab2'>
				    <a href="/permission" id="a1">
				    	<img class="imageInc" src="img/bug/permission.png" class="shadow" style="" height="30px" width="30px"><br>Permissions
					</a>
				</div>
				<%}%>
				<div id = 'docTabR'>
				    <a href="/showRejectedFiles" id="a1">
				    	<img class="imageInc" src="img/bug/rejected.png" class="shadow" style="" height="30px" width="30px"><br>Rejected Files
					</a>
				</div>
				<div id = 'docTabU' class="img-upl">
				    <a href="/myUploads" id="a1">
				    	<img class="imageInc" src="img/folder_upload.png" class="shadow" style="" height="30px" width="30px"><br>Uploads
				    </a>
				</div>
		
			 
	       	        <div name="cse" id="searchbox_demo" class="col-md-8 col-md-offset-1 hide" style="z-index: 1070;position: relative;top: 2%;margin-top: -1.5%;margin-bottom: -2%;right: -51%;">
	        		<input placeholder="Search Documents by keyword" class=" form-control" name="q" id="searchBoxId" type="text" size="34" style="width: 311px; margin-top: -2%;margin-left: 23.5%;"/>
	    	</div>
	    	
        </div>
    	 	 

  


			 


