 <script>
$(document).ready(function() {
	 	
	 	$('.modulemenu').removeClass('active');
	 	$('.portal-menu').addClass('hide');
	 	$('.document-tab').addClass("active");
	 });
	 </script>

       		<div class="sub-header navbar-fixed-top  " style="z-index:0">
		
			<table style="" >
					<tr align="center" style="font-family: inherit;">
					  <td style="width:90px" id = 'docTab'>
					     
						<a href="/document" id="a1"><img class="imageInc" src="img/bug/file.png" class="shadow" style="" height="30px" width="30px">
						</a>
						
					   </td>
					   <%if(roleid==1){%>
					  <td style="width:90px" id = 'docTab2'>
						<a href="/permission"><img class="imageInc" src="img/bug/permission.png" class="shadow" style="" height="30px" width="30px">

						</a>
					  </td>
					     <%}%>
	                  
	                   <td style="width:90px" id = 'docTabR'>
	                    <a href="/showRejectedFiles"><img class="imageInc" src="img/bug/rejected.png" class="shadow" style="" height="30px" width="30px"></a>
	                  </td>
                  
					 </tr>
					<tr style="font-size:12px;color:black" align="center">
						<td id = 'docTabName' >Files</td>
						 <%if(roleid==1){%>
						<td id = 'docTabName2'>Permissions</td><%}%>
	                    <td id = 'docTabNameR' >Rejected Files</td>
	                    
	             	</tr>
			 </table>
			  <!-- /#sidebar-wrapper -->
	       	        <div name="cse" id="searchbox_demo" class="col-md-8 col-md-offset-1" style="z-index: 1070;position: relative;top: 2%;margin-top: -1.5%;margin-bottom: -2%;right: -51%;">
	        		<input placeholder="Search Documents by keyword" class=" form-control"name="q" id="searchBoxId" type="text" size="34" style="width: 311px; margin-top: -2%;margin-left: 23.5%;"/>
	    	</div>
	    	
        </div>
    	 	 <hr style="margin-top:3.1%;max-width:100%">

  


			 

